Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

Keyboard control through LUA
  codecov.yml
  docs/source/developers_scripting.rst
  src/codegen/gen_js_enums.py
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/lua/keyboard.lua
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/ReleaseFocusNotifier.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/LoopMidiChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/LuaUserScript.qml
  src/shoopdaloop/lib/qml/ScenesWidget.qml
  src/shoopdaloop/lib/qml/ScriptingWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/qml/applications/shoopdaloop_main.qml
  src/shoopdaloop/lib/qml/applications/tracks.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/lib/session_schemas/schemas/channel.1.json
  src/shoopdaloop/lib/types.py
Due: Python

WIP
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/lua_qobject_interface_test.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/FXChain.qml
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: Python

WIP
  src/shoopdaloop/lib/lua/sandbox.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine_test.py
Due: Python

WI
  src/shoopdaloop/lib/qml/test/tst_SessionControl.qml
Due: none

WIP
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/LuaUserScript.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

Update INSTALL.md
  INSTALL.md
Due: none

WIP
  src/shoopdaloop/lib/qml/test/tst_SessionControl.qml
Due: none

Keyboard controls via updated LUA interface + bugfixes (#35)
  docs/source/developers_scripting.rst
  src/codegen/gen_js_enums.py
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/lua/keyboard.lua
  src/shoopdaloop/lib/lua/sandbox.lua
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/lua_qobject_interface_test.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/ReleaseFocusNotifier.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine_test.py
  src/shoopdaloop/lib/qml/FXChain.qml
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/LuaUserScript.qml
  src/shoopdaloop/lib/qml/ScenesWidget.qml
  src/shoopdaloop/lib/qml/ScriptingWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/qml/applications/shoopdaloop_main.qml
  src/shoopdaloop/lib/qml/applications/tracks.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_SessionControl.qml
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/lib/types.py
Due: Python

Clarify README.md
  README.md
Due: none

Fix README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Update usage.rst
  docs/source/usage.rst
Due: none

Update usage_loopcontrols.rst
  docs/source/usage_loopcontrols.rst
Due: none

Fix a segfault due to incorrect math in the replace audio function.
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
Due: C(++)

Fix a segfault due to incorrect math in the replace audio function. (#41)
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
Due: C(++)

Update codecov.yml
  codecov.yml
Due: none

Delete .coverage
  .coverage
Due: none

Record into next empty loop(s) via keyboard key N
  src/shoopdaloop/lib/lua/keyboard.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python

Record into next empty loop(s) via keyboard key N (#45)
  src/shoopdaloop/lib/lua/keyboard.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python

Loop mode keys select loops by mode if none already selected
  src/shoopdaloop/lib/lua/keyboard.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python

Alt + Arrow keys will shrink selection of loops
  src/shoopdaloop/lib/lua/keyboard.lua
Due: none

Overdub
  src/shoopdaloop/lib/lua/keyboard.lua
Due: none

Loop mode keys select loops by mode, shrink selection with Alt (#47)
  src/shoopdaloop/lib/lua/keyboard.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python

Quasi-overdub with O key (record next loop and play current) (#48)
  src/shoopdaloop/lib/lua/keyboard.lua
Due: none

Fix overdub
  src/shoopdaloop/lib/lua/keyboard.lua
Due: none

Fix overdub (#49)
  src/shoopdaloop/lib/lua/keyboard.lua
Due: none

WIP
  src/shoopdaloop/lib/lua/runtime_init.lua
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/lua_qobject_interface_test.py
  src/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine_test.py
  src/shoopdaloop/lib/qml/LuaUserScript.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Lua.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
Due: Python

WIP
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/qml/test/tst_Lua.qml
Due: Python, C(++)

Restructure script dirs.
  docs/source/developers_scripting.rst
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/lua/keyboard.lua
  src/shoopdaloop/lib/lua/lib/shoop_control.lua
  src/shoopdaloop/lib/lua/lib/shoop_coords.lua
  src/shoopdaloop/lib/lua/lib/shoop_format.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/lua/system/runtime_init.lua
  src/shoopdaloop/lib/lua/system/sandbox.lua
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python

WIP
  src/shoopdaloop/lib/qml/MidiLearn.qml
Due: none

WIP
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/MIDIControlDialect.py
  src/shoopdaloop/lib/q_objects/MIDIControlInputRule.py
  src/shoopdaloop/lib/q_objects/MIDIControlLink.py
  src/shoopdaloop/lib/q_objects/MIDIControlManager.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/MidiControlPort.qml
  src/shoopdaloop/lib/qml/MidiLearn.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/Session.qml
Due: Python

WIP
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/MidiScripting.py
  src/shoopdaloop/lib/midi.js
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/LuaUserScript.qml
  src/shoopdaloop/lib/qml/MidiLearn.qml
  src/shoopdaloop/lib/qml/Session.qml
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/JackSession.py
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/port_input_remap_monitor.py
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/JackControlClient.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/MidiLearn.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/JackControlClient.py
  src/shoopdaloop/lib/qml/MidiLearn.qml
Due: Python
