Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

Update README.md
  README.md
Due: none

wip
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
Due: C(++)

wip
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: none

wip
  docs/source/concept.rst
  docs/source/resources/n_cycles_control.png
  docs/source/resources/syncloop.gif
  docs/source/usage.loopcontrols.rst
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/applications/shoopdaloop_main.qml
Due: none

wip
  src/libshoopdaloop/internal/BufferQueue.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/AudioPort.cpp
  src/libshoopdaloop/internal/BufferQueue.cpp
  src/libshoopdaloop/test/unit/test_DummyPorts.cpp
  src/libshoopdaloop/test/unit/test_InternalAudioPort.cpp
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/AudioPort.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/jack/JackAudioPort.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/integration/test_chain_internal_passthrough_mix.cpp
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
  src/libshoopdaloop/test/integration/test_chain_single_drywet_loop.cpp
  src/libshoopdaloop/test/integration/test_chain_single_midi_passthrough.cpp
  src/libshoopdaloop/test/unit/test_DummyPorts.cpp
  src/libshoopdaloop/test/unit/test_InternalAudioPort.cpp
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/CustomProcessingChain.cpp
  src/libshoopdaloop/internal/CustomProcessingChain.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/lv2/LV2.cpp
  src/libshoopdaloop/internal/lv2/LV2.h
  src/libshoopdaloop/test/integration/test_chain_single_drywet_loop.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/MidiPort.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/lib/session_schemas/schemas/audioport.1.json
  src/shoopdaloop/lib/session_schemas/schemas/midiport.1.json
Due: Python, C(++)

wip
  docs/source/usage.loopcontrols.rst
Due: none

wip
  docs/source/resources/grab_button.png
  docs/source/usage.loopcontrols.rst
Due: none

WIP
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/qml/ClickTrackDialog.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
Due: Python

wip
  src/libshoopdaloop/accelerate/shoop_accelerate.cpp
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
  src/shoopdaloop/lib/qml/Session.qml
Due: Python, C(++)

Audio rendering easier on the eyes
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
Due: Python

wip
  src/shoopdaloop/lib/qml/CarlaWaylandWrapper.qml
  src/shoopdaloop/lib/qml/DetailsPane.qml
Due: none

MacOS build fix
  src/libshoopdaloop/internal/AudioPort.h
Due: C(++)

Fix broken QML test
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: none

wip
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/internal/GraphLoop.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
  src/libshoopdaloop/test/integration/test_chain_single_drywet_loop.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/IconWithText.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
Due: Python, C(++)

wip
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

wip
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: none

wip
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
  src/shoopdaloop/qml_tests.py
Due: Python, C(++)

wip
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
Due: none

wip
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
Due: Python

wip
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

WIP
  pyproject.toml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: none

wip
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: none

WIP
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
