Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  distribution/dockerfiles/base_manylinux_2_28.Dockerfile
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/prepare_build_manylinux_2_28/action.yml
  distribution/dockerfiles/base_manylinux_2_28.Dockerfile
Due: none

wip
  distribution/dependencies/base_manylinux_2_28
Due: none

wip
  distribution/dependencies/base_manylinux_2_28
  src/shoopdaloop/lib/qml/CompositeLoop.qml
Due: none

wip
  distribution/dockerfiles/base_manylinux_2_28.Dockerfile
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

wip
  distribution/dockerfiles/base_manylinux_2_28.Dockerfile
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
Due: Python

wip
  .github/actions/qoverage_instrument/action.yml
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
  src/shoopdaloop/lib/recursive_jsvalue_convert.py
Due: Python

Try del engine
  src/shoopdaloop/lib/q_objects/Application.py
Due: Python

wip
  src/shoopdaloop/run_qml_tests.py
Due: Python

wip
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
Due: Python

wip
  src/shoopdaloop/lib/q_objects/QoverageCollectorFactory.py
Due: Python

wip
  src/shoopdaloop/lib/qml/CompositeLoop.qml
Due: none

wip
  scripts/run_and_generate_coverage.sh
Due: none

wip
  .github/actions/qoverage_generate_report/action.yml
Due: none

wip
  .github/actions/qoverage_generate_report/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/test_backend/action.yml
  src/libshoopdaloop/internal/jack/jack_wrappers.cpp
  src/libshoopdaloop/internal/jack/jack_wrappers.h
  src/libshoopdaloop/internal/lv2/lilv_wrappers.cpp
  src/libshoopdaloop/internal/lv2/lilv_wrappers.h
Due: C(++)

Fix coverage build, some bugfixes (#275)
  .github/actions/prepare_build_manylinux_2_28/action.yml
  .github/actions/qoverage_generate_report/action.yml
  .github/actions/qoverage_instrument/action.yml
  .github/actions/test_backend/action.yml
  .github/actions/test_python/action.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_ci_containers.yml
  distribution/dependencies/base_manylinux_2_28
  distribution/dependencies/run_base_debian
  distribution/dockerfiles/base_manylinux_2_28.Dockerfile
  scripts/run_and_generate_coverage.sh
  src/libshoopdaloop/internal/jack/jack_wrappers.cpp
  src/libshoopdaloop/internal/jack/jack_wrappers.h
  src/libshoopdaloop/internal/lv2/lilv_wrappers.cpp
  src/libshoopdaloop/internal/lv2/lilv_wrappers.h
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/QoverageCollectorFactory.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
  src/shoopdaloop/lib/recursive_jsvalue_convert.py
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

Update run_base_arch
  distribution/dependencies/run_base_arch
Due: none

Update run_base_debian
  distribution/dependencies/run_base_debian
Due: none

Update build_and_test.yml
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/workflows/build_and_test.yml
Due: none
