Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  .github/actions/install_boost_headers/action.yml
Due: none

WIP
  .github/actions/install_boost_headers/action.yml
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/CMakeLists.txt
Due: none

WIP
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/ConnectedPort.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/DummyAudioSystem.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/LoggingBackend.cpp
Due: C(++)

WIP
  src/CMakeLists.txt
Due: none

WIP
  .github/actions/build_qt/action.yml
  .github/workflows/build_qt.yml
Due: none

WIP
  .github/workflows/build_qt.yml
Due: none

WIP
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/actions/build_wheel/action.yml
  .github/workflows/build_and_test.yml
  src/CMakeLists.txt
Due: none

WIP
  .github/actions/build_wheel/action.yml
Due: none

WIP
  .github/workflows/build_and_test.yml
  pyproject.toml
Due: none

WIP
  .github/workflows/build_and_test.yml
  src/CMakeLists.txt
Due: none

WIP
  pyproject.toml
Due: none

WIP
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/qml_types/RenderAudioWaveform/CMakeLists.txt
Due: none

WIP
  .github/workflows/build_and_test.yml
  .github/workflows/build_qt.yml
  src/libshoopdaloop/qml_types/RenderAudioWaveform/CMakeLists.txt
  src/libshoopdaloop/qml_types/RenderAudioWaveform/RenderAudioWaveform.qmltypes
  src/libshoopdaloop/qml_types/RenderAudioWaveform/qmldir
Due: none

WIP
  src/libshoopdaloop/qml_types/RenderAudioWaveform/CMakeLists.txt
  src/libshoopdaloop/qml_types/RenderAudioWaveform/RenderAudioWaveform.h
Due: C(++)

WIP
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/qml_types/RenderAudioWaveform/RenderAudioWaveform.qmltypes
  src/libshoopdaloop/qml_types/RenderAudioWaveform/qmldir
Due: none

WIP
  src/libshoopdaloop/qml_types/RenderAudioWaveform/CMakeLists.txt
Due: none

WIP
  .github/workflows/build_and_test.yml
  src/CMakeLists.txt
  src/libshoopdaloop/CMakeLists.txt
Due: none

WIP
  .github/workflows/build_and_test.yml
  py-build-cmake-overrides.toml
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/qml_types/RenderAudioWaveform/RenderAudioWaveform.h
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/extension_fallbacks/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/extension_fallbacks/__init__.py
  src/shoopdaloop/lib/qml/extension_checks/check_RenderAudioWaveform.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python, C(++)

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
