Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  distribution/dependencies/build_base_debian_bullseye
  distribution/dockerfiles/build_base_debian_bullseye.Dockerfile
Due: none

wip
  distribution/dockerfiles/build_base_debian_bullseye.Dockerfile
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/prepare_build_linux/action.yml
  distribution/dockerfiles/build_base_debian_bullseye.Dockerfile
Due: none

wip
  .github/workflows/build_and_test.yml
  src/rust/shoop_rs/shoop_rs.cpp
Due: C(++)

wip
  .github/actions/prepare_build_linux/action.yml
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/cxx/cxx-shoop/ShoopQObject.cpp
  src/rust/shoop_rs/src/cxx/cxx-shoop/ShoopQObject.h
  src/rust/shoop_rs/src/cxx/cxx-shoop/is_called_from_qobj_thread.h
  src/rust/shoop_rs/src/shoop_rs_macros_tests/shoop_rs_macros_test.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_os_utils.rs
  src/rust/shoop_rs_macros/src/lib.rs
Due: C(++)

wipg
  README.md
  src/rust/shoop_rs/CMakeLists.txt
  src/rust/shoop_rs/Cargo.toml
  src/rust/shoop_rs/shoop_rs.cpp
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/LuaScript.qml
  src/shoopdaloop/lib/qml/LuaScriptManager.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_track_controls.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
Due: Python, C(++)

wip
  .github/actions/prepare_build/action.yml
  .github/actions/prepare_build_linux/action.yml
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/internal/MidiRingbuffer.cpp
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_track_controls.qml
Due: C(++)

wip
  .github/actions/prepare_build/action.yml
  src/rust/shoop_rs/CMakeLists.txt
Due: none

wip
  .github/actions/prepare_build/action.yml
Due: none

wip
  src/rust/shoop_rs/shoop_rs.cpp
  src/shoopdaloop/lib/qml_helpers.py
Due: Python, C(++)

wip
  .github/actions/build_toplevel/action.yml
  .github/actions/post_build/action.yml
  .github/actions/post_build_linux/action.yml
  scripts/generate_auditwheel_excludes.py
Due: none

wip
  distribution/dependencies/build_base_debian_bullseye
  distribution/dependencies/build_base_ubuntu_latest
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
Due: none

wip
  scripts/generate_auditwheel_excludes.py
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
Due: none

wip
  .github/actions/post_build_linux/action.yml
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
Due: none

wip
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
Due: none

wip
  .github/actions/build_toplevel/action.yml
Due: none

wip
  .github/actions/build_toplevel/action.yml
  .github/actions/post_build/action.yml
  .github/actions/post_build_linux/action.yml
  scripts/generate_auditwheel_excludes.py
  src/rust/shoop_rs/Cargo.toml
  src/rust/shoop_rs/src/cxx/cxx-shoop/register_qml_types.h
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
Due: C(++)

wip
  src/rust/shoop_rs/CMakeLists.txt
  src/rust/shoop_rs/Cargo.toml
  src/rust/shoop_rs/aqtinstall.log
  src/rust/shoop_rs/shoop_rs.cpp
  src/rust/shoop_rs/src/cxx/cxx-shoop/register_qml_type.h
  src/rust/shoop_rs/src/cxx/cxx-shoop/register_qml_types.h
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_os_utils.rs
  src/shoopdaloop/lib/qml_helpers.py
Due: Python, C(++)

wip
  src/rust/shoop_rs/Cargo.toml
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/logging/intialize.rs
  src/rust/shoop_rs/src/logging/mod.rs
  src/rust/shoop_rs/src/qobj/mod.rs
  src/rust/shoop_rs/src/qobj/qobj_file_io.rs
  src/rust/shoop_rs/src/qobj/qobj_os_utils.rs
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

wip
  .github/workflows/build_and_test.yml
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/logging/macros.rs
  src/rust/shoop_rs/src/logging/mod.rs
  src/rust/shoop_rs/src/qobj/qobj_file_io.rs
Due: none

wip
  distribution/pyinstaller/shoopdaloop.spec
Due: none

wip
  .github/actions/prepare_build/action.yml
  .github/workflows/build_and_test.yml
  distribution/pyinstaller/shoopdaloop.spec
Due: none

wip
  .github/actions/test_backend/action.yml
  scripts/do_glob.py
  src/rust/shoop_rs/CMakeLists.txt
Due: none

wip
  src/rust/shoop_rs/CMakeLists.txt
Due: none

wip
  .github/actions/install_package/action.yml
  .github/actions/test_rust/action.yml
  .github/actions/test_toplevel/action.yml
Due: none

wip
  .github/actions/test_rust/action.yml
Due: none

wip
  .github/actions/test_toplevel/action.yml
Due: none

wip
  .github/actions/test_rust/action.yml
  src/rust/shoop_rs/Cargo.toml
  src/rust/shoop_rs/src/logging/intialize.rs
Due: none
