Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

wip
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
Due: none

Add way to create composites on Akai APC Mini (#358)
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
Due: Python

Small bugfixes
  src/libshoopdaloop/internal/ProcessProfiling.h
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: C(++)

Fix QML tests
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
Due: Python

Fix segfaults
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/unit/test_DummyAudioMidiDriver.cpp
Due: C(++)

wip
  pyproject.toml
  src/shoopdaloop/lib/q_objects/ControlHandler.py
Due: Python

wip
  pyproject.toml
  src/libshoopdaloop/test/unit/test_DummyAudioMidiDriver.cpp
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: C(++)

Fix QML tests (#359)
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/unit/test_DummyAudioMidiDriver.cpp
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python, C(++)

Explicit Python dependency versions
  pyproject.toml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml (#362)
  .github/dependabot.yml
Due: none

Update .gitignore
  .vscode/.gitignore
  .vscode/c_cpp_properties.json
  .vscode/settings.json
Due: none

Update .gitignore (#363)
  .vscode/.gitignore
  .vscode/c_cpp_properties.json
  .vscode/settings.json
Due: none

update
  pyproject.toml
Due: none

Explicit Python dependency versions (#361)
  pyproject.toml
Due: none

Update .gitmodules
  .gitmodules
Due: none

Try different NumPy version
  pyproject.toml
Due: none

Update action.yml
  .github/actions/install_package/action.yml
Due: none

Update build_and_test.yml
  .github/workflows/build_and_test.yml
Due: none

Upgrade pip during actions run (#376)
  .github/actions/install_package/action.yml
Due: none

add build too
  .github/workflows/build_and_test.yml
Due: none

fix delocate path
  .github/actions/post_build_macos/action.yml
Due: none

wip
  .github/actions/prepare_build_macos/action.yml
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

Fix composites determinism
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
Due: Python

wip
  pyproject.toml
Due: none

Update pyproject.toml for numpy version dependent on python version
  pyproject.toml
Due: none

wip
  src/shoopdaloop/lib/q_objects/FileIO.py
Due: Python

Fix composite determinism (#360)
  pyproject.toml
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
Due: Python

Update FileIO.py
  src/shoopdaloop/lib/q_objects/FileIO.py
Due: Python

wip
  src/shoopdaloop/lib/qml/CarlaWaylandWrapper.qml
Due: none

Fix coverage build composite loop behavior
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
Due: Python

Fix coverage build composite loop behavior (#379)
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
Due: Python

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
