Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

wip
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/connect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
Due: none

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qsharedpointer_qobject.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qvariant_helpers.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qvariant_qobject.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qvariant_qsharedpointer_qobject.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qsharedpointer_qobject.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qvariant_helpers.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qvariant_qobject.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qvariant_qsharedpointer_qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: C(++)

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
Due: none

wip
  distribution/windows/shoopdaloop.bat
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/rust/config/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/packaging/src/portable_folder_common.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: Python

wip
  src/qml/Loop.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/Loop.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/BackendLoopWithChannels.qml
  src/qml/Loop.qml
  src/qml/test/tst_SessionDescriptor_default.qml
  src/qml/test/tst_Session_channels.qml
  src/rust/config/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
Due: Python

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/Backend.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
  src/python/shoopdaloop/lib/q_objects/FXChain.py
  src/python/shoopdaloop/lib/q_objects/Port.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/CompositeLoop.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/rust/frontend/Cargo.toml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qthread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_compositeloop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_compositeloop_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread_bridge.rs
  src/rust/frontend/src/engine_update_thread.rs
  src/rust/frontend/src/lib.rs
  src/rust/shoopdaloop/src/main_impl.rs
Due: Python

wip
  src/python/shoopdaloop/__init__.py
  src/python/shoopdaloop/lib/engine_update_thread.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/lib.rs
  src/rust/shoopdaloop/src/main_impl.rs
  src/rust/shoopdaloop/src/shoop_rust_py/init.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python

wip
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qsharedpointer_qobject.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qthread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_backend_wrapper_bridge.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
Due: Python

wip
  src/python/shoopdaloop/lib/loop_helpers.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
  src/python/shoopdaloop/lib/q_objects/ControlHandler.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python

wip
  distribution/windows/shoopdaloop.bat
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
  src/qml/test/tst_CompositeLoop_running.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/shoopdaloop/build.rs
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
  src/python/shoopdaloop/lib/q_objects/ControlHandler.py
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_CompositeLoop_scheduling.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
Due: Python

wip
  src/backend/internal/AudioChannel.cpp
  src/backend/libshoopdaloop_backend.cpp
Due: C(++)

wip
  src/backend/internal/MidiChannel.cpp
Due: C(++)

wip
  src/backend/internal/AudioChannel.cpp
  src/backend/internal/MidiChannel.cpp
Due: C(++)

wip
  src/backend/internal/process_loops.h
Due: C(++)

wip
  src/qml/AppControls.qml
  src/qml/MonitorDspLoadGraph.qml
  src/qml/MonitorWindow.qml
  src/qml/Session.qml
Due: none

wip
  vcpkg/vcpkg.json
Due: none

wip
  src/backend/internal/BackendSession.cpp
  src/backend/internal/ObjectPool.h
  src/backend/types.h
  src/qml/AppControls.qml
  src/qml/MonitorAudioBufferPool.qml
  src/qml/MonitorWindow.qml
  src/qml/Session.qml
  src/rust/backend_bindings/src/backend_session.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
Due: C(++)

wip
  src/backend/internal/process_loops.h
  src/python/shoopdaloop/lib/engine_update_thread.py
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/qml/AppControls.qml
  src/qml/MonitorAudioBufferPool.qml
  src/qml/MonitorBackendRefreshRate.qml
  src/qml/MonitorWindow.qml
  src/qml/Session.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread_bridge.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python, C(++)

wip
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/qml/MonitorAudioBufferPool.qml
  src/qml/MonitorBackendRefreshRate.qml
  src/qml/MonitorDspLoadGraph.qml
  src/rust/backend_bindings/src/audio_channel.rs
  src/rust/backend_bindings/src/midi_channel.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/qml/MonitorAudioBufferPool.qml
  src/qml/MonitorBackendRefreshRate.qml
  src/qml/MonitorDspLoadGraph.qml
Due: Python

wip
  src/rust/packaging/src/os_dependent_modules/linux_appdir.rs
  src/rust/packaging/src/os_dependent_modules/windows_portable_folder.rs
Due: none

wip
  src/rust/packaging/src/os_dependent_modules/linux_appdir.rs
Due: none

wip
  distribution/linux/includelist
  src/rust/packaging/src/os_dependent_modules/linux_appdir.rs
Due: none

Add monitor window, screen-lock backend refresh (#515)
  distribution/linux/includelist
  src/backend/internal/BackendSession.cpp
  src/backend/internal/ObjectPool.h
  src/backend/internal/process_loops.h
  src/backend/types.h
  src/python/shoopdaloop/lib/engine_update_thread.py
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/python/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/qml/AppControls.qml
  src/qml/MonitorAudioBufferPool.qml
  src/qml/MonitorBackendRefreshRate.qml
  src/qml/MonitorDspLoadGraph.qml
  src/qml/MonitorWindow.qml
  src/qml/Session.qml
  src/rust/backend_bindings/src/audio_channel.rs
  src/rust/backend_bindings/src/backend_session.rs
  src/rust/backend_bindings/src/midi_channel.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread_bridge.rs
  src/rust/packaging/src/os_dependent_modules/linux_appdir.rs
  src/rust/packaging/src/os_dependent_modules/windows_portable_folder.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
  vcpkg/vcpkg.json
Due: Python, C(++)

Refresh rate: bugfixes and extra developer settings
  src/python/shoopdaloop/__init__.py
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/qml/MonitorWindow.qml
  src/qml/SettingsDialog.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread_bridge.rs
Due: Python

Refresh rate: bugfixes and extra developer settings (#516)
  src/python/shoopdaloop/__init__.py
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/qml/MonitorWindow.qml
  src/qml/SettingsDialog.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread_bridge.rs
Due: Python

Fix Rust warnings
  Cargo.toml
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/qml/RenderChannelData.qml
  src/qml/Session.qml
  src/rust/config/src/config.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qthread.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qvariant_helpers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_find_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_release_focus_notifier.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_release_focus_notifier_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_generic_test_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port_bridge.rs
  src/rust/frontend/src/engine_update_thread.rs
  src/rust/frontend/src/loop_mode_helpers.rs
  src/rust/packaging/src/dependencies.rs
  src/rust/packaging/src/os_dependent_modules/windows_portable_folder.rs
  src/rust/shoopdaloop/build.rs
  src/rust/shoopdaloop/src/main_impl.rs
  src/rust/shoopdaloop/src/py_config.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_port.rs
  src/rust/packaging/src/os_dependent_modules/linux_appdir.rs
Due: Python

wip
  .github/actions/build_base/action.yml
  .github/actions/build_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
