Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  src/libshoopdaloop/internal/AudioSystemInterface.h
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/rtaudiomidi/RtAudioSystem.cpp
  src/libshoopdaloop/internal/rtaudiomidi/RtAudioSystem.h
Due: C(++)

wip
  src/libshoopdaloop/internal/AudioSystemInterface.h
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/process_when.h
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioSystemInterface.h
  src/libshoopdaloop/internal/jack/JackAudioSystem.cpp
  src/libshoopdaloop/internal/jack/JackAudioSystem.h
Due: C(++)

WIP
  .vscode/c_cpp_properties.json
  .vscode/settings.json
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/AudioMidiDrivers.cpp
  src/libshoopdaloop/internal/AudioMidiDrivers.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.cpp
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/types.h
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
Due: C(++)

WIP
  .vscode/tasks.json
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/AudioMidiDrivers.cpp
  src/libshoopdaloop/internal/AudioMidiDrivers.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/CommandQueue.cpp
  src/libshoopdaloop/internal/ConnectedChannel.cpp
  src/libshoopdaloop/internal/ConnectedLoop.cpp
  src/libshoopdaloop/internal/ConnectedPort.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/LoadDynamicLibrary.cpp
  src/libshoopdaloop/internal/LoggingBackend.cpp
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/LoggingEnabled.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiStateTracker.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/internal/ObjectPool.h
  src/libshoopdaloop/internal/PortInterface.h
  src/libshoopdaloop/internal/WithCommandQueue.h
  src/libshoopdaloop/internal/jack/JackApi.h
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.cpp
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.h
  src/libshoopdaloop/internal/jack/JackPort.cpp
  src/libshoopdaloop/internal/jack/JackPort.h
  src/libshoopdaloop/internal/jack/JackTestApi.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/internal/libshoopdaloop_test_if.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
  src/libshoopdaloop/types.h
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/BasicLoop.h
  src/libshoopdaloop/internal/ConnectedDecoupledMidiPort.cpp
  src/libshoopdaloop/internal/ConnectedDecoupledMidiPort.h
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/WithCommandQueue.h
  src/libshoopdaloop/internal/libshoopdaloop_test_if.h
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

It builds
  .vscode/tasks.json
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/AudioMidiDrivers.cpp
  src/libshoopdaloop/internal/AudioMidiDrivers.h
  src/libshoopdaloop/internal/AudioPortInterface.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/ConnectedPort.cpp
  src/libshoopdaloop/internal/CustomProcessingChain.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/MidiPortInterface.h
  src/libshoopdaloop/internal/PortInterface.h
  src/libshoopdaloop/internal/jack/JackAllPorts.cpp
  src/libshoopdaloop/internal/jack/JackAllPorts.h
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.cpp
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.h
  src/libshoopdaloop/internal/jack/JackAudioPort.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.h
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/jack/JackPort.cpp
  src/libshoopdaloop/internal/jack/JackPort.h
  src/libshoopdaloop/internal/jack/JackTestApi.cpp
  src/libshoopdaloop/internal/libshoopdaloop_test_if.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.h
  src/libshoopdaloop/internal/shoop_globals.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/libshoopdaloop/test/integration/test_libshoopdaloop_if.cpp
  src/libshoopdaloop/test/unit/test_DummyAudioMidiDriver.cpp
Due: C(++)

Builds and the tests run (some fail)
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

WIP
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/integration/test_chains.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/ConnectedChannel.h
  src/libshoopdaloop/internal/ConnectedFXChain.h
  src/libshoopdaloop/internal/ConnectedLoop.h
  src/libshoopdaloop/internal/ConnectedPort.cpp
  src/libshoopdaloop/internal/ConnectedPort.h
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/PortInterface.h
  src/libshoopdaloop/internal/ProcessingNodeInterface.h
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

SDL starts again, albeit with errors
  src/codegen/gen_js_enums.py
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/types.h
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/logging.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
Due: Python

WIP
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Backend.py
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/test/tst_Backend.qml
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/applications/test_backend.qml
  src/shoopdaloop/lib/qml/applications/test_backend_with_loop.qml
  src/shoopdaloop/lib/qml/applications/tracks.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Backend.qml
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

All tests pass.
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
Due: Python

Fix barebones
  .github/workflows/build_and_test.yml
  .vscode/tasks.json
  src/libshoopdaloop/internal/AudioMidiDrivers.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

Application icon display on window and in taskbar (Windows). (#135)
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/resources/favicon.32.png
  src/shoopdaloop/resources/favicon.xcf
  src/shoopdaloop/resources/icon.xcf
  src/shoopdaloop/resources/icon/icon-128.png
  src/shoopdaloop/resources/icon/icon-256.png
  src/shoopdaloop/resources/icon/icon-32.png
  src/shoopdaloop/resources/icon/icon-64.png
Due: Python

Resolving merge issues
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/ConnectedLoop.cpp
  src/libshoopdaloop/internal/ConnectedPort.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/GraphNode.h
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/MidiBufferInterfaces.h
  src/libshoopdaloop/internal/MidiMessage.h
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/internal/jack/JackAllPorts.h
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/shoop_globals.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/integration/test_graph_construction.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioPort.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/ConnectedFXChain.cpp
  src/libshoopdaloop/internal/ConnectedLoop.cpp
  src/libshoopdaloop/internal/ConnectedPort.cpp
  src/libshoopdaloop/internal/CustomProcessingChain.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/MidiBufferingInputPort.cpp
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.h
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

Almost builds
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/internal/MidiSortingReadWritePort.h
  src/libshoopdaloop/internal/PortInterface.h
  src/libshoopdaloop/internal/ProcessingChainInterface.h
  src/libshoopdaloop/internal/jack/JackAllPorts.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.h
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/jack/JackPort.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.h
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/libshoopdaloop/test/integration/test_graph_construction.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/ConnectedPort.cpp
  src/libshoopdaloop/internal/ConnectedPort.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/PortInterface.h
  src/libshoopdaloop/internal/jack/JackAudioPort.cpp
  src/libshoopdaloop/internal/jack/JackPort.cpp
  src/libshoopdaloop/internal/jack/JackPort.h
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.h
Due: C(++)

It builds again.
  .vscode/tasks.json
  src/libshoopdaloop/internal/ConnectedChannel.cpp
  src/libshoopdaloop/internal/ConnectedChannel.h
  src/libshoopdaloop/internal/ConnectedPort.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/MidiBufferingInputPort.h
  src/libshoopdaloop/internal/PortInterface.h
  src/libshoopdaloop/internal/graph_processing_order.cpp
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/jack/JackPort.h
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/integration/test_graph_construction.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/jack/JackTestApi.h
Due: C(++)

WIP
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/unit/test_ObjectPool.cpp
  src/libshoopdaloop/test/unit/test_Ports.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/ConnectedPort.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/test/unit/test_Ports.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioPort.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/test/unit/test_Ports.cpp
Due: C(++)

WIP
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/unit/test_DummyPorts.cpp
  src/libshoopdaloop/test/unit/test_InternalAudioPort.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/ConnectedChannel.cpp
  src/libshoopdaloop/internal/ConnectedChannel.h
  src/libshoopdaloop/internal/ConnectedFXChain.cpp
  src/libshoopdaloop/internal/ConnectedFXChain.h
  src/libshoopdaloop/internal/ConnectedPort.cpp
  src/libshoopdaloop/internal/ConnectedPort.h
  src/libshoopdaloop/internal/CustomProcessingChain.cpp
  src/libshoopdaloop/internal/CustomProcessingChain.h
  src/libshoopdaloop/internal/GraphAudioPort.h
  src/libshoopdaloop/internal/GraphPort.cpp
  src/libshoopdaloop/internal/GraphPort.h
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/PortInterface.h
  src/libshoopdaloop/internal/ProcessingChainInterface.h
  src/libshoopdaloop/internal/libshoopdaloop_test_if.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/shoop_globals.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/libshoopdaloop/test/integration/test_graph_construction.cpp
  src/libshoopdaloop/test/unit/test_DummyPorts.cpp
  src/libshoopdaloop/test/unit/test_InternalAudioPort.cpp
  src/shoopdaloop/lib/q_objects/LoopChannel.py
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/test/unit/test_DummyAudioMidiDriver.cpp
  src/libshoopdaloop/test/unit/test_InternalAudioPort.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/GraphNode.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/lv2/LV2.cpp
  src/libshoopdaloop/internal/lv2/LV2.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
Due: none

WIP
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
