Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  .github/actions/build_wheel/action.yml
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/actions/build_wheel/action.yml
Due: none

WIP
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

WIP
  distribution/dependencies/build_base
  distribution/dependencies/run_base
  src/shoopdaloop/lib/qml/CompositeLoop.qml
Due: none

WIP
  .github/actions/qml_test/action.yml
  src/libshoopdaloop/internal/JackPort.cpp
Due: C(++)

WIP
  .github/workflows/build_and_test.yml
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
Due: none

WIP
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
  src/shoopdaloop/lib/qml/LoopMidiChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: Python

WIP
  docs/source/_ext/shoop_docstrings.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#83)
  README.md
Due: none

WIP
  src/shoopdaloop/lib/qml/test/tst_DryWet.qml
Due: none

Update shoop_docstrings.py
  docs/source/_ext/shoop_docstrings.py
Due: none

Update shoop_docstrings.py (#85)
  docs/source/_ext/shoop_docstrings.py
Due: none

Update LICENSE
  LICENSE
Due: none

playsound -> pydub, resampy -> samplerate
  README.md
  pyproject.toml
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
  src/shoopdaloop/lib/q_objects/FileIO.py
Due: Python

WIP
  src/libshoopdaloop/internal/DummyAudioSystem.h
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/qml/ClickTrackDialog.qml
Due: none

WIP
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
Due: Python

WIP
  src/libshoopdaloop/internal/CarlaLV2ProcessingChain.cpp
Due: C(++)

WIP
  pyproject.toml
Due: none

WIP
  src/libshoopdaloop/internal/DummyAudioSystem.cpp
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: C(++)

Change playsound -> pydub, resampy -> samplerate (#86)
  README.md
  pyproject.toml
  src/libshoopdaloop/internal/DummyAudioSystem.cpp
  src/libshoopdaloop/internal/DummyAudioSystem.h
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: none

WIP
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/qml/LoopMidiChannel.qml
  src/shoopdaloop/lib/qml/test/tst_DryWet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
  src/shoopdaloop/third_party/QtMaterialDesignIcons/resources/QtMaterialIcons_rc.py
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/qml/LoopMidiChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
Due: Python

WIP
  src/libshoopdaloop/test/integration/test_chains.cpp
Due: C(++)

Several bugfixes (#66)
  docs/source/_ext/shoop_docstrings.py
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
  src/shoopdaloop/lib/qml/LoopMidiChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
  src/shoopdaloop/third_party/QtMaterialDesignIcons/resources/QtMaterialIcons_rc.py
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/CarlaLV2ProcessingChain.h
Due: C(++)

WIP
  src/shoopdaloop/third_party/QtMaterialDesignIcons/.gitattributes
  src/shoopdaloop/third_party/QtMaterialDesignIcons/.gitignore
  src/shoopdaloop/third_party/QtMaterialDesignIcons/LICENSE
  src/shoopdaloop/third_party/QtMaterialDesignIcons/README.md
  src/shoopdaloop/third_party/QtMaterialDesignIcons/example/QtMaterialIconsExample.qbs
  src/shoopdaloop/third_party/QtMaterialDesignIcons/example/main.cpp
  src/shoopdaloop/third_party/QtMaterialDesignIcons/example/main.qml
  src/shoopdaloop/third_party/QtMaterialDesignIcons/qml/MaterialDesignIcon.qml
  src/shoopdaloop/third_party/QtMaterialDesignIcons/qml/MaterialDesignIconGlyphs.js
  src/shoopdaloop/third_party/QtMaterialDesignIcons/resources/QtMaterialIcons.qrc
  src/shoopdaloop/third_party/QtMaterialDesignIcons/resources/QtMaterialIcons_rc.py
  src/shoopdaloop/third_party/QtMaterialDesignIcons/resources/materialdesignicons-webfont.svg
  src/shoopdaloop/third_party/QtMaterialDesignIcons/resources/materialdesignicons-webfont.ttf
  src/shoopdaloop/third_party/QtMaterialDesignIcons/sources/MaterialDesignIcons.cpp
  src/shoopdaloop/third_party/QtMaterialDesignIcons/sources/MaterialDesignIcons.h
  src/shoopdaloop/third_party/pynsm/LICENSE
  src/shoopdaloop/third_party/pynsm/SOURCE
  src/shoopdaloop/third_party/pynsm/__init__.py
  src/shoopdaloop/third_party/pynsm/nsmclient.py
Due: none

WIP
  .gitmodules
  src/shoopdaloop/third_party/pynsm/LICENSE
  src/shoopdaloop/third_party/pynsm/SOURCE
  src/shoopdaloop/third_party/pynsm/__init__.py
  src/shoopdaloop/third_party/pynsm/nsmclient.py
Due: none

Report LV2 max and min buffer size (#87)
  src/libshoopdaloop/internal/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/CarlaLV2ProcessingChain.h
Due: C(++)

Fix submodules (#88)
  .gitmodules
  src/shoopdaloop/third_party/QtMaterialDesignIcons/.gitattributes
  src/shoopdaloop/third_party/QtMaterialDesignIcons/.gitignore
  src/shoopdaloop/third_party/QtMaterialDesignIcons/LICENSE
  src/shoopdaloop/third_party/QtMaterialDesignIcons/README.md
  src/shoopdaloop/third_party/QtMaterialDesignIcons/example/QtMaterialIconsExample.qbs
  src/shoopdaloop/third_party/QtMaterialDesignIcons/example/main.cpp
  src/shoopdaloop/third_party/QtMaterialDesignIcons/example/main.qml
  src/shoopdaloop/third_party/QtMaterialDesignIcons/qml/MaterialDesignIcon.qml
  src/shoopdaloop/third_party/QtMaterialDesignIcons/qml/MaterialDesignIconGlyphs.js
  src/shoopdaloop/third_party/QtMaterialDesignIcons/resources/QtMaterialIcons.qrc
  src/shoopdaloop/third_party/QtMaterialDesignIcons/resources/QtMaterialIcons_rc.py
  src/shoopdaloop/third_party/QtMaterialDesignIcons/resources/materialdesignicons-webfont.svg
  src/shoopdaloop/third_party/QtMaterialDesignIcons/resources/materialdesignicons-webfont.ttf
  src/shoopdaloop/third_party/QtMaterialDesignIcons/sources/MaterialDesignIcons.cpp
  src/shoopdaloop/third_party/QtMaterialDesignIcons/sources/MaterialDesignIcons.h
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
