Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

fix: replace mutex with lock-free ArcSwap in plot registry
  Cargo.toml
  src/rust/common/Cargo.toml
  src/rust/common/src/tracing_helpers.rs
Due: none

fix: resolve build errors in frontend crate
  src/rust/common/src/lib.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
Due: none

fix: pin raw pointer before calling rust_mut() in DummyProcessHelper
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
Due: none

fix: remove unnecessary mut from Pin binding
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
Due: none

Fix logging: default to 'info' level when no env vars set
  Cargo.lock
  src/rust/common/src/logging/setup.rs
Due: none

wip
  .gitignore
  distribution/dependencies/run_base_debian_latest
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
Due: none

fix: remove unused 'info' import from qobj_loop_backend
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
Due: none

Add Tracy tracing plotters to all C++ audio/midi ports, channels and loops
  src/backend/internal/AudioChannel.cpp
  src/backend/internal/AudioChannel.h
  src/backend/internal/AudioMidiLoop.cpp
  src/backend/internal/AudioMidiLoop.h
  src/backend/internal/AudioPort.cpp
  src/backend/internal/AudioPort.h
  src/backend/internal/BasicLoop.cpp
  src/backend/internal/BasicLoop.h
  src/backend/internal/DecoupledMidiPort.cpp
  src/backend/internal/DecoupledMidiPort.h
  src/backend/internal/GraphAudioPort.cpp
  src/backend/internal/GraphAudioPort.h
  src/backend/internal/GraphLoop.cpp
  src/backend/internal/GraphLoop.h
  src/backend/internal/GraphLoopChannel.cpp
  src/backend/internal/GraphLoopChannel.h
  src/backend/internal/GraphMidiPort.cpp
  src/backend/internal/GraphMidiPort.h
  src/backend/internal/InternalAudioPort.cpp
  src/backend/internal/InternalAudioPort.h
  src/backend/internal/MidiBufferingInputPort.cpp
  src/backend/internal/MidiBufferingInputPort.h
  src/backend/internal/MidiChannel.cpp
  src/backend/internal/MidiChannel.h
  src/backend/internal/MidiPort.cpp
  src/backend/internal/MidiPort.h
Due: C(++)

fix(ci): avoid cp error when tracy-capture is already in target location
  .github/actions/install_tracy/action.yml
Due: none

Add checksum-based debug traces for audio/MIDI data consistency verification
  run1/results.txt
  src/backend/internal/AudioChannel.cpp
  src/backend/internal/AudioChannel.h
  src/backend/internal/AudioPort.cpp
  src/backend/internal/AudioPort.h
  src/backend/internal/Checksum.h
  src/backend/internal/DecoupledMidiPort.cpp
  src/backend/internal/DecoupledMidiPort.h
  src/backend/internal/DummyAudioPort.cpp
  src/backend/internal/DummyAudioPort.h
  src/backend/internal/DummyMidiPort.cpp
  src/backend/internal/DummyMidiPort.h
  src/backend/internal/GraphAudioPort.cpp
  src/backend/internal/GraphAudioPort.h
  src/backend/internal/GraphMidiPort.cpp
  src/backend/internal/GraphMidiPort.h
  src/backend/internal/InternalAudioPort.cpp
  src/backend/internal/InternalAudioPort.h
  src/backend/internal/MidiChannel.cpp
  src/backend/internal/MidiChannel.h
  src/backend/internal/MidiPort.cpp
  src/backend/internal/MidiPort.h
Due: C(++)

Adapt C++ Tracy plot naming to match Rust: use object name as base identifier
  src/backend/internal/AudioChannel.cpp
  src/backend/internal/AudioChannel.h
  src/backend/internal/AudioPort.cpp
  src/backend/internal/AudioPort.h
  src/backend/internal/DecoupledMidiPort.cpp
  src/backend/internal/DummyAudioPort.cpp
  src/backend/internal/DummyMidiPort.cpp
  src/backend/internal/GraphAudioPort.cpp
  src/backend/internal/GraphMidiPort.cpp
  src/backend/internal/InternalAudioPort.cpp
  src/backend/internal/MidiBufferingInputPort.cpp
  src/backend/internal/MidiBufferingInputPort.h
  src/backend/internal/MidiChannel.cpp
  src/backend/internal/MidiChannel.h
  src/backend/internal/MidiPort.cpp
  src/backend/internal/MidiPort.h
  src/backend/internal/TracyPlotter.h
Due: C(++)

Add name/identifier support to C++ loops and channels
  src/backend/internal/AudioChannel.cpp
  src/backend/internal/AudioChannel.h
  src/backend/internal/AudioMidiLoop.cpp
  src/backend/internal/AudioMidiLoop.h
  src/backend/internal/BackendSession.cpp
  src/backend/internal/BackendSession.h
  src/backend/internal/BasicLoop.cpp
  src/backend/internal/BasicLoop.h
  src/backend/internal/ChannelInterface.h
  src/backend/internal/LoopInterface.h
  src/backend/internal/MidiChannel.cpp
  src/backend/internal/MidiChannel.h
  src/backend/libshoopdaloop_backend.cpp
  src/backend/libshoopdaloop_backend.h
  src/backend/test/integration/test_chain_single_direct_loop.cpp
  src/backend/test/integration/test_chain_single_drywet_loop.cpp
  src/backend/test/integration/test_graph_construction.cpp
  src/backend/test/integration/test_libshoopdaloop_if.cpp
  src/backend/test/unit/test_AudioMidiLoop_audio.cpp
  src/backend/test/unit/test_AudioMidiLoop_midi.cpp
  src/rust/backend_bindings/src/backend_session.rs
  src/rust/backend_bindings/src/shoop_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
Due: C(++)

wip
  src/qml/SelectedLoops.qml
  src/qml/SessionControlHandler.qml
Due: none

Restore full app_main function, fix qobject_register_qml_singleton_instance call
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

Fix Qt 6.11 migration: add explicit imports for ShoopDaLoop.Rust module
  src/qml/ChannelDataRenderer.qml
  src/qml/ClickTrackDialog.qml
  src/qml/ConnectionsControl.qml
  src/qml/EditMidiControl.qml
  src/qml/EditMidiMessageFilter.qml
  src/qml/LoopContentWidget.qml
  src/qml/LoopDetailsWindow.qml
  src/qml/LuaScript.qml
  src/qml/LuaScriptManager.qml
  src/qml/LuaScriptWithEngine.qml
  src/qml/MidiControl.qml
  src/qml/ProfilingWindow.qml
  src/qml/Registry.qml
  src/qml/RegistryLookup.qml
  src/qml/RequireBackend.qml
  src/qml/SettingsWindow.qml
  src/qml/StateRegistry.qml
  src/qml/TaskObserver.qml
  src/qml/TestRunner.qml
  src/qml/TracksWidget.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_logger.rs
  src/rust/frontend/src/init.rs
Due: none

midi port quit-related errors removed
  src/backend/libshoopdaloop_backend.cpp
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_logger.rs
  src/rust/frontend/src/init.rs
Due: C(++)

Jack deactivation
  src/backend/internal/jack/JackApi.h
  src/backend/internal/jack/JackAudioMidiDriver.cpp
  src/backend/internal/jack/JackTestApi.h
Due: C(++)

wip
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

wip
  .github/workflows/build_tracy.yml
  TODO.txt
  src/backend/internal/AudioChannel.cpp
  src/backend/libshoopdaloop_backend.h
Due: C(++)

Fix: Check read_by_reference_supported() before calling PROC_get_event_reference()
  src/backend/internal/MidiPort.cpp
Due: C(++)

Fix selected loop bug
  src/qml/SelectedLoops.qml
  src/qml/SessionControlHandler.qml
Due: none

Fix Qt 6.11 migration: add explicit imports for ShoopDaLoop.Rust module
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_logger.rs
  src/rust/frontend/src/init.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_logger.rs
  src/rust/frontend/src/init.rs
Due: none

wip
  TODO.txt
Due: none

cleanup
  TODO.txt
  add_qobject_decl.sh
  fix_all_qobject.py
  fix_qobject_decl.py
  fix_remaining.py
  migrate_bridge_files.sh
  migrate_nonbridge_files.sh
  plan.md
  src/rust/cxx_qt_lib_shoop/src/rust/connect.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_window_icons.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_logger_bridge.rs
  src/rust/shoopdaloop/build.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: Python

wip
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
Due: none

Remove fmt, ut, and nlohmann_json submodules/local files
  .gitmodules
  src/backend/CMakeLists.txt
  src/backend/test/CMakeLists.txt
  src/backend/third_party/nlohmann_json/README.txt
  src/backend/third_party/nlohmann_json/nlohmann/json.hpp
  src/backend/third_party/nlohmann_json/nlohmann/json_fwd.hpp
Due: C(++)

Remove base64 submodule, use libb64 (b64) from system/vcpkg
  .gitmodules
  src/backend/CMakeLists.txt
  src/backend/cmake/FindB64.cmake
  src/backend/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/backend/internal/lv2/base64_wrapper.hpp
  src/backend/test/CMakeLists.txt
  vcpkg/vcpkg.json
Due: C(++)

Fix b64 CMake integration for vcpkg
  src/backend/CMakeLists.txt
  src/backend/cmake/FindB64.cmake
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
