Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
Due: none

Update developers.software.rst
  docs/source/developers.software.rst
Due: none

Update INSTALL.md
  INSTALL.md
Due: none

WIP
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/MaterialDesignIcon.qml
Due: none

Allow parallel loops in composite playlist (#243)
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/MaterialDesignIcon.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/ControlTooltip.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/ExtendedButton.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/MaterialDesignIcon.qml
Due: none

WIP
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/session_schemas/schemas/loop.1.json
  test.shl
Due: Python

wip
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

wip
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
Due: none

Fix jittery controls
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/MaterialDesignIcon.qml
Due: none

Script composites (#244)
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/ControlTooltip.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/ExtendedButton.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/session_schemas/schemas/loop.1.json
  test.shl
Due: Python

Sections
  src/shoopdaloop/lib/qml/CompositeLoop.qml
Due: none

Refine look'n'feel of script loops
  src/shoopdaloop/lib/qml/LoopWidget.qml
  test.shl
Due: none

WIP
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/session_schemas/schemas/loop.1.json
Due: Python

Refine look'n'feel of script loops (#250)
  src/shoopdaloop/lib/qml/LoopWidget.qml
  test.shl
Due: none

WIP
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
Due: none

Remove bindings mutex in Python
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: Python, C(++)

WIP
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/Loop.py
Due: Python, C(++)

WIP
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: Python, C(++)

Remove bindings lock (#257)
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: Python, C(++)

Add mute save/restore test
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_track_controls.qml
Due: none

Add mute save/restore test (#259)
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_track_controls.qml
Due: none

Investigate schedule update times
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
Due: none

Fix preplay samples setting for MIDI
  src/shoopdaloop/lib/backend_wrappers.py
Due: Python

WIP
  test.shl
Due: none

Get some of the improvements from the sections branch
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
Due: none

small fixes
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

Add clear button
  src/shoopdaloop/lib/qml/AppControls.qml
Due: none

Clarify tooltip
  src/shoopdaloop/lib/qml/AppControls.qml
Due: none

Changes to build full on MacOS
  .vscode/tasks.json
Due: none

Lots of initializations fixed
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/AudioPort.h
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/BasicLoop.h
  src/libshoopdaloop/internal/CommandQueue.h
  src/libshoopdaloop/internal/CustomProcessingChain.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/GraphAudioPort.h
  src/libshoopdaloop/internal/GraphFXChain.h
  src/libshoopdaloop/internal/GraphLoop.h
  src/libshoopdaloop/internal/GraphLoopChannel.h
  src/libshoopdaloop/internal/GraphMidiPort.h
  src/libshoopdaloop/internal/GraphNode.h
  src/libshoopdaloop/internal/GraphPort.h
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/MidiBufferingInputPort.h
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiMessage.h
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/internal/MidiSortingBuffer.h
  src/libshoopdaloop/internal/MidiSortingReadWritePort.h
  src/libshoopdaloop/internal/MidiStateDiffTracker.h
  src/libshoopdaloop/internal/MidiStateTracker.h
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/internal/ObjectPool.h
  src/libshoopdaloop/internal/ProcessProfiling.h
  src/libshoopdaloop/internal/channel_mode_helpers.h
  src/libshoopdaloop/internal/jack/JackAllPorts.h
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.h
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/jack/JackPort.h
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/internal/jack/jack_wrappers.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.h
  src/libshoopdaloop/internal/lv2/LV2.h
Due: C(++)

WIP
  .github/workflows/build_and_test.yml
  .vscode/tasks.json
Due: none

wip
  .github/actions/prepare_build_macos/action.yml
Due: none

Macos changes (#269)
  .github/actions/prepare_build_macos/action.yml
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/AudioPort.h
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/BasicLoop.h
  src/libshoopdaloop/internal/CommandQueue.h
  src/libshoopdaloop/internal/CustomProcessingChain.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/GraphAudioPort.h
  src/libshoopdaloop/internal/GraphFXChain.h
  src/libshoopdaloop/internal/GraphLoop.h
  src/libshoopdaloop/internal/GraphLoopChannel.h
  src/libshoopdaloop/internal/GraphMidiPort.h
  src/libshoopdaloop/internal/GraphNode.h
  src/libshoopdaloop/internal/GraphPort.h
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/MidiBufferingInputPort.h
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiMessage.h
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/internal/MidiSortingBuffer.h
  src/libshoopdaloop/internal/MidiSortingReadWritePort.h
  src/libshoopdaloop/internal/MidiStateDiffTracker.h
  src/libshoopdaloop/internal/MidiStateTracker.h
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/internal/ObjectPool.h
  src/libshoopdaloop/internal/ProcessProfiling.h
  src/libshoopdaloop/internal/channel_mode_helpers.h
  src/libshoopdaloop/internal/jack/JackAllPorts.h
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.h
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/jack/JackPort.h
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/internal/jack/jack_wrappers.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.h
  src/libshoopdaloop/internal/lv2/LV2.h
Due: C(++)

Fix coverage build
  src/shoopdaloop/lib/qml/CompositeLoop.qml
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
