Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  .github/actions/prepare_build_macos/action.yml
Due: none

Upgrade Qt/PySide to 6.8.1.1 (#490)
  .github/actions/prepare_build/action.yml
  .github/actions/prepare_build_macos/action.yml
  aqtinstall.log
  distribution/linux/excludelist
  src/python/pyproject.toml
  src/python/shoopdaloop/qml_tests.py
  src/qml/AppControls.qml
  src/qml/BackendLoopWithChannels.qml
  src/qml/CompositeLoop.qml
  src/qml/DetailsPane.qml
  src/qml/EditCompositeLoop.qml
  src/qml/LoopWidget.qml
  src/qml/ObjectsRegistry.qml
  src/qml/ShoopTabBar.qml
  src/qml/ShoopTabButton.qml
  src/qml/TrackWidget.qml
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/invoke.h
Due: Python, C(++)

Upgrade cxx-qt to 0.7.0
  src/backend/internal/MidiStorage.cpp
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/qml/AppControls.qml
  src/qml/CompositeLoop.qml
  src/qml/LuaScript.qml
  src/qml/LuaScriptManager.qml
  src/qml/Mapper.qml
  src/qml/Session.qml
  src/qml/SettingsDialog.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_SessionDescriptor_default.qml
  src/qml/test/tst_SessionDescriptor_track_controls.qml
  src/qml/test/tst_Session_channels.qml
  src/qml/test/tst_Session_save_load.qml
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/connect.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/reporting.h
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_find_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_release_focus_notifier.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_release_focus_notifier_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_generic_test_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port_bridge.rs
Due: Python, C(++)

wip
  .github/actions/build_base/action.yml
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port_bridge.rs
Due: none

Update qobj_signature_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_port.rs
Due: none

Update qobj_signature_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_backend_wrapper.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item_bridge.rs
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/Backend.py
Due: Python

Upgrade cxx-qt to 0.7.0 (#491)
  .github/actions/build_base/action.yml
  src/backend/internal/MidiStorage.cpp
  src/python/shoopdaloop/lib/q_objects/Backend.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/qml/AppControls.qml
  src/qml/CompositeLoop.qml
  src/qml/LuaScript.qml
  src/qml/LuaScriptManager.qml
  src/qml/Mapper.qml
  src/qml/Session.qml
  src/qml/SettingsDialog.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_SessionDescriptor_default.qml
  src/qml/test/tst_SessionDescriptor_track_controls.qml
  src/qml/test/tst_Session_channels.qml
  src/qml/test/tst_Session_save_load.qml
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/connect.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/reporting.h
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_find_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_release_focus_notifier.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_release_focus_notifier_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_generic_test_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port_bridge.rs
Due: Python, C(++)

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
Due: none

wip
  src/qml/Loop.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
  src/rust/frontend/src/init.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: none

fix: Remove unnecessary blank line in qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
Due: none

feat: Add properties to Rust QObject matching Python Backend class
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
Due: none

feat: Add QString and QVariant types to qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
Due: none

feat: Add fields to BackendWrapperRust struct for state-keeping properties
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
Due: none

refactor: Remove unused property and initialize BackendWrapperRust fields
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
Due: none

feat: Add empty stub methods for all slots/invokables in Rust backend
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
Due: none

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_compositeloop_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
Due: none

feat: Add empty stub implementations for all #qinvokable methods
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
Due: none

refactor: Remove unused methods from BackendWrapper implementation
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
Due: none

refactor: Update BackendWrapper methods to use Pin for self reference
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
Due: none

feat: Add stub bodies to methods in BackendWrapper implementation
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
Due: none

feat: Add Rust bridge for QThread with start, quit, and wait methods
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qthread.rs
Due: none

wip
  src/backend/libshoopdaloop_backend.cpp
  src/python/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/qml/Backend.qml
  src/qml/Loop.qml
  src/rust/backend_bindings/src/audio_driver.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qobject.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qthread.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qthread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_find_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/init.rs
Due: Python, C(++)

wip
  src/backend/libshoopdaloop_backend.cpp
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/python/shoopdaloop/lib/q_objects/AudioPort.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/FXChain.py
  src/python/shoopdaloop/lib/q_objects/FindParentBackend.py
  src/python/shoopdaloop/lib/q_objects/Loop.py
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/python/shoopdaloop/lib/q_objects/Port.py
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/connect.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qthread.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qthread.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qtimer.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_find_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_backend_wrapper_bridge.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python, C(++)

wip
  src/python/shoopdaloop/lib/q_objects/FindParentBackend.py
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/FindParentBackend.py
  src/python/shoopdaloop/lib/q_objects/Loop.py
  src/qml/AudioPort.qml
  src/qml/BackendLoopWithChannels.qml
  src/qml/CompositeLoop.qml
  src/qml/FXChain.qml
  src/qml/Loop.qml
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/qml/LoopWidget.qml
  src/qml/MidiControlPort.qml
  src/qml/MidiPort.qml
  src/qml/RequireBackend.qml
  src/qml/Session.qml
  src/qml/TrackWidget.qml
  src/qml/TracksWidget.qml
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/Loop.py
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/qml/LoopWidget.qml
  src/qml/RequireBackend.qml
  src/qml/Session.qml
  src/qml/TrackWidget.qml
  src/qml/TracksWidget.qml
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/Port.py
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/AudioPort.py
  src/python/shoopdaloop/lib/q_objects/Port.py
  src/qml/FXChain.qml
  src/qml/TrackWidget.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python
