Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  src/shoopdaloop/lib/qml/DetailsPane.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/RegistryLookups.qml
  src/shoopdaloop/lib/qml/RenderChannelData.qml
  src/shoopdaloop/lib/qml/ResizeableItem.qml
  src/shoopdaloop/lib/qml/SelectedLoops.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/ShoopTabBar.qml
  src/shoopdaloop/lib/qml/ShoopTabButton.qml
Due: none

master loop -> sync loop (#173)
  README.md
  docs/source/concept.rst
  docs/source/developers.software.rst
  docs/source/resources/syncloop.gif
  docs/source/usage.loopcontrols.rst
  src/libshoopdaloop/internal/LoopInterface.h
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/AppRegistries.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
  src/shoopdaloop/lib/qml/ShoopComboBox.qml
  src/shoopdaloop/lib/qml/ShoopDialog.qml
  src/shoopdaloop/lib/qml/ShoopTextField.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/qml/applications/shoopdaloop_main.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
  src/shoopdaloop/lib/session_schemas/schemas/loop.1.json
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/qml/DetailsPane.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/DetailsPane.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/ResizeableItem.qml
  src/shoopdaloop/lib/qml/ShoopTabButton.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
Due: none

Details pane (#174)
  src/shoopdaloop/lib/qml/DetailsPane.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/RegistryLookups.qml
  src/shoopdaloop/lib/qml/RenderChannelData.qml
  src/shoopdaloop/lib/qml/ResizeableItem.qml
  src/shoopdaloop/lib/qml/SelectedLoops.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/ShoopTabBar.qml
  src/shoopdaloop/lib/qml/ShoopTabButton.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/ResizeableItem.qml
  src/shoopdaloop/lib/qml/ToolbarButton.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
Due: none

WIP
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.cpp
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
  src/shoopdaloop/lib/qml/ResizeableItem.qml
Due: C(++)

Fix QML tests on Mac
  .github/workflows/build_and_test.yml
  .vscode/tasks.json
  src/CMakeLists.txt
  src/libshoopdaloop/BuildLV2Projects.cmake
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
Due: Python

WIP
  scripts/repeat_run_app.py
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/qml/Session.qml
Due: Python

WIP
  .github/actions/test_run_app/action.yml
Due: none

WIP
  src/shoopdaloop/lib/backend_wrappers.py
Due: Python

WIP
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: Python, C(++)

Towards fixing QML tests on Mac (#181)
  .github/actions/test_run_app/action.yml
  .github/workflows/build_and_test.yml
  .vscode/tasks.json
  scripts/repeat_run_app.py
  src/CMakeLists.txt
  src/libshoopdaloop/BuildLV2Projects.cmake
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/AudioMidiDriver.h
Due: C(++)

WIP
  .gitmodules
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/crashhandling/BuildBreakpad.cmake
  src/libshoopdaloop/crashhandling/CMakeLists.txt
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/libshoopdaloop/crashhandling/shoop_crashhandling.h
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/crash_handling.py
  src/shoopdaloop/lib/q_objects/OSUtils.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

wip
  scripts/create_breakpad_symbols.py
  src/CMakeLists.txt
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/accelerate/CMakeLists.txt
  src/libshoopdaloop/crashhandling/BuildBreakpad.cmake
  src/libshoopdaloop/crashhandling/CMakeLists.txt
Due: none

WIP
  src/libshoopdaloop/crashhandling/BuildBreakpad.cmake
  src/libshoopdaloop/crashhandling/CMakeLists.txt
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/libshoopdaloop/crashhandling/shoop_crashhandling.h
  src/libshoopdaloop/crashhandling/test_segfault.cpp
  src/shoopdaloop/lib/crash_handling.py
Due: Python, C(++)

WIP
  src/libshoopdaloop/crashhandling/BuildBreakpad.cmake
Due: none

WIP
  src/libshoopdaloop/crashhandling/BuildBreakpad.cmake
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/libshoopdaloop/crashhandling/shoop_crashhandling.h
  src/libshoopdaloop/crashhandling/test_segfault.cpp
  src/shoopdaloop/lib/crash_handling.py
  src/shoopdaloop/lib/qml/AppControls.qml
Due: Python, C(++)

wip
  .github/actions/process_crashdumps/action.yml
Due: none

wip
  scripts/create_breakpad_symbols.py
Due: none

wip
  src/shoopdaloop/__main__.py
Due: Python

wip
  .github/actions/prepare_build_manylinux_2_28/action.yml
Due: none

wip
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/crashhandling/BuildBreakpad.cmake
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  src/libshoopdaloop/crashhandling/CMakeLists.txt
Due: none

wip
  .github/actions/prepare_build_manylinux_2_28/action.yml
  src/libshoopdaloop/crashhandling/BuildBreakpad.cmake
  src/libshoopdaloop/crashhandling/CMakeLists.txt
Due: none

wip
  src/shoopdaloop/lib/format_crash_dump.py
Due: Python

wip
  .github/actions/post_build/action.yml
  .github/actions/process_crashdumps/action.yml
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/crashhandling/BuildBreakpad.cmake
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/format_crash_dump.py
Due: Python, C(++)

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
