Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/build_wheel/action.yml
Due: none

Bugfix on uninitialized C++ state (#182)
  src/libshoopdaloop/internal/AudioMidiDriver.h
Due: C(++)

wip
  .github/actions/process_crashdumps/action.yml
Due: none

wip
  .github/actions/install_qoverage/action.yml
  .github/actions/prepare_build_manylinux_2_28/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/workflows/build_and_test.yml
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
Due: Python

wip
  .github/actions/prepare_build_manylinux_2_28/action.yml
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/CMakeLists.txt
Due: none

wip
  src/libshoopdaloop/CMakeLists.txt
Due: none

wip
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/CMakeLists.txt
Due: none

WIP
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
Due: none

Various UI improvements (#179)
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.cpp
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
  src/shoopdaloop/lib/qml/ResizeableItem.qml
  src/shoopdaloop/lib/qml/ToolbarButton.qml
Due: C(++)

wip
  src/shoopdaloop/lib/qml/DetailsPane.qml
  src/shoopdaloop/lib/qml/Session.qml
Due: none

Google Breakpad crash handling (#184)
  .github/actions/build_wheel/action.yml
  .github/actions/install_qoverage/action.yml
  .github/actions/post_build/action.yml
  .github/actions/prepare_build_manylinux_2_28/action.yml
  .github/actions/process_crashdumps/action.yml
  .github/workflows/build_and_test.yml
  .gitmodules
  scripts/create_breakpad_symbols.py
  scripts/replace_symlink_by_target.py
  src/CMakeLists.txt
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/accelerate/CMakeLists.txt
  src/libshoopdaloop/crashhandling/BuildBreakpad.cmake
  src/libshoopdaloop/crashhandling/CMakeLists.txt
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/libshoopdaloop/crashhandling/shoop_crashhandling.h
  src/libshoopdaloop/crashhandling/test_segfault.cpp
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/crash_handling.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/OSUtils.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

WIP
  README.md
  docs/source/resources/screenshot.png
  src/shoopdaloop/lib/qml/DetailsPane.qml
Due: none

wip
  docs/source/resources/screenshot.png
Due: none

wip
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
Due: none

WIP
  .github/workflows/build_and_test.yml
  src/shoopdaloop/lib/qml/Session.qml
Due: none

Fix Carla LV2.
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
Due: C(++)

Sync loop is now in a separate, special track
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
  src/shoopdaloop/lib/qml/ProfilingWindow.qml
  src/shoopdaloop/lib/qml/SchemaCheck.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/applications/shoopdaloop_main.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
  src/shoopdaloop/lib/session_schemas/schemas/session.1.json
Due: Python

Add "monkey tester" function for randomly performing actions in the app.
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/qml/MonkeyTester.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: Python

Fix some bugs
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioPort.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.h
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/lv2/LV2.cpp
  src/libshoopdaloop/internal/lv2/LV2.h
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: C(++)

WIP
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/MidiBufferingInputPort.cpp
  src/libshoopdaloop/internal/MidiBufferingInputPort.h
  src/libshoopdaloop/internal/MidiPort.cpp
Due: C(++)

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
