Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/js_constants.py
  src/python/shoopdaloop/lib/mode_helpers.py
  src/python/shoopdaloop/lib/q_objects/ControlHandler.py
  src/python/shoopdaloop/lib/q_objects/Loop.py
Due: Python

wip
  src/backend/internal/GraphLoopChannel.cpp
  src/backend/internal/GraphLoopChannel.h
  src/backend/libshoopdaloop_backend.cpp
  src/backend/libshoopdaloop_backend.h
  src/rust/backend_bindings/src/audio_channel.rs
  src/rust/backend_bindings/src/audio_port.rs
Due: C(++)

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/rust/backend_bindings/src/audio_port.rs
  src/rust/backend_bindings/src/midi_port.rs
  src/rust/backend_bindings/src/port.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_port.rs
  src/rust/shoopdaloop/src/shoop_py_backend/channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi_port.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/js_constants.py
  src/python/shoopdaloop/lib/q_objects/Loop.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/rust/shoopdaloop/src/shoop_py_backend/audio_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
Due: Python

feat: Implement Rust methods for MidiChannel based on BackendLoopMidiChannel
  src/rust/backend_bindings/src/midi_channel.rs
Due: none

refactor: Simplify MidiChannel implementation by removing duplicate code
  src/rust/backend_bindings/src/midi_channel.rs
Due: none

feat: Implement MidiEvent and MidiChannelState types in midi_channel.rs
  src/rust/backend_bindings/src/midi_channel.rs
Due: none

fix: Add missing newline at end of file in midi_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi_channel.rs
Due: none

feat: Implement PyO3-exposed methods for BackendLoopMidiChannel in midi_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi_channel.rs
Due: none

wip
  src/rust/backend_bindings/src/midi_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi_channel.rs
Due: none

refactor: Move MidiEvent struct to its own file for better organization
  src/rust/shoopdaloop/src/shoop_py_backend/midi.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi_channel.rs
Due: none

feat: Implement conversion from backend_bindings::MidiEvent to MidiEvent
  src/rust/shoopdaloop/src/shoop_py_backend/midi.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
Due: none

feat: Add registration function for MidiEvent in midi.rs and mod.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
Due: none

refactor: Replace direct ffi calls in BackendLoopMidiChannel with MidiChannel methods
  src/python/shoopdaloop/lib/backend_wrappers.py
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/rust/backend_bindings/src/midi_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi_channel.rs
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/q_objects/Loop.py
Due: Python

feat: Add methods for audio driver management and external port discovery
  src/rust/backend_bindings/src/audio_driver.rs
Due: none

feat: Implement types for Jack and Dummy audio driver settings
  src/rust/backend_bindings/src/audio_driver.rs
Due: none

feat: Create ExternalPortDescriptor struct to wrap shoop_external_port_descriptor_t
  src/rust/backend_bindings/src/port.rs
Due: none

wip
  src/rust/backend_bindings/src/audio_driver.rs
Due: none

feat: Add PyO3 wrappers for AudioDriver methods in Python backend
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
Due: none

wip
  src/rust/backend_bindings/src/audio_driver.rs
  src/rust/backend_bindings/src/port.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
  src/rust/shoopdaloop/src/shoop_py_backend/port.rs
Due: none

wip
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
  src/rust/shoopdaloop/src/shoop_py_backend/port.rs
Due: none

refactor: Replace FFI calls in AudioDriver with Rust method calls
  src/python/shoopdaloop/lib/backend_wrappers.py
Due: Python

Revert "refactor: Replace FFI calls in AudioDriver with Rust method calls"
  src/python/shoopdaloop/lib/backend_wrappers.py
Due: Python

feat: Implement missing AudioDriver methods in Rust for feature parity
  src/rust/backend_bindings/src/audio_driver.rs
Due: none

fix: Define dummy_run_requested_frames function in AudioDriver implementation
  src/rust/backend_bindings/src/audio_driver.rs
Due: none

feat: Implement wrapper methods for AudioDriver in Python interface
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
Due: none

feat: Add driver_type_supported method to Python audio driver wrapper
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
Due: none

fix: Remove duplicate driver_type_supported and fix unsafe_backend_ptr method
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
Due: none

refactor: Replace direct lock calls with a method for better safety
  src/rust/backend_bindings/src/audio_driver.rs
Due: none

fix: Resolve warnings and errors in audio driver and dependencies files
  src/rust/backend_bindings/src/audio_driver.rs
  src/rust/packaging/src/dependencies.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
Due: none

fix: Move `let` statement outside function call and correct argument count
  src/rust/backend_bindings/src/audio_driver.rs
Due: none

fix: Resolve warnings and errors in audio_driver and midi_channel modules
  src/rust/backend_bindings/src/audio_driver.rs
  src/rust/shoopdaloop/src/lib_impl.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
Due: none

fix: Update default values in find_external_ports signature
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
Due: none

refactor: Replace specific imports from backend_bindings with a single import
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
Due: none

refactor: Replace FFI calls with AudioDriver methods in backend wrappers
  src/python/shoopdaloop/lib/backend_wrappers.py
Due: Python

feat: Add Jack and Dummy audio driver settings classes and methods
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
Due: none

feat: Implement AudioDriverState struct for audio driver compatibility
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
Due: none
