Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

Update action.yml
  .github/actions/process_crashdumps/action.yml
Due: none

Update build_and_test.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/process_crashdumps/action.yml
  distribution/dependencies/build_base_debian_bullseye
  distribution/dependencies/build_base_ubuntu_latest
Due: none

Update run_base_debian_latest
  distribution/dependencies/run_base_debian_latest
Due: none

Update run_base_arch
  distribution/dependencies/run_base_arch
Due: none

Update run_base_fedora
  distribution/dependencies/run_base_fedora
Due: none

wip
  .github/actions/process_crashdumps/action.yml
Due: none

wip
  .github/actions/test_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

Sentry metadata upload (#520)
  .github/actions/build_package/action.yml
  .github/actions/build_toplevel/action.yml
  .github/actions/process_crashdumps/action.yml
  .github/actions/test_toplevel/action.yml
  .github/workflows/build_and_test.yml
  distribution/dependencies/build_base_debian_bullseye
  distribution/dependencies/build_base_ubuntu_latest
  distribution/dependencies/run_base_arch
  distribution/dependencies/run_base_debian_latest
  distribution/dependencies/run_base_fedora
  scripts/separate_debug_info.sh
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_Backend_jack.qml
  src/rust/crashhandling/Cargo.toml
  src/rust/crashhandling/src/lib.rs
  src/rust/frontend/Cargo.toml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_crash_handling.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_crash_handling_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/init.rs
  src/rust/shoopdaloop/Cargo.toml
  src/rust/shoopdaloop/src/main_impl.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/rust/crashhandling/Cargo.toml
  src/rust/crashhandling/src/lib.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/cxx/qqmlengine_helpers.cpp
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qqmlengine_helpers.h
  src/rust/frontend/src/cxx_qt_shoop/cxx/shoop_rust_callable.cpp
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/shoop_rust_callable.h
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/type_shoop_rust_callable.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/type_shoopqmlapplicationengine.rs
  src/rust/frontend/src/init.rs
  src/rust/shoopdaloop/src/main_impl.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python, C(++)

wip
  src/rust/crashhandling/src/lib.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qqmlengine_helpers.h
  src/rust/frontend/src/cxx_qt_shoop/rust/type_shoopqmlapplicationengine.rs
  src/rust/shoopdaloop/src/main_impl.rs
Due: C(++)

wip
  .github/actions/test_qml/action.yml
  .github/actions/test_run_app/action.yml
  .github/actions/test_screenshots/action.yml
Due: none

wip
  src/backend/internal/AudioMidiDriver.cpp
  src/backend/internal/AudioMidiDriver.h
  src/backend/internal/AudioMidiDrivers.cpp
  src/backend/internal/AudioMidiDrivers.h
  src/backend/internal/DummyAudioMidiDriver.cpp
  src/backend/internal/DummyAudioMidiDriver.h
  src/backend/internal/jack/JackAudioMidiDriver.cpp
  src/backend/internal/jack/JackAudioMidiDriver.h
  src/backend/libshoopdaloop_backend.cpp
  src/backend/libshoopdaloop_backend.h
  src/backend/test/integration/test_chain_internal_passthrough_mix.cpp
  src/backend/test/integration/test_chain_single_direct_loop.cpp
  src/backend/test/integration/test_chain_single_drywet_loop.cpp
  src/backend/test/integration/test_chain_single_midi_passthrough.cpp
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/qml/MonkeyTester.qml
  src/qml/applications/shoopdaloop_main.qml
  src/qml/test/ShoopTestCase.qml
  src/rust/backend_bindings/src/audio_driver.rs
  src/rust/crashhandling/src/lib.rs
  src/rust/crashhandling/src/registered_threads.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_crash_handling.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread_bridge.rs
  src/rust/shoopdaloop/src/main_impl.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
Due: Python, C(++)

wip
  src/rust/crashhandling/src/client.rs
  src/rust/crashhandling/src/lib.rs
  src/rust/crashhandling/src/server.rs
  src/rust/crashhandling/src/types.rs
Due: none

wip
  src/rust/crashhandling/src/server.rs
Due: none

wip
  .github/actions/test_toplevel/action.yml
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qsharedpointer_qobject.h
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
Due: C(++)

wip
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qsharedpointer_qobject.h
Due: C(++)

wip
  src/rust/crashhandling/src/lib.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/shoopdaloop/src/main_impl.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
Due: Python

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
Due: none

wip
  src/qml/MonkeyTester.qml
  src/qml/test/ShoopTestFile.qml
Due: none

wip
  .github/actions/build_package/action.yml
  scripts/separate_debug_info.sh
Due: none

wip
  .github/actions/build_base/action.yml
  scripts/vcpkg_prebuild.py
  src/rust/packaging/src/binaries_for_test.rs
Due: none

Update action.yml
  .github/actions/build_toplevel/action.yml
Due: none

wip
  .github/actions/build_package/action.yml
  src/python/shoopdaloop/__init__.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
  src/python/shoopdaloop/lib/q_objects/SchemaValidator.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/packaging/src/binaries_for_test.rs
  src/rust/packaging/src/main.rs
  src/rust/packaging/src/os_dependent_modules/linux_appdir.rs
  src/rust/packaging/src/os_dependent_modules/macos_appbundle.rs
  src/rust/packaging/src/os_dependent_modules/windows_portable_folder.rs
Due: Python

wip
  .github/actions/build_base/action.yml
  .github/actions/build_package/action.yml
  scripts/separate_debug_info.sh
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/rust/packaging/src/binaries_for_test.rs
  src/rust/packaging/src/main.rs
Due: Python

wip
  .github/actions/build_package/action.yml
  .github/actions/build_toplevel/action.yml
  scripts/separate_debug_info.sh
Due: none

Debug symbols for release builds (#522)
  .github/actions/build_base/action.yml
  .github/actions/build_package/action.yml
  .github/actions/build_toplevel/action.yml
  scripts/separate_debug_info.sh
  scripts/vcpkg_prebuild.py
  src/python/shoopdaloop/__init__.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/python/shoopdaloop/lib/q_objects/SchemaValidator.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/packaging/src/binaries_for_test.rs
  src/rust/packaging/src/main.rs
  src/rust/packaging/src/os_dependent_modules/linux_appdir.rs
  src/rust/packaging/src/os_dependent_modules/macos_appbundle.rs
  src/rust/packaging/src/os_dependent_modules/windows_portable_folder.rs
Due: Python

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopApplication.h
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/shoop_py_wrapped_objects/src/schema_validator.rs
  src/rust/shoopdaloop/build.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: C(++)

wip
  src/python/shoopdaloop/__init__.py
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/init.rs
  src/rust/shoopdaloop/src/shoop_rust_py/init.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
Due: Python

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine_bridge.rs
Due: none
