Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

wip
  src/rust/cxx_qt_lib_shoop/build.rs
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qmap_qstring_qvariant.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qvariant_helpers.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qvariant_qobject.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qvariant_qsharedpointer_qobject.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qvariant_qstringlist.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qvariant_qvariantlist.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qvariant_qvariantmap.h
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_qobject.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_qsharedpointer_qobject.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_qstringlist.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_qvariantlist.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_qvariantmap.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/midi_event_helpers.rs
Due: C(++)

wip
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/type_external_port_descriptor.rs
  src/rust/frontend/src/profiling_report.rs
  src/rust/shoop_py_utils/src/conversions.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

wip
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/type_external_port_descriptor.rs
  src/rust/frontend/src/loop_helpers.rs
  src/rust/frontend/src/profiling_report.rs
  src/rust/shoopdaloop/src/lib_impl.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: none

wip
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/midi_event_helpers.rs
  src/rust/shoopdaloop/src/lib_impl.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: none

wip
  src/rust/cxx_qt_lib_shoop/src/rust/connect.rs
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_backend_wrapper.rs
  src/rust/frontend/src/loop_helpers.rs
  src/rust/frontend/src/midi_event_helpers.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: none

wip
  src/backend/internal/DummyAudioMidiDriver.cpp
  src/backend/internal/GraphPort.cpp
  src/backend/internal/GraphPort.h
  src/backend/internal/MidiPort.cpp
  src/qml/MidiPort.qml
  src/qml/TrackControlWidget.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_ThreeLoops.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/qml/test/tst_TrackControl_direct.qml
  src/qml/test/tst_TrackControl_drywet.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/src/any_backend_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/midi_event_helpers.rs
Due: C(++)

wip
  src/qml/AppControls.qml
  src/qml/ChannelDataRenderer.qml
  src/qml/DynamicToolTip.qml
  src/qml/MidiPort.qml
  src/qml/test/ShoopSessionTestCase.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_Backend.qml
  src/qml/test/tst_Backend_jack.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_ControlInterface_lua.qml
  src/qml/test/tst_Jack_ports.qml
  src/qml/test/tst_LoopReorder.qml
  src/qml/test/tst_LuaScriptWithEngine.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_MidiControlPort.qml
  src/qml/test/tst_MidiControl_actions.qml
  src/qml/test/tst_Profiling.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_SessionDescriptor_default.qml
  src/qml/test/tst_SessionDescriptor_track_controls.qml
  src/qml/test/tst_Session_channels.qml
  src/qml/test/tst_Session_save_load.qml
  src/qml/test/tst_ThreeLoops.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/qml/test/tst_TrackControl_direct.qml
  src/qml/test/tst_TrackControl_drywet.qml
  src/qml/test/tst_TwoLoops.qml
  src/rust/backend_bindings/src/audio_port.rs
  src/rust/backend_bindings/src/midi_port.rs
  src/rust/frontend/src/any_backend_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/shoop_py_backend/src/audio_port.rs
  src/rust/shoop_py_backend/src/midi_port.rs
Due: none

wip
  src/rust/backend_bindings/src/fx_chain.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/AudioPort.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/python/shoopdaloop/lib/q_objects/MidiPort.py
  src/python/shoopdaloop/lib/q_objects/Port.py
  src/qml/FXChain.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_gui_bridge.rs
  src/rust/frontend/src/init.rs
Due: Python

wip
  src/backend/libshoopdaloop_backend.cpp
  src/python/shoopdaloop/lib/q_objects/FXChain.py
  src/python/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/AudioPort.qml
  src/qml/ChannelDataRenderer.qml
  src/qml/DebugInspectionItemWindow.qml
  src/qml/FXChain.qml
  src/qml/TrackControlWidget.qml
  src/qml/TrackWidget.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
Due: Python, C(++)

wip
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/qml/AudioPort.qml
  src/qml/FXChain.qml
  src/qml/MidiPort.qml
  src/qml/Session.qml
  src/qml/TrackControlLogic.qml
  src/qml/TrackControlWidget.qml
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qvariant_helpers.h
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/midi_event_helpers.rs
Due: Python, C(++)

wip
  src/qml/AppControls.qml
  src/rust/backend_bindings/src/fx_chain.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend.rs
Due: none

wip
  src/backend/internal/DummyAudioMidiDriver.cpp
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_ThreeLoops.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/qml/test/tst_TrackControl_direct.qml
  src/qml/test/tst_TrackControl_drywet.qml
Due: C(++)

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
Due: none

wip
  src/rust/backend_bindings/src/channel.rs
  src/rust/cxx_qt_lib_shoop/build.rs
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qweakpointer_qobject.h
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qweakpointer_qobject.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/any_backend_channel.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend_bridge.rs
  src/rust/frontend/src/lib.rs
Due: C(++)

wip
  src/rust/backend_bindings/src/channel.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
Due: none

wip
  src/rust/frontend/src/any_backend_channel.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/init.rs
Due: none

wip
  src/qml/AppControls.qml
  src/qml/BackendLoopWithChannels.qml
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/qml/LoopWidget.qml
  src/qml/Session.qml
  src/qml/applications/test_profilingwindow.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qmetatype_helpers.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/frontend/src/any_backend_channel.rs
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui_bridge.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/references_qobject.rs
  src/rust/shoop_py_utils/src/conversions.rs
Due: none

wip
  src/qml/LoopAudioChannel.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
Due: none

wip
  Cargo.toml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/frontend/Cargo.toml
  src/rust/frontend/build.rs
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_tasks.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_tasks_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/references_qobject.rs
Due: none

wip
  src/rust/cxx_qt_lib_shoop/src/rust/qsharedpointer_qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_tasks.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_tasks_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
Due: none

wip
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/src/any_backend_channel.rs
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_tasks.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
Due: none

wip
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/qml/LoopWidget.qml
  src/qml/Session.qml
  src/qml/SettingsDialog.qml
  src/qml/ShoopApplicationWindow.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_Session_save_load.qml
  src/rust/cxx_qt_lib_shoop/build.rs
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qjsvalue.h
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qjsvalue.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
Due: C(++)

wip
  src/qml/Session.qml
  src/qml/SettingsDialog.qml
  src/qml/ShoopApplicationWindow.qml
  src/rust/shoopdaloop/src/global_qml_settings.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

wip
  src/qml/LoopAudioChannel.qml
  src/rust/shoopdaloop/src/global_qml_settings.rs
Due: none

wip
  src/qml/EditMidiControl.qml
  src/qml/EditMidiMessageFilter.qml
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopApplication.h
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
Due: C(++)

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  vcpkg/vcpkg.json
Due: none

wip
  Cargo.toml
  src/qml/Session.qml
  src/qml/TasksFactory.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qjsvalue.rs
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_tasks.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_tasks_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/smf.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
Due: none

wip
  src/qml/LoopAudioChannel.qml
  src/qml/Session.qml
  src/qml/TaskObserver.qml
  src/qml/TasksFactory.qml
  src/qml/test/tst_Session_save_load.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_tasks.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_tasks_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/init.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/qml/LoopAudioChannel.qml
  src/qml/LoopContentWidget.qml
  src/qml/LoopMidiChannel.qml
  src/qml/Session.qml
  src/qml/TaskObserver.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_Session_save_load.qml
  src/qml/test/tst_ThreeLoops.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/shoop_py_utils/src/conversions.rs
Due: Python

wip
  src/qml/BackendLoopWithChannels.qml
  src/rust/cxx_qt_lib_shoop/src/rust/qmetatype_helpers.rs
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
  src/rust/shoop_py_utils/src/conversions.rs
Due: none

wip
  src/rust/cxx_qt_lib_shoop/src/rust/qjsvalue.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
Due: none

wip
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qweakpointer_qobject.rs
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
Due: none

wip
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/Task.py
  src/python/shoopdaloop/lib/q_objects/Tasks.py
  src/python/shoopdaloop/lib/qml_helpers.py
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/FileIO.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/ConnectionsControl.qml
  src/qml/ConnectionsWindow.qml
  src/qml/Session.qml
  src/qml/TrackWidget.qml
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/python/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/ChannelDataRenderer.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
Due: Python

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
