Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  src/rust/packaging/src/binaries_for_test.rs
Due: none

wip
  .github/actions/prepare_build_windows/action.yml
  src/rust/packaging/src/binaries_for_test.rs
  src/rust/packaging/src/scripts/windows_deps.ps1
Due: none

wip
  .github/actions/install_package/action.yml
  src/qml/Session.qml
Due: none

wip
  .github/actions/install_package/action.yml
  .github/actions/test_backend/action.yml
Due: none

wip
  .github/actions/install_package/action.yml
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
Due: none

wip
  .github/actions/prepare_build/action.yml
  .github/actions/test_rust/action.yml
Due: none

wip
  .github/actions/install_package/action.yml
  .github/actions/test_rust/action.yml
Due: none

wip
  .github/actions/build_package/action.yml
Due: none

wip
  .github/actions/build_package/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/workflows/build_and_test.yml
  TODO.txt
  macscript.sh
Due: none

Update codeql.yml
  .github/workflows/codeql.yml
Due: none

Update developers.scripting.rst
  docs/source/developers.scripting.rst
Due: none

Update usage.keyboard.rst
  docs/source/usage.keyboard.rst
Due: none

Add OpenHands-resolver action
  .github/workflows/openhands-resolver.yml
Due: none

Add OpenHands-resolver action (#466)
  .github/workflows/openhands-resolver.yml
Due: none

Fix issue #467: Improve README.md
  README.md
Due: none

wip
  src/rust/backend_bindings/src/ffi.rs
  src/rust/backend_bindings/src/lib.rs
  src/rust/backend_bindings/src/macros.rs
  src/rust/backend_bindings/src/port.rs
  src/rust/backend_bindings/src/resample.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
  src/rust/shoopdaloop/src/shoop_py_backend/resample.rs
Due: none

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/rust/backend_bindings/Cargo.toml
  src/rust/backend_bindings/src/resample.rs
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/lib_impl.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
  src/rust/shoopdaloop/src/shoop_py_backend/resample.rs
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/rust/shoopdaloop/src/add_lib_search_path.rs
  src/rust/shoopdaloop/src/bin/shoopdaloop_windows_launcher.rs
  src/rust/shoopdaloop/src/main_impl.rs
  src/rust/shoopdaloop/src/shoopdaloop_dev_impl.rs
Due: Python

wip
  src/backend/libshoopdaloop_backend.cpp
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/q_objects/Backend.py
  src/rust/backend_bindings/src/audio_driver.rs
  src/rust/backend_bindings/src/lib.rs
  src/rust/backend_bindings/src/macros.rs
  src/rust/backend_bindings/src/resample.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
  src/rust/shoopdaloop/src/shoop_py_backend/resample.rs
Due: Python, C(++)

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/python/shoopdaloop/lib/q_objects/Backend.py
  src/rust/backend_bindings/src/backend_session.rs
  src/rust/backend_bindings/src/lib.rs
  src/rust/shoopdaloop/src/shoop_py_backend/backend_session.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/rust/backend_bindings/src/audio_driver.rs
  src/rust/backend_bindings/src/backend_session.rs
  src/rust/backend_bindings/src/common.rs
  src/rust/backend_bindings/src/lib.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
  src/rust/shoopdaloop/src/shoop_py_backend/backend_session.rs
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/FetchChannelData.py
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/q_objects/Loop.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/rust/backend_bindings/src/audio_channel.rs
  src/rust/backend_bindings/src/common.rs
  src/rust/backend_bindings/src/lib.rs
  src/rust/backend_bindings/src/midi_channel.rs
  src/rust/backend_bindings/src/shoop_loop.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
  src/rust/shoopdaloop/src/shoop_py_backend/shoop_loop.rs
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/rust/backend_bindings/src/audio_port.rs
  src/rust/backend_bindings/src/channel.rs
  src/rust/backend_bindings/src/common.rs
  src/rust/backend_bindings/src/lib.rs
  src/rust/backend_bindings/src/port.rs
  src/rust/backend_bindings/src/shoop_loop.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_port.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/q_objects/Port.py
  src/rust/backend_bindings/src/lib.rs
  src/rust/backend_bindings/src/midi_port.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi_port.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
Due: Python

wip
  src/backend/libshoopdaloop_backend.cpp
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/rust/backend_bindings/src/audio_port.rs
  src/rust/backend_bindings/src/decoupled_midi_port.rs
  src/rust/backend_bindings/src/fx_chain.rs
  src/rust/backend_bindings/src/lib.rs
  src/rust/shoopdaloop/src/shoop_py_backend/decoupled_midi_port.rs
  src/rust/shoopdaloop/src/shoop_py_backend/fx_chain.rs
  src/rust/shoopdaloop/src/shoop_py_backend/mod.rs
Due: Python, C(++)

wip
  .gitignore
  src/rust/backend_bindings/src/shoop_loop.rs
Due: none

refactor: Update BackendLoop to use shoop_py_backend methods instead of API
  src/python/shoopdaloop/lib/backend_wrappers.py
Due: Python

wip
  src/backend/internal/BasicLoop.cpp
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/q_objects/Loop.py
  src/rust/backend_bindings/src/shoop_loop.rs
  src/rust/shoopdaloop/src/shoop_py_backend/shoop_loop.rs
Due: Python, C(++)
