Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  src/backend/internal/BackendSession.cpp
  src/backend/internal/CustomProcessingChain.cpp
  src/backend/internal/InternalAudioPort.cpp
  src/backend/internal/InternalAudioPort.h
  src/backend/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/backend/libshoopdaloop_backend.cpp
  src/backend/test/unit/test_InternalAudioPort.cpp
  src/python/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/ChannelDataRenderer.qml
  src/qml/LoopAudioChannel.qml
  src/rust/cxx_qt_lib_shoop/build.rs
  src/rust/cxx_qt_lib_shoop/src/cxx/qqmlengine_helpers.cpp
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qqmlengine_helpers.h
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/cxx/ShoopQmlEngine.cpp
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopQmlEngine.h
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/type_shoopqmlapplicationengine.rs
  src/rust/shoopdaloop/src/main_impl.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python, C(++)

Update includelist
  distribution/linux/includelist
Due: none

Update includelist
  distribution/windows/includelist
Due: none

wip
  distribution/windows/includelist
Due: none

wip
  src/qml/AppControls.qml
  src/qml/ChannelDataRenderer.qml
  src/qml/test/tst_Resample.qml
  src/rust/cxx_qt_lib_shoop/src/rust/qmetatype_helpers.rs
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopQmlEngine.h
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine_bridge.rs
  src/rust/shoopdaloop/src/main_impl.rs
Due: C(++)

wip
  src/qml/LoopAudioChannel.qml
  src/qml/Session.qml
  src/qml/TracksWidget.qml
  src/qml/test/tst_Session_channels.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
Due: none

wip
  src/qml/LoopAudioChannel.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
Due: none

wip
  src/qml/LoopWidget.qml
  src/qml/test/tst_TwoLoops.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
Due: none

wip
  Cargo.toml
  src/python/pyproject.toml
  src/qml/test/tst_Midi.qml
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/midi_io.rs
  src/rust/frontend/src/smf.rs
Due: none

wip
  README.md
  src/python/pyproject.toml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend_bridge.rs
  src/rust/frontend/src/midi_io.rs
Due: none

wip
  src/qml/AppControls.qml
  src/qml/ChannelDataRenderer.qml
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/qml/LoopWidget.qml
  src/qml/Session.qml
  src/qml/StateRegistry.qml
  src/qml/TaskObserver.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_Resample.qml
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qjsvalue.h
  src/rust/cxx_qt_lib_shoop/src/rust/qjsvalue.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
Due: C(++)

wip
  src/qml/LoopWidget.qml
Due: none

wip
  distribution/linux/shoopdaloop
  src/qml/Session.qml
  src/qml/test/tst_FetchDisplayData.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
Due: none

wip
  src/qml/test/tst_FetchDisplayData.qml
  src/rust/crashhandling/src/lib.rs
  src/rust/shoopdaloop/src/cli_args.rs
  src/rust/shoopdaloop/src/lib_impl.rs
  src/rust/shoopdaloop/src/main_impl.rs
Due: none

wip
  src/qml/test/tst_FetchDisplayData.qml
Due: none

wip
  src/qml/AudioPort.qml
  src/qml/BackendLoopWithChannels.qml
  src/qml/CompositeLoop.qml
  src/qml/FXChain.qml
  src/qml/Loop.qml
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/qml/LoopWidget.qml
  src/qml/MidiPort.qml
  src/qml/Session.qml
  src/qml/StateRegistry.qml
  src/qml/TaskObserver.qml
  src/qml/TrackWidget.qml
  src/qml/TracksWidget.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_Session_save_load.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_async_task.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
Due: none

wip
  src/qml/BackendLoopWithChannels.qml
  src/qml/Loop.qml
  src/qml/LoopWidget.qml
  src/qml/Session.qml
  src/qml/TaskObserver.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_Session_save_load.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/rust/cxx_qt_lib_shoop/build.rs
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qsharedpointer_qvector_f32.h
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qsharedpointer_qvector_f32.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/frontend/src/audio_power_pyramid.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform_bridge.rs
Due: C(++)

wip
  src/python/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/ChannelDataRenderer.qml
  src/qml/RenderChannelData.qml
  src/rust/cxx_qt_lib_shoop/build.rs
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qsharedpointer_qvector_f32.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qsharedpointer_qvector_qvariant.h
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qsharedpointer_qvector_f32.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qsharedpointer_qvector_qvariant.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/frontend/Cargo.toml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_midi_sequence.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_midi_sequence_bridge.rs
  src/rust/frontend/src/init.rs
  src/rust/midi_processing/Cargo.toml
  src/rust/midi_processing/src/lib.rs
Due: Python, C(++)

wip
  src/python/shoopdaloop/lib/q_objects/ApplicationMetadata.py
  src/python/shoopdaloop/lib/q_objects/TestCase.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/Session.qml
  src/qml/applications/shoopdaloop_main.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_ControlInterface_lua.qml
  src/qml/test/tst_FetchDisplayData.qml
  src/qml/test/tst_LoopReorder.qml
  src/qml/test/tst_LuaScriptWithEngine.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_SessionDescriptor_default.qml
  src/qml/test/tst_SessionDescriptor_track_controls.qml
  src/qml/test/tst_Session_channels.qml
  src/qml/test/tst_Session_save_load.qml
  src/qml/test/tst_ThreeLoops.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/qml/test/tst_TrackControl_direct.qml
  src/qml/test/tst_TrackControl_drywet.qml
  src/qml/test/tst_TwoLoops.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_midi_sequence.rs
  src/rust/midi_processing/src/lib.rs
  src/rust/shoopdaloop/src/global_qml_settings.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: Python

wip
  src/qml/test/ShoopTestCase.qml
  src/rust/shoopdaloop/src/global_qml_settings.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/KeyModifiers.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/AppControls.qml
  src/qml/EditCompositeLoop.qml
  src/qml/LoopWidget.qml
  src/qml/ShoopApplicationWindow.qml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/cxx/ShoopKeyEventParser.cpp
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopKeyEventParser.h
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_key_modifiers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_key_modifiers_bridge.rs
  src/rust/frontend/src/init.rs
Due: Python, C(++)

wip
  Cargo.toml
  src/python/shoopdaloop/lib/q_objects/ClickTrackGeneratorImpl.py
  src/python/shoopdaloop/lib/q_objects/QoverageCollectorFactory.py
  src/python/shoopdaloop/lib/q_objects/QoverageCollectorFactoryImpl.py
  src/python/shoopdaloop/lib/q_objects/SettingsIO.py
  src/python/shoopdaloop/lib/q_objects/SettingsIOImpl.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/ClickTrackDialog.qml
  src/rust/frontend/Cargo.toml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/cxx/ShoopKeyEventParser.cpp
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_settings_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_settings_io_bridge.rs
  src/rust/frontend/src/init.rs
  src/rust/shoop_py_utils/src/conversions.rs
  src/rust/shoop_py_wrapped_objects/src/click_track_generator.rs
  src/rust/shoop_py_wrapped_objects/src/lib.rs
Due: Python, C(++)

wip
  src/python/shoopdaloop/lib/q_objects/SettingsIO.py
  src/python/shoopdaloop/lib/q_objects/SettingsIOImpl.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/SettingsDialog.qml
  src/rust/cxx_qt_lib_shoop/src/rust/qmetatype_helpers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_settings_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_settings_io_bridge.rs
  src/rust/frontend/src/init.rs
  src/rust/shoop_py_utils/src/conversions.rs
Due: Python

Rustier (#529)
  Cargo.toml
  src/python/shoopdaloop/lib/q_objects/ClickTrackGeneratorImpl.py
  src/python/shoopdaloop/lib/q_objects/KeyModifiers.py
  src/python/shoopdaloop/lib/q_objects/QoverageCollectorFactory.py
  src/python/shoopdaloop/lib/q_objects/QoverageCollectorFactoryImpl.py
  src/python/shoopdaloop/lib/q_objects/SettingsIO.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/AppControls.qml
  src/qml/ClickTrackDialog.qml
  src/qml/EditCompositeLoop.qml
  src/qml/LoopWidget.qml
  src/qml/SettingsDialog.qml
  src/qml/ShoopApplicationWindow.qml
  src/rust/cxx_qt_lib_shoop/src/rust/qmetatype_helpers.rs
  src/rust/frontend/Cargo.toml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/cxx/ShoopKeyEventParser.cpp
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopKeyEventParser.h
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_key_modifiers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_key_modifiers_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_settings_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_settings_io_bridge.rs
  src/rust/frontend/src/init.rs
  src/rust/shoop_py_utils/src/conversions.rs
  src/rust/shoop_py_wrapped_objects/src/click_track_generator.rs
  src/rust/shoop_py_wrapped_objects/src/lib.rs
Due: Python, C(++)

wip
  Cargo.toml
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/lua_engine.rs
Due: none

wip
  src/rust/frontend/src/lua_engine.rs
Due: none

wip
  src/rust/frontend/src/lua_engine.rs
  vcpkg/vcpkg.json
Due: none

wip
  scripts/vcpkg_prebuild.py
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/lua_engine.rs
  src/rust/frontend/src/lua_engine_callbacks.rs
Due: none

wip
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/lua_callback.rs
  src/rust/frontend/src/lua_engine.rs
  src/rust/frontend/src/lua_engine_callbacks.rs
  src/rust/frontend/src/lua_qobject_callback.rs
Due: none

wip
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qpointer.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_generic_test_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_generic_test_item_bridge.rs
  src/rust/frontend/src/lua_qobject_callback.rs
Due: none

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
  src/rust/frontend/src/init.rs
Due: none

wip
  src/qml/test/tst_LuaEngine.qml
  src/rust/config/src/config.rs
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_generic_test_item.rs
  src/rust/frontend/src/init.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/lua_conversions.rs
  src/rust/frontend/src/lua_engine.rs
  src/rust/frontend/src/lua_qobject_callback.rs
  src/rust/shoopdaloop/src/shoop_rust_py/init.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
Due: none
