Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
Due: none

wip
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/BufferQueue.cpp
  src/libshoopdaloop/internal/BufferQueue.h
  src/libshoopdaloop/internal/ChannelInterface.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/internal/GraphLoopChannel.cpp
  src/libshoopdaloop/internal/GraphLoopChannel.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: Python, C(++)

wip
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

More grabbing functionality, tests and fixes (#327)
  pyproject.toml
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/BufferQueue.cpp
  src/libshoopdaloop/internal/BufferQueue.h
  src/libshoopdaloop/internal/ChannelInterface.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/internal/GraphLoop.h
  src/libshoopdaloop/internal/GraphLoopChannel.cpp
  src/libshoopdaloop/internal/GraphLoopChannel.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
  src/libshoopdaloop/test/integration/test_chain_single_drywet_loop.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: Python, C(++)

Update documentation
  docs/source/resources/global_controls.png
  docs/source/resources/grab_button.png
  docs/source/resources/loop_controls.png
  docs/source/usage.loopcontrols.rst
Due: none

Fix segfault if grabbing, fix audio alignment in details
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
Due: C(++)

Fix #74
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
Due: none

Additional AKAI APC Mini MK1 functionality
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
Due: none

wip
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
Due: none

wip
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
Due: Python

Fix initial setting of loop gains
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: Python

wip
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

wip
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
Due: Python

wip
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/lib/shoop_format.lua
  src/shoopdaloop/lib/lua/system/sandbox.lua
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/LuaEngine.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
Due: Python

wip
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python

wip
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: none

Expand akai apc mini mk1 functionality (#328)
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/lib/shoop_format.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/lua/system/sandbox.lua
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/LuaEngine.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

Monospaced printing of script docs
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: none

Remove a mutex in profiling code
  src/libshoopdaloop/internal/ProcessProfiling.cpp
Due: C(++)

Remove a mutex in profiling code (#330)
  src/libshoopdaloop/internal/ProcessProfiling.cpp
Due: C(++)

Fix initial gain setting
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: none

Fix MacOS build issue
  src/libshoopdaloop/internal/ProcessProfiling.cpp
Due: C(++)

Another MacOS build issue fix
  src/libshoopdaloop/internal/ProcessProfiling.cpp
Due: C(++)

Fix initial gain setting (#331)
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: none

Speed up displaying channel audio data
  src/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
Due: Python

Auto-close connections when script deactivated
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/LuaScript.qml
  src/shoopdaloop/lib/qml/LuaScriptWithEngine.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_LuaScriptWithEngine.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControlPort.qml
Due: Python

Fix track controls settings when loading session
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
Due: none

wip
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

wip
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/MidiPort.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
Due: Python

Fix track controls settings when loading session (#332)
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/MidiPort.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
Due: Python

Fix harmless error message on exit
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

MIDI ringbuffer grabbing
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiRingbuffer.cpp
  src/libshoopdaloop/internal/MidiRingbuffer.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/unit/test_MidiRingbuffer.cpp
Due: C(++)

wip
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
  src/libshoopdaloop/test/integration/test_chain_single_drywet_loop.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/BasicLoop.h
  src/libshoopdaloop/internal/LoopInterface.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
Due: C(++)

wip
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/js_constants.py
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/MonkeyTester.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_actions.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/ObjectPool.h
  src/shoopdaloop/lib/js_constants.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_audio.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_audio.cpp
Due: C(++)
