Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  src/libshoopdaloop/internal/BackendSession.cpp
Due: C(++)

WIP
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/internal/GraphLoop.h
  src/libshoopdaloop/internal/GraphLoopChannel.cpp
  src/libshoopdaloop/internal/graph_processing_order.cpp
  src/libshoopdaloop/test/integration/test_graph_construction.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/jack/JackAudioPort.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.h
  src/libshoopdaloop/internal/jack/JackPort.h
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/MidiBufferInterfaces.h
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/jack/JackTestApi.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/DummyMidiBufs.cpp
  src/libshoopdaloop/internal/DummyMidiBufs.h
  src/libshoopdaloop/internal/MidiBufferInterfaces.h
  src/libshoopdaloop/internal/MidiBufferingInputPort.cpp
  src/libshoopdaloop/internal/MidiBufferingInputPort.h
  src/libshoopdaloop/internal/MidiSortingBuffer.cpp
  src/libshoopdaloop/internal/MidiSortingBuffer.h
  src/libshoopdaloop/internal/MidiSortingReadWritePort.h
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/jack/JackTestApi.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/test/helpers.h
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiPort.h
Due: C(++)

WIP
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
  src/shoopdaloop/lib/qml/RenderChannelData.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

WIP
  src/shoopdaloop/lib/midi_helpers.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/qml/RenderChannelData.qml
Due: Python

Add click loop function for MIDI
  src/shoopdaloop/lib/gen_click_track.py
  src/shoopdaloop/lib/midi_helpers.py
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/qml/ClickTrackDialog.qml
  src/shoopdaloop/lib/qml/ExtendedButton.qml
  src/shoopdaloop/lib/qml/LoopMidiChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/ShoopButton.qml
  src/shoopdaloop/lib/qml/ShoopComboBox.qml
  src/shoopdaloop/lib/qml/ShoopTextField.qml
  src/shoopdaloop/lib/smf.py
Due: Python

Some MIDI fixes
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
Due: Python

More fixin
  src/libshoopdaloop/internal/MidiChannel.cpp
Due: C(++)

Fix
  src/shoopdaloop/lib/q_objects/FileIO.py
Due: Python

Draw midi (#147)
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/gen_click_track.py
  src/shoopdaloop/lib/midi_helpers.py
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
  src/shoopdaloop/lib/qml/ClickTrackDialog.qml
  src/shoopdaloop/lib/qml/ExtendedButton.qml
  src/shoopdaloop/lib/qml/LoopMidiChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/RenderChannelData.qml
  src/shoopdaloop/lib/qml/ShoopButton.qml
  src/shoopdaloop/lib/qml/ShoopComboBox.qml
  src/shoopdaloop/lib/qml/ShoopTextField.qml
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/lib/smf.py
Due: Python, C(++)

Fix LV2 windows bug, start work on resampling session load test
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/lv2/LV2.cpp
  src/libshoopdaloop/internal/lv2/LV2.h
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/test/ShoopSessionTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml_url_to_filename.js
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/MidiChannel.cpp
Due: C(++)

Fix session resampling and add test.
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/LoopMidiChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/MidiPort.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
  src/shoopdaloop/lib/session_schemas/schemas/session.1.json
Due: Python

Drag waveform
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
Due: none

Fix zoom and pan relationship in waveform render
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
Due: Python

WIP
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/RegistryLookup.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/OSUtils.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/RegistryLookup.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
Due: Python

WIP
  src/libshoopdaloop/CMakeLists.txt
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
  src/shoopdaloop/lib/qml/RenderChannelData.qml
  src/shoopdaloop/lib/qml/test/tst_Backend.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
Due: Python

Fix jack test
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
Due: none

Fix composite loop countdown
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

Fix jack test (#156)
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
Due: none

Fix composite loop countdown (#158)
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

Fix flaky CompositeLoop test (#159)
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
Due: none

Fix session load mute states (#160)
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
Due: none

Don't show mute buttons / volume sliders if not applicable
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
Due: none

Don't show mute buttons / volume sliders if not applicable (#161)
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
Due: none

wip
  src/shoopdaloop/lib/qml/Session.qml
Due: none

Fix auto session load on startup (#162)
  src/shoopdaloop/lib/qml/Session.qml
Due: none

WIP
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/ShoopMenuItem.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: Python

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
