Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  distribution/pyinstaller/hook-lupa.py
Due: none

Pyinstaller (#279)
  .github/actions/build_pyinstaller/action.yml
  .github/actions/test_qml/action.yml
  .github/actions/test_run_app/action.yml
  .github/actions/test_screenshots/action.yml
  .github/workflows/build_and_test.yml
  distribution/dependencies/base_manylinux_2_28
  distribution/dockerfiles/base_manylinux_2_28.Dockerfile
  distribution/pyinstaller/.gitignore
  distribution/pyinstaller/README
  distribution/pyinstaller/hook-lupa.py
  distribution/pyinstaller/hook-shoopdaloop.py
  distribution/pyinstaller/shoopdaloop.spec
  src/shoopdaloop/__main__.py
Due: Python

Bugfix on start-up of AudioMidiDriver
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.cpp
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.h
  src/libshoopdaloop/test/unit/test_DummyAudioMidiDriver.cpp
Due: C(++)

Fix incorrect resource paths for editable installation
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
  src/shoopdaloop/lib/q_objects/LuaEngine.py
  src/shoopdaloop/lib/qml/MonkeyTester.qml
  src/shoopdaloop/lib/session_schemas/session_schemas.py
Due: Python

Fix exit
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/qml_tests.py
Due: Python

wip
  src/shoopdaloop/lib/q_objects/Application.py
Due: Python

Fix exit (#283)
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/qml_tests.py
Due: Python

Fixes and tests for NSM session management
  scripts/send_osc.py
  src/shoopdaloop/lib/q_objects/Application.py
Due: Python

Add crash reporting to BugSplat
  .github/workflows/build_and_test.yml
  scripts/upload_minidump.sh
  src/shoopdaloop/lib/qml/test/tst_Crash.qml
Due: none

Add crash reporting to BugSplat (#285)
  .github/workflows/build_and_test.yml
  scripts/upload_minidump.sh
  src/shoopdaloop/lib/qml/test/tst_Crash.qml
Due: none

Remove crashtest
  src/shoopdaloop/lib/qml/test/tst_Crash.qml
Due: none

Add debug symbol upload to Bugsplat
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/workflows/build_and_test.yml
  src/shoopdaloop/lib/qml/test/tst_Crash.qml
Due: none

wip
  .github/workflows/build_and_test.yml
  src/shoopdaloop/lib/crash_handling.py
  src/shoopdaloop/lib/qml/test/tst_Crash.qml
  src/shoopdaloop/qml_tests.py
Due: Python

Add debug symbol upload to Bugsplat (#286)
  .github/workflows/build_and_test.yml
  src/shoopdaloop/lib/crash_handling.py
  src/shoopdaloop/qml_tests.py
Due: Python

Revert crashhandling change
  src/shoopdaloop/lib/crash_handling.py
Due: Python

Tracebacks from QML and Python
  src/shoopdaloop/lib/crash_handling.py
Due: Python

wip
  .github/workflows/build_and_test.yml
  scripts/upload_crash_info.sh
  scripts/upload_minidump.sh
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/shoopdaloop/lib/crash_handling.py
  src/shoopdaloop/lib/q_objects/Application.py
Due: Python, C(++)

wip
  src/shoopdaloop/lib/crash_handling.py
Due: Python

WIP
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/Session.qml
Due: Python, C(++)

Tracebacks from QML and Python (#288)
  .github/workflows/build_and_test.yml
  scripts/upload_crash_info.sh
  scripts/upload_minidump.sh
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/crash_handling.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/Session.qml
Due: Python, C(++)

Add InnoSetup installer
  .github/actions/build_innosetup/action.yml
  .github/workflows/build_and_test.yml
  distribution/innosetup/shoopdaloop.iss
Due: none

wip
  .github/actions/build_innosetup/action.yml
  distribution/innosetup/shoopdaloop.iss
Due: none

wip
  .github/actions/build_innosetup/action.yml
Due: none

wip
  .github/workflows/build_and_test.yml
  src/shoopdaloop/lib/crash_handling.py
Due: Python

Add workflow_dispatch option for main CI build
  .github/workflows/build_and_test.yml
Due: none
