Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

Got autoconnect ports working, start of an APC Mini script
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.h
  src/libshoopdaloop/internal/JackApi.h
  src/libshoopdaloop/internal/JackMidiPort.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/lib/shoop_midi.lua
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/midi.js
  src/shoopdaloop/lib/midi_helpers.py
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/JackControlClient.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_Lua.qml
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python

WIP
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/q_objects/ControlInterface.py
Due: Python

Move to multiple LUA runtimes
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/lua/system/runtime_init.lua
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/lua_qobject_interface_test.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/LuaEngine.py
  src/shoopdaloop/lib/q_objects/LuaEngine_test.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine_test.py
  src/shoopdaloop/lib/qml/AppRegistries.qml
  src/shoopdaloop/lib/qml/LuaControlInterface.qml
  src/shoopdaloop/lib/qml/LuaEngine.qml
  src/shoopdaloop/lib/qml/LuaScript.qml
  src/shoopdaloop/lib/qml/LuaScriptWithEngine.qml
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/MidiControlPort.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Lua.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

WIP
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/LuaEngine.py
  src/shoopdaloop/lib/qml/LuaScript.qml
  src/shoopdaloop/lib/qml/LuaScriptManager.qml
  src/shoopdaloop/lib/qml/LuaScriptWithEngine.qml
  src/shoopdaloop/lib/qml/LuaScripts.qml
  src/shoopdaloop/lib/qml/ScriptSettings.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/session_schemas/schemas/script_settings.1.json
Due: Python

WIP
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/qml/LuaScript.qml
  src/shoopdaloop/lib/qml/LuaScriptManager.qml
  src/shoopdaloop/lib/qml/LuaScriptWithEngine.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: none

WIP
  src/shoopdaloop/lib/lua/lib/shoop_control.lua
  src/shoopdaloop/lib/lua/system/sandbox.lua
  src/shoopdaloop/lib/lua_qobject_interface_test.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
  src/shoopdaloop/lib/q_objects/LuaEngine.py
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

WIP
  docs/source/developers_scripting.rst
Due: none

WIP
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_actions.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_filters.qml
Due: none

WIP
  docs/source/developers_scripting.rst
  docs/source/usage.rst
  docs/source/usage_midicontrol.rst
Due: none

WIP
  docs/source/resources/advanced_midi_rule.png
  docs/source/resources/autoconnect.png
  docs/source/resources/midi_filter.png
  docs/source/resources/midi_settings.png
  docs/source/usage_midicontrol.rst
Due: none

WIP
  docs/source/resources/midi_learn.png
  docs/source/usage_midicontrol.rst
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/ScenesWidget.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: none

Update README.md
  README.md
Due: none

Midi bugfix (#53)
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: none

WIP
  src/libshoopdaloop/qml_types/RenderAudioWaveform/RenderAudioWaveform.cpp
Due: C(++)

Fix #56 render issue (#59)
  src/libshoopdaloop/qml_types/RenderAudioWaveform/RenderAudioWaveform.cpp
Due: C(++)

WIP
  docs/source/conf.py
  docs/source/developers.connections.rst
  docs/source/developers.rst
  docs/source/developers.scripting.rst
  docs/source/developers.software.rst
  docs/source/usage.loopcontrols.rst
  docs/source/usage.midicontrol.rst
  docs/source/usage.rst
  docs/source/usage.trackcontrols.rst
Due: none

Update MIDI docs (#60)
  docs/source/conf.py
  docs/source/developers.connections.rst
  docs/source/developers.rst
  docs/source/developers.scripting.rst
  docs/source/developers.software.rst
  docs/source/usage.loopcontrols.rst
  docs/source/usage.midicontrol.rst
  docs/source/usage.rst
  docs/source/usage.trackcontrols.rst
Due: none

Step 1
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/ClickTrackDialog.qml
  src/shoopdaloop/lib/qml/DebugInspectionItemWindow.qml
  src/shoopdaloop/lib/qml/DynamicLoop.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/applications/test_backend_with_dynloop.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

Starting to implement composite loop
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

wip
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/session_schemas/schemas/loop.1.json
Due: none

WIP
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

More composite loop behaviors
  .vscode/settings.json
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python

WIP
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
Due: none

WIP
  docs/source/_ext/shoop_docstrings.py
  docs/source/concept.rst
  docs/source/conf.py
  docs/source/usage.keyboard.rst
  docs/source/usage.loopcontrols.rst
  docs/source/usage.rst
Due: none

WIP
  src/libshoopdaloop/internal/JackApi.h
  src/libshoopdaloop/internal/JackAudioSystem.cpp
  src/libshoopdaloop/internal/JackAudioSystem.h
  src/libshoopdaloop/internal/JackPort.cpp
  src/libshoopdaloop/internal/JackPort.h
  src/libshoopdaloop/internal/JackTestApi.cpp
  src/libshoopdaloop/internal/JackTestApi.h
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Mapper.qml
  src/shoopdaloop/lib/qml/MapperWithLoadedDetection.qml
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
  src/shoopdaloop/lib/qml/RepeaterWithLoadedDetection.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: Python, C(++)

WIP
  docs/source/usage.trackcontrols.rst
  src/libshoopdaloop/qml_types/RenderAudioWaveform/RenderAudioWaveform.cpp
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
  src/shoopdaloop/lib/qml/LoopMidiChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python, C(++)

WIP
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/DebugInspectionItemWindow.qml
  src/shoopdaloop/lib/qml/DebugInspectionMainWindow.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
Due: Python

WIP
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
Due: none

WIP
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: Python

WIP
  .github/actions/build_wheel/action.yml
  .github/workflows/build_and_test.yml
  .github/workflows/test_wheel.yml
  distribution/dependencies/build_base
  src/shoopdaloop/__init__.py
  src/shoopdaloop/__main__.py
Due: Python
