Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qobject.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopApplication.h
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopQmlEngine.h
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine_bridge.rs
  src/rust/shoop_py_utils/src/conversions.rs
  src/rust/shoop_py_wrapped_objects/src/schema_validator.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: Python, C(++)

wip
  src/rust/cxx_qt_lib_shoop/build.rs
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qvariant_qstringlist.h
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qmetatype_helpers.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_qstringlist.rs
  src/rust/shoop_py_utils/src/conversions.rs
  src/rust/shoopdaloop/src/cli_args.rs
  src/rust/shoopdaloop/src/lib.rs
Due: C(++)

wip
  src/python/shoopdaloop/lib/qml_helpers.py
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopQmlEngine.h
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine_bridge.rs
  src/rust/shoopdaloop/Cargo.toml
  src/rust/shoopdaloop/src/cli_args.rs
  src/rust/shoopdaloop/src/global_qml_settings.rs
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: Python, C(++)

wip
  src/backend/internal/MidiStorage.cpp
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/cxx/ShoopQmlEngine.cpp
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopQmlEngine.h
Due: C(++)

wip
  src/rust/shoopdaloop/src/audio_driver_names.rs
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

wip
  src/rust/shoopdaloop/src/cli_args.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

wip
  src/rust/shoopdaloop/src/audio_driver_names.rs
  src/rust/shoopdaloop/src/cli_args.rs
  src/rust/shoopdaloop/src/global_qml_settings.rs
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/SchemaValidator.py
  src/python/shoopdaloop/lib/q_objects/TestRunnerImpl.py
  src/qml/test/ShoopTestCase.qml
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qobject.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/register_qml_type.h
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_crash_handling_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_os_utils_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_release_focus_notifier_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_schema_validator_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_runner_bridge.rs
  src/rust/shoopdaloop/src/cli_args.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: Python, C(++)

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine_bridge.rs
  src/rust/shoop_py_wrapped_objects/src/schema_validator.rs
  src/rust/shoopdaloop/src/cli_args.rs
  src/rust/shoopdaloop/src/global_qml_settings.rs
  src/rust/shoopdaloop/src/lib_impl.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_runner_bridge.rs
  src/rust/shoopdaloop/src/global_qml_settings.rs
Due: none

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner_bridge.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

wip
  src/qml/TestRunner.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/ShoopTestFile.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner_bridge.rs
  src/rust/shoopdaloop/src/cli_args.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

wip
  src/qml/test/ShoopTestCase.qml
Due: none

wip
  src/qml/TestRunner.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/ShoopTestFile.qml
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopQmlEngine.h
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner_bridge.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: C(++)

wip
  src/qml/test/ShoopTestFile.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine.rs
Due: none

wip
  src/qml/Session.qml
  src/qml/test/ShoopTestFile.qml
  src/qml/test/tst_SessionDescriptor_default.qml
  src/qml/test/tst_SessionDescriptor_track_controls.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner_bridge.rs
  src/rust/shoopdaloop/src/cli_args.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

wip
  src/qml/test/ShoopTestFile.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner_bridge.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/TestRunner.py
  src/python/shoopdaloop/lib/q_objects/TestRunnerImpl.py
Due: Python

wip
  Cargo.toml
  src/qml/TestRunner.qml
  src/rust/backend/Cargo.toml
  src/rust/backend_bindings/Cargo.toml
  src/rust/common/Cargo.toml
  src/rust/config/Cargo.toml
  src/rust/crashhandling/Cargo.toml
  src/rust/cxx_qt_lib_shoop/Cargo.toml
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qobject.h
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner_bridge.rs
  src/rust/macros/Cargo.toml
  src/rust/packaging/Cargo.toml
  src/rust/py_env/Cargo.toml
  src/rust/py_prepare/Cargo.toml
  src/rust/shoop_py_backend/Cargo.toml
  src/rust/shoop_py_utils/Cargo.toml
  src/rust/shoop_py_wrapped_objects/Cargo.toml
  src/rust/shoopdaloop/Cargo.toml
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/lib_impl.rs
  src/rust/shoopdaloop/src/test_results.rs
Due: C(++)

wip
  src/qml/test/ShoopTestCase.qml
  src/qml/test/ShoopTestFile.qml
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/LuaEngineImpl.py
  src/qml/test/tst_CompositeLoop_scheduling.qml
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner_bridge.rs
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/lib_impl.rs
  src/rust/shoopdaloop/src/test_results.rs
Due: Python

wip
  .github/actions/build_base/action.yml
  .github/actions/test_qml/action.yml
  .github/actions/test_run_app/action.yml
Due: none

wip
  .github/workflows/build_and_test.yml
  .github/workflows/build_ci_containers.yml
  distribution/dependencies/build_base_debian_bookworm
  distribution/dockerfiles/build_base_debian_bookworm.Dockerfile
  distribution/dockerfiles/build_base_debian_bullseye.Dockerfile
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner_bridge.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/test_results.rs
Due: none

wip
  distribution/dependencies/build_base_debian_bookworm
  distribution/dockerfiles/build_base_debian_bookworm.Dockerfile
  distribution/dockerfiles/run_base_arch.Dockerfile
  distribution/dockerfiles/run_base_debian_latest.Dockerfile
  distribution/dockerfiles/run_base_ubuntu_latest.Dockerfile
Due: none

wip
  distribution/dockerfiles/run_base_fedora.Dockerfile
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner_bridge.rs
  src/rust/frontend/src/test_results.rs
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: none

wip
  src/qml/CompositeLoop.qml
  src/qml/EditCompositeLoop.qml
  src/qml/EditMidiControl.qml
  src/qml/EditMidiMessageFilter.qml
  src/qml/LoopAudioChannel.qml
  src/qml/LoopContentWidget.qml
  src/qml/LoopWidget.qml
  src/qml/MidiControl.qml
  src/qml/Registry.qml
  src/qml/RegistryLookup.qml
  src/qml/Session.qml
  src/qml/SessionControlInterface.qml
  src/qml/SettingsDialog.qml
  src/qml/StateRegistry.qml
  src/qml/TrackControlLogic.qml
  src/qml/TrackWidget.qml
  src/qml/TracksWidget.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_SessionDescriptor_track_controls.qml
  src/qml/test/tst_Session_channels.qml
  src/qml/test/tst_Session_save_load.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/qml/test/tst_TrackControl_direct.qml
  src/qml/test/tst_TrackControl_drywet.qml
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/lib.rs
Due: none

wip
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_bridge.rs
Due: none

wip
  .github/workflows/build_and_test.yml
  distribution/dockerfiles/run_base_arch.Dockerfile
  distribution/dockerfiles/run_base_debian_latest.Dockerfile
  distribution/dockerfiles/run_base_fedora.Dockerfile
  distribution/dockerfiles/run_base_ubuntu_latest.Dockerfile
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
Due: none

wip
  src/qml/CompositeLoop.qml
  src/qml/Loop.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/init.rs
Due: none

wip
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend_bridge.rs
  src/rust/frontend/src/loop_mode_helpers.rs
Due: none

wip
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
  src/rust/frontend/src/loop_mode_helpers.rs
Due: none

wip
  src/qml/ConnectionsDialog.qml
  src/qml/DetailsPane.qml
  src/qml/EditMidiMessageFilter.qml
  src/qml/LoopWidget.qml
  src/qml/MonitorWindow.qml
  src/qml/Session.qml
  src/qml/SettingsDialog.qml
  src/qml/TrackWidget.qml
  src/qml/applications/test_backend.qml
  src/qml/applications/test_backend_with_loop.qml
  src/qml/applications/tracks.qml
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
Due: none

wip
  src/qml/CompositeLoop.qml
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/invoke.h
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
Due: C(++)

wip
  src/qml/CompositeLoop.qml
  src/qml/LoopWidget.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
Due: none

wip
  src/qml/CompositeLoop.qml
  src/qml/LuaScript.qml
  src/qml/MidiControl.qml
  src/qml/Session.qml
  src/qml/TrackControlWidget.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
Due: none
