Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  .github/actions/test_rust/action.yml
Due: none

wip
  .github/actions/test_toplevel/action.yml
Due: none

wip
  .github/actions/prepare_build/action.yml
  README.md
  src/rust/CMakeLists.txt
Due: none

wip
  .github/actions/prepare_build/action.yml
Due: none

wip
  .github/actions/prepare_build/action.yml
  src/shoopdaloop/lib/q_objects/JackControlClient.py
Due: Python

wip
  .github/actions/prepare_build/action.yml
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/qobj/qobj_file_io.rs
  src/rust/shoop_rs/src/qobj/qobj_os_utils.rs
  src/rust/shoop_rs/src/qobj/qobj_release_focus_notifier.rs
  src/shoopdaloop/lib/q_objects/ReleaseFocusNotifier.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/FocusReleasingScrollView.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

wip
  src/rust/shoop_rs/src/qobj/mod.rs
Due: none

wip
  .github/actions/prepare_build/action.yml
  src/rust/CMakeLists.txt
Due: none

wip
  src/rust/shoop_rs/src/cxx/cxx-shoop/register_qml_type.h
  src/rust/shoop_rs/src/qobj/qobj_release_focus_notifier.rs
Due: C(++)

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/prepare_build_windows/action.yml
Due: none

wip
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/cxx/cxx-shoop/shoop_rust_callable.cpp
  src/rust/shoop_rs/src/cxx/cxx-shoop/shoop_rust_callable.h
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/types/mod.rs
  src/rust/shoop_rs/src/types/shoop_rust_callable.rs
Due: C(++)

wip
  .github/workflows/build_and_test.yml
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/cxx-qt-ext/include/cxx-qt-shoop-ext/qlinef.h
  src/rust/shoop_rs/src/cxx-qt-ext/rust/qlinef.rs
  src/rust/shoop_rs/src/cxx-qt-ext/rust/qlist_qlinef.rs
  src/rust/shoop_rs/src/qobj/mod.rs
  src/rust/shoop_rs/src/qobj/qobj_render_waveform.rs
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
Due: Python, C(++)

wip
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/cxx-qt-ext/rust/qlinef.rs
  src/rust/shoop_rs/src/cxx/cxx-shoop/shoop_rust_callable.cpp
  src/rust/shoop_rs/src/cxx/cxx-shoop/shoop_rust_callable.h
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/types/shoop_rust_callable.rs
Due: C(++)

wip
  src/CMakeLists.txt
  src/cmake/CompilerCaching.cmake
  src/rust/shoop_rs/aqtinstall.log
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/cxx-qt-ext/include/cxx-qt-shoop-ext/qlinef.h
  src/rust/shoop_rs/src/cxx-qt-ext/rust/qlinef.rs
  src/rust/shoop_rs/src/cxx-qt-ext/rust/qlist_qlinef.rs
  src/rust/shoop_rs/src/cxx/cxx-shoop/shoop_rust_callable.cpp
  src/rust/shoop_rs/src/cxx/cxx-shoop/shoop_rust_callable.h
  src/rust/shoop_rs/src/cxx_qt_ext/cxx/qlinef.cpp
  src/rust/shoop_rs/src/cxx_qt_ext/include/cxx-qt-shoop-ext/qlinef.h
  src/rust/shoop_rs/src/cxx_qt_ext/mod.rs
  src/rust/shoop_rs/src/cxx_qt_ext/rust/mod.rs
  src/rust/shoop_rs/src/cxx_qt_ext/rust/qlinef.rs
  src/rust/shoop_rs/src/cxx_qt_ext/rust/qlist_qlinef.rs
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/qobj/qobj_render_waveform.rs
  src/rust/shoop_rs/src/types/shoop_rust_callable.rs
Due: C(++)

wip
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/cxx/qlinef.cpp
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qlinef.h
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/mod.rs
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/rust/mod.rs
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/rust/qlinef.rs
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/rust/qlist_qlinef.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/cxx/ShoopQObject.cpp
  src/rust/shoop_rs/src/cxx_qt_shoop/cxx/shoop_rust_callable.cpp
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopQObject.h
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/invoke_from_new_thread.h
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/make_unique.h
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/register_qml_type.h
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/shoop_rust_callable.h
  src/rust/shoop_rs/src/cxx_qt_shoop/mod.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/mod.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_os_utils.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_release_focus_notifier.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_render_waveform.rs
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/shoop_rs_macros_tests/shoop_rs_macros_test.rs
  src/rust/shoop_rs/src/types/shoop_rust_callable.rs
Due: C(++)

wip
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/audio_power_pyramid.rs
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/cxx/qpen.cpp
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qlinef.h
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qpen.h
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/rust/mod.rs
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/rust/qlinef.rs
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/rust/qlist_qlinef.rs
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/rust/qpen.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/mod.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_render_waveform.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/shoop_rust_callable.rs
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/types/mod.rs
  src/shoopdaloop/lib/qml/RenderChannelData.qml
Due: C(++)

wip
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
Due: none

wip
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/cxx/qpen.cpp
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qpen.h
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/rust/qlinef.rs
  src/rust/shoop_rs/src/cxx_qt_lib_shoop/rust/qpen.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/cxx/shoop_rust_callable.cpp
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/make_raw.h
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/shoop_rust_callable.h
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/shoop_rust_callable.rs
  src/shoopdaloop/lib/qml/RenderChannelData.qml
Due: C(++)

wip
  distribution/pyinstaller/hook-shoopdaloop.py
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/accelerate/CMakeLists.txt
  src/libshoopdaloop/accelerate/shoop_accelerate.cpp
  src/libshoopdaloop/accelerate/shoop_accelerate.h
  src/rust/shoop_rs/src/audio_power_pyramid.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
  src/shoopdaloop/lib/qml/RenderChannelData.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python, C(++)

wip
  src/rust/shoop_rs/CMakeLists.txt
Due: none

wip
  .github/actions/prepare_build/action.yml
  .github/actions/prepare_build_macos/action.yml
  src/rust/shoop_rs/CMakeLists.txt
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/shoop_rust_callable.h
Due: C(++)

wip
  .github/actions/prepare_build/action.yml
  .github/actions/prepare_build_windows/action.yml
  src/CMakeLists.txt
  src/libshoopdaloop/BuildZitaResampler.cmake
Due: none

wip
  src/libshoopdaloop/BuildZitaResampler.cmake
Due: none

wip
  .github/actions/prepare_build_macos/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/prepare_build_macos/action.yml
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/shoop_rust_callable.h
Due: C(++)

wip
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/BuildZitaResampler.cmake
Due: none

wip
  src/libshoopdaloop/CMakeLists.txt
Due: none

wip
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

wip
  .github/actions/prepare_build/action.yml
  aqtinstall.log
  src/shoopdaloop/lib/qml_helpers.py
Due: Python
