Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

Increase waiting period before session test start
  src/shoopdaloop/lib/qml/test/ShoopSessionTestCase.qml
Due: none

Fix reordering of loops
  src/shoopdaloop/lib/qml/OldLoopWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/test/tst_LoopReorder.qml
Due: none

fix
  src/shoopdaloop/lib/qml/test/tst_LoopReorder.qml
Due: none

Fix reordering of loops (#437)
  src/shoopdaloop/lib/qml/OldLoopWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/test/tst_LoopReorder.qml
Due: none

Collect crashes step doesn't fail re-runs
  .github/workflows/build_and_test.yml
Due: none

Collect crashes step doesn't fail re-runs (#439)
  .github/workflows/build_and_test.yml
Due: none

wip
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/internal/MidiRingbuffer.cpp
  src/libshoopdaloop/internal/MidiRingbuffer.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/internal/shoop_globals.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
  src/libshoopdaloop/test/unit/test_MidiChannel.cpp
  src/libshoopdaloop/test/unit/test_MidiRingbuffer.cpp
  src/libshoopdaloop/test/unit/test_MidiStorage.cpp
Due: C(++)

wip
  src/libshoopdaloop/test/unit/test_MidiChannel.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/internal/MidiRingbuffer.cpp
  src/libshoopdaloop/internal/MidiRingbuffer.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/internal/shoop_globals.h
  src/libshoopdaloop/test/helpers.h
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
  src/libshoopdaloop/test/unit/test_MidiChannel.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiRingbuffer.cpp
  src/libshoopdaloop/internal/MidiRingbuffer.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/test/unit/test_MidiRingbuffer.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/test/helpers.h
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
  src/libshoopdaloop/test/unit/test_MidiChannel.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/MidiBufferingInputPort.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/internal/MidiRingbuffer.cpp
  src/libshoopdaloop/internal/MidiRingbuffer.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/internal/TrackedRelativeMidiState.cpp
  src/libshoopdaloop/internal/TrackedRelativeMidiState.h
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/test/helpers.h
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiRingbuffer.cpp
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
Due: Python, C(++)

wip
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

MIDI ringbuffer grabbing (#338)
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/MidiBufferingInputPort.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiMultiBufferStorage.cpp
  src/libshoopdaloop/internal/MidiMultiBufferStorage.h
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/internal/MidiRingbuffer.cpp
  src/libshoopdaloop/internal/MidiRingbuffer.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/internal/TrackedRelativeMidiState.cpp
  src/libshoopdaloop/internal/TrackedRelativeMidiState.h
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/shoop_globals.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/helpers.h
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
  src/libshoopdaloop/test/unit/test_MidiChannel.cpp
  src/libshoopdaloop/test/unit/test_MidiRingbuffer.cpp
  src/libshoopdaloop/test/unit/test_MidiStorage.cpp
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
Due: Python, C(++)

Update action.yml for pacman
  .github/actions/install_package/action.yml
Due: none

Windows ASAN
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/CMakeLists.txt
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  src/libshoopdaloop/CMakeLists.txt
Due: none

wip
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/MidiRingbuffer.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/test/unit/test_MidiRingbuffer.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiStorage.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
Due: C(++)

wip
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: none

Bugfixes (#447)
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiRingbuffer.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
  src/libshoopdaloop/test/unit/test_MidiRingbuffer.cpp
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: C(++)

Update README.md
  README.md
Due: none

Introduce Rust QObjects into the system, replace OSUtils with it
  .gitmodules
  src/CMakeLists.txt
  src/libshoopdaloop/crashhandling/CMakeLists.txt
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/libshoopdaloop/crashhandling/shoop_crashhandling.h
  src/libshoopdaloop/crashhandling/test_segfault.cpp
  src/rust/CMakeLists.txt
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/build.rs
  src/rust/shoop_rs.cpp
  src/rust/src/lib.rs
  src/rust/src/shoop_rust_qobj/mod.rs
  src/rust/src/shoop_rust_qobj/qobj_os_utils.rs
  src/shoopdaloop/lib/crash_handling.py
  src/shoopdaloop/lib/q_objects/OSUtils.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/applications/shoopdaloop_main.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python, C(++)

wip
  src/rust/src/shoop_rust_qobj/qobj_key_modifiers.rs
  src/rust/src/shoop_rust_qobj/qobj_os_utils.rs
Due: none

Building up the Rust file tree
  src/rust/CMakeLists.txt
  src/rust/Cargo.lock
  src/rust/shoop_rs/.gitignore
  src/rust/shoop_rs/CMakeLists.txt
  src/rust/shoop_rs/Cargo.toml
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/shoop_rs.cpp
  src/rust/shoop_rs/src/cxx/cxx-shoop/make_unique.h
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/shoop_rust_qobj/mod.rs
  src/rust/shoop_rs/src/shoop_rust_qobj/qobj_key_modifiers.rs
  src/rust/shoop_rs/src/shoop_rust_qobj/qobj_os_utils.rs
  src/rust/shoop_rs_macros/.gitignore
  src/rust/shoop_rs_macros/Cargo.toml
  src/rust/shoop_rs_macros/src/lib.rs
Due: C(++)

wip
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/cxx/cxx-shoop/invoke_from_new_thread.h
  src/rust/shoop_rs/src/cxx/cxx-shoop/is_called_from_qobj_thread.h
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/shoop_rs_macros_tests/mod.rs
  src/rust/shoop_rs/src/shoop_rs_macros_tests/shoop_rs_macros_test.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/mod.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_key_modifiers.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_os_utils.rs
  src/rust/shoop_rs/src/shoop_rust_qobj/mod.rs
  src/rust/shoop_rs_macros/Cargo.toml
  src/rust/shoop_rs_macros/src/lib.rs
  src/rust/src/shoop_rust_qobj/test/tst_qobj_os_utils.qml
Due: C(++)

wip
  .github/workflows/build_and_test.yml
  distribution/dependencies/build_base_debian_bullseye
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/shoop_rs_macros_tests/shoop_rs_macros_test.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/mod.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_key_modifiers.rs
  src/rust/shoop_rs_macros/src/lib.rs
  src/rust/src/shoop_rust_qobj/test/tst_qobj_os_utils.qml
Due: none

wip
  src/rust/shoop_rs/build.rs
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/mod.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
Due: none

wip
  distribution/dependencies/build_base_debian_bullseye
Due: none

wip
  .github/actions/prepare_build_linux/action.yml
Due: none

Update build_base_debian_bullseye
  distribution/dependencies/build_base_debian_bullseye
Due: none

wip
  .github/workflows/build_and_test.yml
  distribution/dependencies/build_base_debian_bullseye
  distribution/dockerfiles/build_base_debian_bullseye.Dockerfile
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_file_io.rs
  src/rust/shoop_rs/src/shoop_rs_qobj/qobj_os_utils.rs
Due: none
