Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  .github/actions/test_qml/action.yml
  src/shoopdaloop/__main__.py
Due: Python

WIP
  src/shoopdaloop/__main__.py
  src/shoopdaloop/run_qml_tests.py
Due: Python

wip
  .github/workflows/build_and_test.yml
  src/shoopdaloop/find_qt_lib.py
  src/shoopdaloop/run_qml_tests.py
Due: Python

wip
  src/shoopdaloop/find_qt_lib.py
Due: Python

wip
  .github/workflows/build_and_test.yml
  src/shoopdaloop/__main__.py
  src/shoopdaloop/find_qt_lib.py
  src/shoopdaloop/run_qml_tests.py
Due: Python

WIP
  overrides/linux_barebones_overrides.toml
  overrides/macos_debug_overrides.toml
  overrides/macos_release_overrides.toml
  overrides/windows_debug_overrides.toml
  overrides/windows_release_overrides.toml
  src/CMakeLists.txt
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/qml_types/CMakeLists.txt
  src/libshoopdaloop/qml_types/RenderAudioWaveform/CMakeLists.txt
  src/libshoopdaloop/qml_types/RenderAudioWaveform/RenderAudioWaveform.cpp
  src/libshoopdaloop/qml_types/RenderAudioWaveform/RenderAudioWaveform.h
  src/libshoopdaloop/qt_extensions/CMakeLists.txt
  src/libshoopdaloop/qt_extensions/qt_extensions.h
  src/libshoopdaloop/qt_extensions/render_audio_waveform.cpp
  src/libshoopdaloop/qt_extensions/render_audio_waveform.h
  src/shoopdaloop/__main__.py
  src/shoopdaloop/find_qt_lib.py
  src/shoopdaloop/lib/ensure_ld_qt.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/extension_fallbacks/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/extension_fallbacks/__init__.py
  src/shoopdaloop/lib/qml/extension_checks/check_RenderAudioWaveform.qml
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

WIP
  .github/workflows/build_and_test.yml
  scripts/test_qt_available.py
  src/CMakeLists.txt
Due: none

WIP
  scripts/test_qt_available.py
Due: none

wip
  .github/workflows/build_and_test.yml
  scripts/test_qt_available.py
Due: none

wip
  pyproject.toml
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/qt_extensions/CMakeLists.txt
Due: none

WIP
  .github/workflows/build_and_test.yml
  pyproject.toml
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/install_qt/action.yml
  .github/actions/prepare_build_macos/action.yml
  .github/actions/prepare_build_manylinux_2_28/action.yml
  .github/actions/prepare_build_windows/action.yml
  .github/actions/test_python/action.yml
  .github/actions/test_qml/action.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_qt.yml
  distribution/dependencies/build_base_manylinux_2_28
  scripts/test_qt_available.py
  src/CMakeLists.txt
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/accelerate/CMakeLists.txt
  src/libshoopdaloop/accelerate/shoop_accelerate.cpp
  src/libshoopdaloop/accelerate/shoop_accelerate.h
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/qt_extensions/CMakeLists.txt
  src/libshoopdaloop/qt_extensions/qt_extensions.h
  src/libshoopdaloop/qt_extensions/render_audio_waveform.cpp
  src/libshoopdaloop/qt_extensions/render_audio_waveform.h
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/qt/CMakeLists.txt
  src/libshoopdaloop/test/qt/qml_tests.cpp
  src/libshoopdaloop/test/qt/qml_tests.h
  src/qt_test_project/CMakeLists.txt
  src/qt_test_project/README
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/ensure_ld_qt.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

wip
  .github/workflows/build_and_test.yml
  src/CMakeLists.txt
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/accelerate/shoop_accelerate.cpp
Due: C(++)

wip
  src/libshoopdaloop/CMakeLists.txt
Due: none

wip
  .github/actions/build_wheel/action.yml
  .github/actions/post_build/action.yml
  .github/actions/post_build_macos/action.yml
  .github/actions/post_build_manylinux_2_28/action.yml
  .github/actions/post_build_windows/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/post_build/action.yml
  .github/actions/post_build_macos/action.yml
  .github/actions/post_build_manylinux_2_28/action.yml
  .github/actions/post_build_windows/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/post_build/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/post_build_macos/action.yml
  .github/actions/post_build_windows/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/TestCase.py
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Backend.qml
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/run_qml_tests.py
Due: Python

WIP
  .github/workflows/build_and_test.yml
Due: none

WIP
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_actions.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_filters.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python

wip
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python

wip
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/TestCase.py
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/qml/test/ShoopSessionTestCase.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python

WIP
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/LoggingEnabled.h
  src/libshoopdaloop/internal/jack/JackAudioSystem.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/internal/stream_format.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/LoggingEnabled.h
  src/shoopdaloop/lib/q_objects/Logger.py
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/LoggingEnabled.h
  src/shoopdaloop/lib/q_objects/Logger.py
Due: Python, C(++)

wip
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/internal/LoggingBackend.cpp
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/stream_format.h
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

WIP
  .github/workflows/build_and_test.yml
  scripts/repeat_run_app.py
  src/CMakeLists.txt
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/DummyAudioSystem.h
  src/libshoopdaloop/internal/LoggingBackend.cpp
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/MidiMessage.h
  src/libshoopdaloop/internal/ObjectPool.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/test_runner.cpp
  src/shoopdaloop/lib/logging.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/lib/q_objects/LuaEngine.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

WIP
  .github/actions/test_run_app/action.yml
  .github/actions/test_screenshots/action.yml
  .github/workflows/build_and_test.yml
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
