Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

wip
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
Due: Python

wip
  src/libshoopdaloop/test/unit/test_MidiRingbuffer.cpp
Due: C(++)

wip
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: Python

Fix segfault on same-name track creation
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

Reorder global controls
  docs/source/resources/global_controls.png
  docs/source/usage.loopcontrols.rst
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/qml/AppControls.qml
Due: none

Notify loop events when loops/tracks are reordered
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: none

Fix major grid lines
  src/shoopdaloop/lib/qml/ChannelDataRenderer.qml
Due: none

Update screenshot
  docs/source/resources/screenshot.png
Due: none

More comments in AKAI script
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
Due: none

wip
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: Python

wip
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

wip
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.h
Due: C(++)

Grab on composite loops (#334)
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.h
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/BasicLoop.h
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/internal/LoopInterface.h
  src/libshoopdaloop/internal/ObjectPool.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/integration/test_chain_single_direct_loop.cpp
  src/libshoopdaloop/test/integration/test_chain_single_drywet_loop.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_audio.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/js_constants.py
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/MonkeyTester.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_actions.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: Python, C(++)

wip
  src/shoopdaloop/lib/logging.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
Due: Python

wip
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
Due: Python

wip
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Loop.py
Due: Python

wip
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: Python

wip
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
Due: Python

wip
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/shoop_globals.h
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: Python, C(++)

Grab to composite loops, ctnd. (#351)
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/shoop_globals.h
  src/shoopdaloop/lib/logging.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
Due: Python, C(++)

Documentation for composite grabbing
  docs/source/usage.composite.rst
  docs/source/usage.loopcontrols.rst
  docs/source/usage.rst
Due: none

N cycles applied as default composite sub-loop length
  docs/source/usage.loopcontrols.rst
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

Update README.md
  README.md
Due: none

Fix recording on composite loops
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: Python

Bugfixes
  src/libshoopdaloop/internal/BufferQueue.cpp
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/DebugInspectionItemWindow.qml
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/GraphPort.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/tracked_shared_ptr.h
Due: C(++)

Add a control for the default recording mode
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
Due: Python

wip
  docs/source/resources/global_controls.png
  docs/source/usage.loopcontrols.rst
Due: none

wip
  docs/source/usage.loopcontrols.rst
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

Add a default record mode toggle (record / grab) (#357)
  docs/source/resources/global_controls.png
  docs/source/usage.loopcontrols.rst
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
Due: Python

Add way to create composites on Akai APC Mini
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
Due: Python

AKAI composites
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
