Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
Due: none

wip
  src/qml/applications/shoopdaloop_main.qml
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/invoke.h
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/loop_helpers.rs
Due: C(++)

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
  src/rust/frontend/src/loop_helpers.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
  src/python/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/qml/test/tst_CompositeLoop_running.qml
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/metatype.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qmetatype.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qmetatype_helpers.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qobject.h
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qmetatype_helpers.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/loop_helpers.rs
Due: Python, C(++)

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoopBackend.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/CompositeLoop.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/LuaEngine.py
  src/qml/Settings.qml
  src/qml/test/ShoopTestFile.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_schema_validator.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_schema_validator_bridge.rs
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/LuaEngine.py
  src/python/shoopdaloop/lib/q_objects/LuaEngineImpl.py
Due: Python

wip
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/q_objects/MidiPort.py
  src/qml/test/ShoopTestFile.qml
  src/rust/cxx_qt_lib_shoop/src/rust/qmetatype_helpers.rs
  src/rust/frontend/src/composite_loop_schedule.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/shoop_py_utils/src/conversions.rs
Due: Python

wip
  .github/actions/build_toplevel/action.yml
  .github/actions/prepare_build/action.yml
  .github/workflows/build_and_test.yml
Due: none

Revert "wip"
  .github/actions/build_toplevel/action.yml
  .github/actions/prepare_build/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/python/shoopdaloop/lib/q_objects/SettingsIO.py
  src/python/shoopdaloop/lib/q_objects/TestScreenGrabber.py
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/connect.h
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/ShoopApplication.h
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
Due: Python, C(++)

wip
  distribution/windows/excludelist
Due: none

wip
  Cargo.toml
  src/qml/Session.qml
  src/qml/ShoopApplicationWindow.qml
  src/rust/cxx_qt_lib_shoop/build.rs
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qqmlerror.h
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qqmlerrorlist.h
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qqmlerror.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qqmlerrorlist.rs
  src/rust/frontend/Cargo.toml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/qml_debugging.h
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/window_icons.h
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_qml_debugging.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/test_results.rs
  src/rust/shoopdaloop/Cargo.toml
Due: C(++)

wip
  src/python/pyproject.toml
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/qml_debugging.h
Due: C(++)

wip
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qqmlerror.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qqmlerrorlist.rs
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/qml_debugging.h
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_qml_debugging.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_window_icons.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_global_utils.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_global_utils_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_os_utils.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_release_focus_notifier.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_schema_validator.rs
Due: C(++)

wip
  src/rust/shoop_py_utils/src/conversions.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/TestScreenGrabber.py
  src/qml/Session.qml
  src/qml/ShoopApplicationWindow.qml
  src/qml/applications/shoopdaloop_main.qml
Due: Python

wip
  src/qml/DebugInspectionItemWindow.qml
  src/qml/DebugInspectionMainWindow.qml
  src/qml/LoopDetailsWindow.qml
  src/qml/MonitorWindow.qml
  src/qml/ProfilingWindow.qml
  src/qml/Session.qml
  src/qml/SettingsDialog.qml
  src/qml/applications/test_backend.qml
  src/qml/applications/test_backend_with_loop.qml
  src/qml/applications/tracks.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/TestSession.qml
  src/qml/test/tst_Backend_jack.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_ControlInterface_lua.qml
  src/qml/test/tst_Jack_ports.qml
  src/qml/test/tst_LoopReorder.qml
  src/qml/test/tst_LuaScriptWithEngine.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_MidiControlPort.qml
  src/qml/test/tst_Profiling.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_SessionDescriptor_default.qml
  src/qml/test/tst_SessionDescriptor_track_controls.qml
  src/qml/test/tst_Session_channels.qml
  src/qml/test/tst_Session_save_load.qml
  src/qml/test/tst_ThreeLoops.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/qml/test/tst_TrackControl_direct.qml
  src/qml/test/tst_TrackControl_drywet.qml
  src/qml/test/tst_TwoLoops.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/profiling_report.rs
Due: none

wip
  src/python/shoopdaloop/__init__.py
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/python/shoopdaloop/qml_tests.py
  src/python/shoopdaloop/third_party/__init__.py
  src/python/shoopdaloop/third_party/pynsm/LICENSE
  src/python/shoopdaloop/third_party/pynsm/SOURCE
  src/python/shoopdaloop/third_party/pynsm/__init__.py
  src/python/shoopdaloop/third_party/pynsm/nsmclient.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application_bridge.rs
  src/rust/shoopdaloop/src/lib_impl.rs
Due: Python

wip
  src/qml/MonitorBackendRefreshRate.qml
  src/qml/MonitorWindow.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread_bridge.rs
  src/rust/frontend/src/profiling_report.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
Due: none

wip
  src/qml/BackendLoopWithChannels.qml
  src/qml/LoopWidget.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
Due: none

wip
  .github/actions/build_package/action.yml
Due: none

wip
  src/qml/test/ShoopTestCase.qml
Due: none

Remove mention of NSM from README.md
  README.md
Due: none

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_find_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_generic_test_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_generic_test_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port_bridge.rs
Due: none

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend_bridge.rs
Due: none

wip
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qobject.h
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/frontend/src/any_backend_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui_bridge.rs
  src/rust/frontend/src/lib.rs
Due: C(++)

wip
  src/rust/backend_bindings/src/port.rs
  src/rust/cxx_qt_lib_shoop/build.rs
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qpointer.h
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qpointer.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/any_backend_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_fx_chain_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui_bridge.rs
Due: C(++)

wip
  src/rust/frontend/src/any_backend_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
Due: none

wip
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qpointer.h
Due: C(++)

wip
  src/qml/AudioPort.qml
  src/qml/MidiPort.qml
  src/qml/TrackControlWidget.qml
  src/rust/crashhandling/src/registered_threads.rs
  src/rust/cxx_qt_lib_shoop/src/rust/connect.rs
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qobject.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qthread.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qtimer.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_application.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_qmlengine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_update_thread.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_file_runner.rs
  src/rust/frontend/src/init.rs
  src/rust/frontend/src/loop_helpers.rs
  src/rust/shoopdaloop/src/lib_impl.rs
  src/rust/shoopdaloop/src/main_impl.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/qml/AudioPort.qml
  src/qml/MidiPort.qml
  src/qml/TrackControlWidget.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_port_gui_bridge.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python
