Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
  src/rust/frontend/src/init.rs
  src/rust/frontend/src/lua_engine.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
Due: none

wip
  src/lua/lib/shoop_control.lua
  src/qml/test/tst_LuaEngine.qml
  src/qml/test/tst_LuaEngine_SessionControlHandler.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
  src/rust/frontend/src/init.rs
Due: none

wip
  src/lua/lib/shoop_control.lua
  src/qml/AppControls.qml
  src/qml/AudioPort.qml
  src/qml/Backend.qml
  src/qml/ClickTrackDialog.qml
  src/qml/CompositeLoop.qml
  src/qml/EditCompositeLoop.qml
  src/qml/FXChain.qml
  src/qml/FocusReleasingScrollView.qml
  src/qml/Loop.qml
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/qml/LoopWidget.qml
  src/qml/LuaScript.qml
  src/qml/LuaScriptManager.qml
  src/qml/MidiPort.qml
  src/qml/MonkeyTester.qml
  src/qml/RenderChannelData.qml
  src/qml/SchemaCheck.qml
  src/qml/Session.qml
  src/qml/SessionControlHandler.qml
  src/qml/Settings.qml
  src/qml/SettingsDialog.qml
  src/qml/ShoopApplicationWindow.qml
  src/qml/TrackWidget.qml
  src/qml/applications/shoopdaloop_main.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/ShoopTestFile.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_LuaEngine.qml
  src/qml/test/tst_LuaEngine_SessionControlHandler.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_SessionDescriptor_default.qml
  src/qml/test/tst_SessionDescriptor_track_controls.qml
  src/qml/test/tst_Session_channels.qml
  src/qml/test/tst_Session_save_load.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
  src/rust/frontend/src/init.rs
Due: none

wip
  Cargo.toml
  src/qml/LoopWidget.qml
  src/qml/SessionControlHandler.qml
  src/qml/SessionControlInterface.qml
  src/qml/test/tst_LuaEngine_SessionControlHandler.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
Due: none

wip
  src/qml/LoopWidget.qml
  src/qml/Session.qml
  src/qml/SessionControlHandler.qml
  src/qml/test/tst_LuaEngine_SessionControlHandler.qml
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/invoke.h
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
Due: C(++)

wip
  src/qml/LoopWidget.qml
  src/qml/Session.qml
  src/qml/SessionControlHandler.qml
  src/qml/TrackControlWidget.qml
  src/qml/TracksWidget.qml
  src/qml/test/tst_LuaEngine_SessionControlHandler.qml
  src/rust/cxx_qt_lib_shoop/src/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_composite_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
  src/rust/frontend/src/lua_conversions.rs
  src/rust/shoopdaloop/src/shoop_rust_py/init.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/ControlInterface.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
  src/rust/frontend/src/lua_callback.rs
  src/rust/frontend/src/lua_engine.rs
Due: Python

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
  src/rust/frontend/src/lua_conversions.rs
  src/rust/frontend/src/lua_qobject_callback.rs
Due: none

wip
  src/lua/builtins/akai_apc_mini_mk1.lua
  src/qml/Session.qml
  src/qml/SessionControlHandler.qml
  src/qml/test/tst_LuaEngine_SessionControlHandler.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
  src/rust/frontend/src/lua_conversions.rs
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
Due: none

wip
  scripts/vcpkg_prebuild.py
  src/lua/builtins/akai_apc_mini_mk1.lua
  src/qml/test/tst_LuaEngine_SessionControlHandler.qml
  src/rust/backend_bindings/src/audio_channel.rs
  src/rust/backend_bindings/src/audio_driver.rs
  src/rust/backend_bindings/src/backend_session.rs
  src/rust/backend_bindings/src/channel.rs
  src/rust/backend_bindings/src/common.rs
  src/rust/backend_bindings/src/fx_chain.rs
  src/rust/backend_bindings/src/logging.rs
  src/rust/backend_bindings/src/midi_channel.rs
  src/rust/backend_bindings/src/port.rs
  src/rust/backend_bindings/src/shoop_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/qt_header_bindings/build.rs
  src/rust/qt_header_bindings/include/qnamespace_wrapper.h
Due: C(++)

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_midi_control_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_midi_control_port_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
Due: none

wip
  src/qml/test/tst_MidiControlPort.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_midi_control_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_midi_control_port_bridge.rs
  src/rust/frontend/src/init.rs
Due: none

wip
  src/lua/builtins/akai_apc_mini_mk1.lua
  src/lua/lib/shoop_helpers.lua
  src/lua/lib/shoop_midi.lua
  src/python/shoopdaloop/lib/q_objects/ControlHandler.py
  src/python/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
  src/python/shoopdaloop/lib/q_objects/ControlInterface.py
  src/python/shoopdaloop/lib/q_objects/LuaEngine.py
  src/python/shoopdaloop/lib/q_objects/LuaEngine_test.py
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/AppControls.qml
  src/qml/LuaControlInterface.qml
  src/qml/LuaScriptWithEngine.qml
  src/qml/MidiControlPort.qml
  src/qml/Session.qml
  src/qml/SessionControlInterface.qml
  src/qml/test/tst_ControlInterface_lua.qml
  src/rust/backend_bindings/src/decoupled_midi_port.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qmetatype_helpers.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qvariant_helpers.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_find_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_key_modifiers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_midi_control_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_midi_control_port_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler_bridge.rs
  src/rust/frontend/src/lua_callback.rs
  src/rust/frontend/src/lua_conversions.rs
  src/rust/frontend/src/lua_engine.rs
  src/rust/frontend/src/lua_qobject_callback.rs
Due: Python

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_test_screen_grabber.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_test_screen_grabber_bridge.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/TestScreenGrabber.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/Session.qml
  src/qml/ShoopApplicationWindow.qml
  src/rust/cxx_qt_lib_shoop/build.rs
  src/rust/cxx_qt_lib_shoop/src/include/cxx-qt-lib-shoop/qquickwindow_helpers.h
  src/rust/cxx_qt_lib_shoop/src/rust/mod.rs
  src/rust/cxx_qt_lib_shoop/src/rust/qquickwindow_helpers.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_test_screen_grabber.rs
  src/rust/frontend/src/init.rs
Due: Python, C(++)

wip
  src/python/shoopdaloop/lib/q_objects/Logger.py
  src/python/shoopdaloop/lib/q_objects/LoggerImpl.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/AppControls.qml
  src/qml/AppRegistries.qml
  src/qml/AudioPort.qml
  src/qml/BackendLoopWithChannels.qml
  src/qml/CompositeLoop.qml
  src/qml/DebugInspectionMainWindow.qml
  src/qml/EditMidiMessageFilter.qml
  src/qml/FXChain.qml
  src/qml/LoopAudioChannel.qml
  src/qml/LoopContentWidget.qml
  src/qml/LoopMidiChannel.qml
  src/qml/LoopWidget.qml
  src/qml/MidiPort.qml
  src/qml/MonkeyTester.qml
  src/qml/SelectedLoops.qml
  src/qml/Session.qml
  src/qml/SessionControlHandler.qml
  src/qml/SettingsDialog.qml
  src/qml/TrackControlWidget.qml
  src/qml/TrackWidget.qml
  src/qml/TracksWidget.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_FetchDisplayData.qml
  src/qml/test/tst_LoopReorder.qml
  src/qml/test/tst_LuaEngine_SessionControlHandler.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_Session_save_load.qml
  src/qml/test/tst_ThreeLoops.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/qml/test/tst_TrackControl_direct.qml
  src/qml/test/tst_TrackControl_drywet.qml
  src/qml/test/tst_TwoLoops.qml
Due: Python

wip
  Cargo.toml
  src/python/shoopdaloop/lib/q_objects/SchemaValidatorImpl.py
  src/qml/SchemaCheck.qml
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_schema_validator.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_schema_validator_bridge.rs
  src/rust/shoop_py_wrapped_objects/src/lib.rs
  src/rust/shoop_py_wrapped_objects/src/schema_validator.rs
Due: Python

wip
  Cargo.toml
  resources/clicks/click_high.wav
  resources/clicks/click_low.wav
  resources/clicks/shaker_primary.wav
  resources/clicks/shaker_secondary.wav
  src/qml/ClickTrackDialog.qml
  src/qml/LoopWidget.qml
  src/rust/frontend/Cargo.toml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator_bridge.rs
Due: none

wip
  src/qml/ClickTrackDialog.qml
  src/qml/LoopWidget.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator_bridge.rs
Due: none

wip
  src/qml/applications/shoopdaloop_main.qml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dict_tree_model.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dict_tree_model_bridge.rs
Due: none

wip
  .vscode/.gitignore
  .vscode/tasks.json
  INSTALL.md
  distribution/dependencies/build_base_debian_bookworm
  distribution/dependencies/build_base_ubuntu_latest
  distribution/windows/testrunner_includelist
  docs/source/developers.scripting.rst
  docs/source/developers.software.rst
  src/backend/CMakeLists.txt
  src/qml/CompositeLoop.qml
  src/qml/Loop.qml
  src/qml/ProfilingWindow.qml
  src/qml/js/type_checks.js
  src/rust/backend/Cargo.toml
  src/rust/backend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_logger.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_schema_validator.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_schema_validator_bridge.rs
  src/rust/packaging/src/portable_folder_common.rs
  src/rust/py_prepare/Cargo.toml
  src/rust/py_prepare/build.rs
  src/rust/py_prepare/src/bin/print_py_prepare_out_dir.rs
  src/rust/py_prepare/src/lib.rs
Due: none

wip
  .github/actions/build_toplevel/action.yml
  .github/actions/post_build/action.yml
  .github/actions/post_build_linux/action.yml
  .github/actions/post_build_macos/action.yml
  .github/actions/post_build_windows/action.yml
  .github/actions/prepare_build/action.yml
  .github/actions/prepare_build_linux/action.yml
  .github/actions/prepare_build_ubuntu_latest/action.yml
  .github/actions/prepare_build_windows/action.yml
  .github/actions/test_python/action.yml
  .github/actions/test_toplevel/action.yml
  .gitignore
  build_python_requirements.txt
  docs/source/developers.software.rst
Due: none

wip
  scripts/vcpkg_prebuild.py
  vcpkg/triplets/x64-windows.cmake
Due: none

wip
  docs/source/developers.scripting.rst
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator.rs
Due: none

wip
  distribution/dependencies/build_base_debian_bookworm
  distribution/dependencies/build_base_ubuntu_latest
  src/lua/builtins/keyboard.lua
  src/lua/lib/shoop_helpers.lua
  src/qml/LoopContentWidget.qml
  src/qml/LoopWidget.qml
  src/qml/SessionControlHandler.qml
  src/qml/test/tst_LuaEngine_SessionControlHandler.qml
  src/rust/frontend/src/cxx_qt_shoop/cxx/ShoopKeyEventParser.cpp
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_session_control_handler.rs
Due: C(++)

wip
  src/qml/BackendLoopWithChannels.qml
  src/qml/ChannelDataRenderer.qml
  src/qml/ClickTrackDialog.qml
  src/qml/ProfilingWindow.qml
  src/qml/TrackControlWidget.qml
  src/qml/applications/shoopdaloop_main.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_click_track_generator_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_channel_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_render_midi_sequence.rs
Due: none

wip
  distribution/linux/includelist
  src/qml/MidiControl.qml
  src/qml/Session.qml
Due: none

wip
  src/qml/Session.qml
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port_bridge.rs
Due: none

wip
  distribution/linux/excludelist
Due: none

wip
  distribution/linux/excludelist
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_lua_engine.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port_bridge.rs
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
