Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  distribution/macos/dmg_settings.py
Due: none

wip
  src/python/shoopdaloop/__init__.py
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/js_constants.py
  src/python/shoopdaloop/lib/logging.py
  src/python/shoopdaloop/lib/q_objects/Backend.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/Loop.py
  src/python/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/python/shoopdaloop/lib/q_objects/MidiPort.py
  src/python/shoopdaloop/qml_tests.py
  src/rust/shoopdaloop/src/lib_impl.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_driver.rs
  src/rust/shoopdaloop/src/shoop_py_backend/logging.rs
  src/rust/shoopdaloop/src/shoop_py_backend/midi_channel.rs
  src/rust/shoopdaloop/src/shoop_py_backend/port.rs
Due: Python

feat: Switch from create-dmg to dmgbuild for DMG creation process
  .github/actions/build_package/action.yml
  .github/actions/prepare_build_macos/action.yml
  distribution/macos/dmg_settings.py
Due: none

Add .env
  .gitignore
Due: none

wip
  src/backend/libshoopdaloop_backend.cpp
  src/python/shoopdaloop/lib/q_objects/FileIO.py
  src/rust/backend_bindings/src/midi_channel.rs
Due: Python, C(++)

wip
  src/rust/packaging/src/dependencies.rs
Due: none

wip
  .github/workflows/build_and_test.yml
  src/backend/libshoopdaloop_backend.cpp
  src/rust/packaging/src/dependencies.rs
Due: C(++)

Update action.yml
  .github/actions/prepare_build/action.yml
Due: none

wip
  src/rust/backend_bindings/src/audio_channel.rs
  src/rust/backend_bindings/src/audio_driver.rs
  src/rust/backend_bindings/src/audio_port.rs
  src/rust/backend_bindings/src/decoupled_midi_port.rs
  src/rust/backend_bindings/src/logging.rs
  src/rust/backend_bindings/src/midi_channel.rs
  src/rust/backend_bindings/src/midi_port.rs
  src/rust/backend_bindings/src/port.rs
Due: none

Fix issue #475: hdiutils fails on macos-13 build
  .github/actions/build_package/action.yml
  .github/actions/prepare_build_macos/action.yml
Due: none

Fix issue #478: Retry create-dmg
  scripts/create_dmg_with_retry.sh
Due: none

Fix issue #478: Retry create-dmg
  .github/actions/build_package/action.yml
Due: none

Fix issue #478: Retry create-dmg (#479)
  .github/actions/build_package/action.yml
Due: none

wip
  src/rust/backend_bindings/src/port.rs
  src/rust/backend_bindings/src/shoop_loop.rs
Due: none

wip
  src/rust/shoopdaloop/src/shoop_py_backend/backend_session.rs
Due: none

wip
  src/backend/libshoopdaloop_backend.cpp
Due: C(++)

wip
  src/qml/LoopMidiChannel.qml
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

Update action.yml
  .github/actions/build_base/action.yml
Due: none

wip
  .github/actions/build_base/action.yml
  perf.data.old
Due: none

wip
  src/backend/internal/AudioChannel.cpp
Due: C(++)

wip
  perf.data.old
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/qml/FXChain.qml
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_Resample.qml
  src/rust/backend_bindings/src/port.rs
  src/rust/backend_bindings/src/resample.rs
  src/rust/shoopdaloop/src/shoop_py_backend/resample.rs
Due: Python

refactor: Separate OS-specific logic into distinct functions for clarity
  src/rust/packaging/src/dependencies.rs
Due: none

fix: Remove unnecessary blank line in dependencies.rs file
  src/rust/packaging/src/dependencies.rs
Due: none

fix: Add lifetime specifiers to function signatures in dependencies.rs
  src/rust/packaging/src/dependencies.rs
Due: none

fix: Resolve mutable and immutable borrow conflict in dependencies.rs
  src/rust/packaging/src/dependencies.rs
Due: none

fix: Resolve borrowing conflict by cloning env_map before use
  src/rust/packaging/src/dependencies.rs
Due: none

wip
  .github/actions/build_base/action.yml
Due: none

wip
  src/rust/backend_bindings/Cargo.toml
  src/rust/backend_bindings/build.rs
Due: none
