Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

WIP
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.cpp
Due: C(++)

Fix MIDI in graph processing (#190)
  src/libshoopdaloop/internal/MidiBufferingInputPort.cpp
  src/libshoopdaloop/internal/MidiBufferingInputPort.h
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.cpp
Due: C(++)

Fix MIDI recording issue
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.h
Due: C(++)

WIP
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/qml/ConnectionsDialog.qml
Due: C(++)

WIP
  src/shoopdaloop/lib/qml/ConnectionsDialog.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: none

WIP
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.h
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: none

Some bugfixes
  pyproject.toml
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/ShoopPyObject.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/ShoopFileDialog.qml
Due: Python

WIP
  src/shoopdaloop/lib/qml/AudioDial.qml
  src/shoopdaloop/lib/qml/AudioSlider.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/ConnectionsDialog.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/ShoopDial.qml
  src/shoopdaloop/lib/qml/ShoopSlider.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: none

Bugfixes (#197)
  pyproject.toml
  src/libshoopdaloop/internal/AudioMidiDriver.cpp
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.h
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/ShoopPyObject.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/AudioDial.qml
  src/shoopdaloop/lib/qml/AudioSlider.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/ConnectionsDialog.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/ShoopDial.qml
  src/shoopdaloop/lib/qml/ShoopFileDialog.qml
  src/shoopdaloop/lib/qml/ShoopSlider.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/qml/DetailsPane.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

WIP
  scripts/wayland-example/README
  scripts/wayland-example/main.py
  scripts/wayland-example/main.qml
  src/shoopdaloop/lib/q_objects/EnvHelper.py
  src/shoopdaloop/lib/qml/CarlaWaylandWrapper.qml
  src/shoopdaloop/lib/qml/DetailsPane.qml
  src/shoopdaloop/lib/qml/applications/shoopdaloop_main.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

wip
  src/shoopdaloop/lib/qml/CarlaWaylandWrapper.qml
  src/shoopdaloop/lib/qml/DetailsPane.qml
Due: none

WIP
  scripts/wayland-example/main.py
  scripts/wayland-example/main.qml
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/qml/CarlaWaylandWrapper.qml
  src/shoopdaloop/lib/qml/DetailsPane.qml
Due: Python

WIP
  scripts/wayland-subproc-test/child.py
  scripts/wayland-subproc-test/main.py
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/qml/CarlaWaylandWrapper.qml
  src/shoopdaloop/lib/qml/DetailsPane.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/applications/shoopdaloop_main.qml
  src/shoopdaloop/lib/session_schemas/schemas/general_settings.1.json
  src/shoopdaloop/lib/session_schemas/schemas/midi_settings.1.json
  src/shoopdaloop/lib/session_schemas/schemas/script_settings.1.json
  src/shoopdaloop/lib/session_schemas/schemas/settings.1.json
Due: Python, C(++)

Monkey tester enabled on GitHub Actions run.
  .github/actions/test_run_app/action.yml
Due: none

Unregister termination signals upon first handle
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/qml/Session.qml
Due: Python

WIP
  .github/actions/build_pyinstaller/action.yml
  .github/actions/process_crashdumps/action.yml
  .github/actions/test_screenshots/action.yml
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
Due: none

Unregister termination signals upon first handle (#201)
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/qml/Session.qml
Due: Python

WIP
  .github/actions/test_run_app/action.yml
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/qml/Session.qml
Due: Python

WIP
  .github/workflows/build_and_test.yml
Due: none

Monkey tester enabled on GitHub Actions run. (#200)
  .github/actions/test_run_app/action.yml
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/qml/Session.qml
Due: Python

wip
  .github/workflows/build_and_test.yml
Due: none

Fix a segfault
  src/libshoopdaloop/internal/ProcessProfiling.cpp
Due: C(++)

Improve crash dumps handling (#202)
  .github/actions/build_pyinstaller/action.yml
  .github/actions/process_crashdumps/action.yml
  .github/actions/test_screenshots/action.yml
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
Due: none

wip
  src/libshoopdaloop/internal/ProcessProfiling.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.cpp
Due: C(++)

Update README.md
  README.md
Due: none

Fix a segfault (#207)
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/internal/ProcessProfiling.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.cpp
Due: C(++)

Fix crash collector
  .github/workflows/build_and_test.yml
Due: none

Another segfault
  src/libshoopdaloop/internal/BackendSession.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/BackendSession.cpp
Due: C(++)
