Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  distribution/dependencies/run_base_fedora
Due: none

wip
  distribution/dependencies/build_base_debian_bullseye
Due: none

wip
  .github/actions/install_package/action.yml
Due: none

wip
  .github/actions/install_package/action.yml
  .github/workflows/build_and_test.yml
  scripts/run_and_generate_coverage.sh
Due: none

wip
  scripts/run_and_generate_coverage.sh
Due: none

wip
  .github/actions/install_package/action.yml
  .github/actions/test_python/action.yml
  .github/actions/test_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

Add MacOS 14 runner (#377)
  .github/actions/install_package/action.yml
  .github/actions/post_build_macos/action.yml
  .github/actions/prepare_build_macos/action.yml
  .github/actions/test_python/action.yml
  .github/actions/test_toplevel/action.yml
  .github/workflows/build_and_test.yml
  scripts/run_and_generate_coverage.sh
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/recursive_jsvalue_convert.py
Due: Python

wip
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/qml/Mapper.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/qml_tests.py
Due: Python

LCOV error fix
  scripts/run_and_generate_coverage.sh
Due: none

PySide back to current version
  pyproject.toml
Due: none

Changes for PySide6 upgrade without upgrading (#389)
  .github/actions/prepare_build_macos/action.yml
  .github/workflows/build_ci_containers.yml
  distribution/dockerfiles/build.sh
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/EditMidiMessageFilter.qml
  src/shoopdaloop/lib/qml/Mapper.qml
  src/shoopdaloop/lib/qml/MidiPort.qml
  src/shoopdaloop/lib/qml/ObjectsRegistry.qml
  src/shoopdaloop/lib/qml/RegistryLookups.qml
  src/shoopdaloop/lib/qml/RegistrySelects.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/qml_tests.py
Due: Python

Upgrade PySide to 6.6.3.1
  pyproject.toml
Due: none

Upgrade PySide to 6.6.3.1 (#390)
  pyproject.toml
Due: none

fix track selector
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: none

wip
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/qml/applications/tracks.qml
Due: Python

wip
  src/shoopdaloop/lib/deepEqual.js
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/testDeepEqual.js
  src/shoopdaloop/lib/type_checks.js
Due: none

wip
  .github/actions/test_qml/action.yml
  .github/actions/test_run_app/action.yml
  .github/actions/test_screenshots/action.yml
Due: none

event filter
  src/shoopdaloop/lib/q_objects/Application.py
Due: Python

wip
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/testDeepEqual.js
  src/shoopdaloop/lib/type_checks.js
Due: none

wip
  pyproject.toml
Due: none

PySide6 to 6.6.3.1 and some preparations for 6.7.x (#402)
  .github/actions/test_run_app/action.yml
  .github/actions/test_screenshots/action.yml
  src/shoopdaloop/lib/deepEqual.js
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/testDeepEqual.js
  src/shoopdaloop/lib/type_checks.js
Due: Python

Use CDB debugger
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/install_package/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/install_package/action.yml
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

wip
  src/shoopdaloop/lib/logging.py
Due: Python

wip
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/jack/JackTestApi.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
Due: C(++)

Fix coverage directoryy for Python
  .github/actions/test_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none
