Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  .github/actions/prepare_build_macos/action.yml
  .github/actions/prepare_build_manylinux_2_28/action.yml
  .github/actions/prepare_build_windows/action.yml
  .github/overrides/linux_barebones_overrides.toml
  .github/overrides/linux_release_overrides.toml
  .github/overrides/windows_release_overrides.toml
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/actions/prepare_build/action.yml
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/actions/build_wheel/action.yml
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/actions/prepare_build/action.yml
  .github/actions/prepare_build_manylinux_2_28/action.yml
Due: none

WIP
  .github/actions/prepare_build_windows/action.yml
Due: none

WIP
  .github/actions/prepare_build/action.yml
Due: none

WIP
  .github/workflows/build_and_test.yml
  .vscode/tasks.json
  overrides/linux_asan_overrides.toml
  overrides/linux_barebones_overrides.toml
  overrides/linux_coverage_overrides.toml
  overrides/linux_debug_overrides.toml
  overrides/linux_release_overrides.toml
  overrides/windows_release_overrides.toml
  py-build-cmake-overrides.toml
  pyproject.toml.nojack_nolv2_overrides
Due: none

WIP
  .github/actions/prepare_build_macos/action.yml
  .github/workflows/build_and_test.yml
  overrides/macos_release_overrides.toml
Due: none

WIP
  .github/actions/prepare_build_macos/action.yml
Due: none

WIP
  .github/actions/install_qt/action.yml
  .github/actions/prepare_build_macos/action.yml
Due: none

WIP
  .github/actions/prepare_build_macos/action.yml
  .github/workflows/build_and_test.yml
Due: none

WIP
  overrides/macos_release_overrides.toml
Due: none

WIP
  .github/actions/prepare_build_macos/action.yml
  src/libshoopdaloop/internal/LoggingEnabled.h
Due: C(++)

WIP
  src/libshoopdaloop/internal/DecoupledMidiPort.h
Due: C(++)

WIP
  src/libshoopdaloop/internal/DummyAudioSystem.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/DummyAudioSystem.h
  src/libshoopdaloop/internal/MidiChannel.h
Due: C(++)

WIP
  .github/actions/prepare_build_windows/action.yml
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.h
  src/libshoopdaloop/internal/AudioPortInterface.h
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/ConnectedChannel.h
  src/libshoopdaloop/internal/ConnectedFXChain.cpp
  src/libshoopdaloop/internal/ConnectedPort.h
  src/libshoopdaloop/internal/CustomProcessingChain.cpp
  src/libshoopdaloop/internal/CustomProcessingChain.h
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.h
  src/libshoopdaloop/internal/DummyAudioSystem.cpp
  src/libshoopdaloop/internal/DummyAudioSystem.h
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/internal/InternalAudioPort.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiMessage.cpp
  src/libshoopdaloop/internal/MidiMessage.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/lv2/LV2.cpp
  src/libshoopdaloop/internal/lv2/LV2.h
  src/libshoopdaloop/internal/process_when.h
  src/libshoopdaloop/internal/shoop_types.h
Due: C(++)

WIP
  .github/workflows/build_qt.yml
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/CustomProcessingChain.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DummyAudioSystem.cpp
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiMessage.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/jack/JackAllPorts.cpp
  src/libshoopdaloop/internal/jack/JackAllPorts.h
  src/libshoopdaloop/internal/jack/JackAudioPort.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.h
  src/libshoopdaloop/internal/jack/JackAudioSystem.cpp
  src/libshoopdaloop/internal/jack/JackAudioSystem.h
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/jack/JackPort.cpp
  src/libshoopdaloop/internal/jack/JackPort.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
Due: C(++)

WIOP
  src/libshoopdaloop/CMakeLists.txt
Due: none

WIP
  src/libshoopdaloop/internal/shoop_globals.h
Due: C(++)

WIP
  .github/workflows/build_and_test.yml
  pyproject.toml
Due: none

WIP
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
Due: C(++)

WIP
  .github/workflows/build_and_test.yml
  src/shoopdaloop/run_qml_tests.py
Due: Python

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
