Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

wip
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qobject.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
Due: C(++)

wip
  src/python/shoopdaloop/lib/q_objects/FileIO.py
  src/python/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/qml/Loop.qml
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qobject.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_find_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
Due: Python, C(++)

wip
  src/python/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
Due: Python

wip
  src/qml/LoopContentWidget.qml
  src/qml/MonkeyTester.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_ControlInterface_lua.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_Session_save_load.qml
  src/qml/test/tst_ThreeLoops.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/qml/test/tst_TwoLoops.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
Due: none

wip
  src/python/shoopdaloop/lib/loop_helpers.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/connect.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qvariant_helpers.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/reporting.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/connect.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qvariant_helpers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python, C(++)

feat: Add loop mode helpers to frontend Rust code
  src/rust/frontend/src/loop_mode_helpers.rs
Due: none

feat: Implement Rust ports of loop mode helper functions from Python
  src/rust/frontend/src/loop_mode_helpers.rs
Due: none

refactor: Update logging macros to include instance identifier in debug messages
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
Due: none

feat: Uncomment and implement cycle increment logic in qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/qml/Loop.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/loop_mode_helpers.rs
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
Due: Python

wip
  src/python/shoopdaloop/lib/loop_helpers.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python

Update build_dependencies.yml
  .github/workflows/build_dependencies.yml
Due: none

wip
  .github/workflows/build_dependencies.yml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/init.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: none

wip
  src/qml/Loop.qml
  src/rust/backend_bindings/src/shoop_loop.rs
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
  src/rust/frontend/src/init.rs
Due: none

Fix MIDI control port send issue
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
Due: Python

Upgrade sccache-action
  .github/actions/prepare_build/action.yml
Due: none

Upgrade Qt to 6.8.3
  .github/actions/prepare_build/action.yml
  aqtinstall.log
Due: none

std::chrono
  src/backend/internal/AudioChannel.cpp
Due: C(++)

Create .cargo/config for linker override
  .cargo/config
Due: none

Update config to lld
  .cargo/config
Due: none

Update config to lld (#496)
  .cargo/config
Due: none

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_backend_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_gui_bridge.rs
Due: none

Various fixes for Windows
  src/python/pyproject.toml
  src/rust/shoopdaloop/Cargo.toml
  src/rust/shoopdaloop/src/bin/shoopdaloop_windows_dev_launcher.rs
Due: none

Explicit python setup
  .github/actions/prepare_build/action.yml
Due: none

wip
  .github/actions/prepare_build/action.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_ci_containers.yml
  .github/workflows/build_dependencies.yml
  distribution/dependencies/build_base_debian_bookworm
  distribution/dockerfiles/build_base_debian_bookworm.Dockerfile
Due: none

wip
  .github/actions/prepare_build/action.yml
Due: none

wip
  .github/actions/prepare_build_windows/action.yml
  .github/workflows/build_and_test.yml
Due: none

add zita
  src/backend/CMakeLists.txt
  src/backend/vcpkg-configuration.json
  src/backend/vcpkg.json
Due: none

wip
  src/backend/CMakeLists.txt
  src/backend/vcpkg-configuration.json
Due: none

wip
  .github/actions/prepare_build/action.yml
  .github/actions/prepare_vcpkg/action.yml
  src/backend/CMakeLists.txt
  src/backend/vcpkg.json
  src/rust/backend/build.rs
Due: none

wip
  .github/actions/prepare_build_windows/action.yml
  src/backend/CMakeLists.txt
  src/rust/backend/build.rs
Due: none

wip
  .gitignore
  src/backend/vcpkg.json
  src/rust/backend/Cargo.toml
  src/rust/backend/build.rs
  src/rust/backend/src/lib.rs
  src/rust/py_env/build.rs
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
