Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  .github/actions/prepare_build_windows/action.yml
Due: none

wip
  .github/actions/build_toplevel/action.yml
  aqtinstall.log
  src/rust/shoop_rs/Cargo.toml
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/invoke_from_new_thread.h
  src/rust/shoop_rs/src/cxx_qt_shoop/include/cxx-qt-shoop/shoop_rust_callable.h
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_file_io.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_os_utils.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_release_focus_notifier.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/shoop_rs/src/cxx_qt_shoop/rust/shoop_rust_callable.rs
  src/rust/shoop_rs/src/lib.rs
  src/rust/shoop_rs/src/logging/intialize.rs
  src/rust/shoop_rs/src/logging/macros.rs
  src/rust/shoop_rs/src/logging/mod.rs
  src/rust/shoop_rs/src/logging/setup.rs
  src/rust/shoop_rs/src/logging/units.rs
Due: C(++)

wip
  .vscode/tasks.json
  src/cmake/CompilerCaching.cmake
  src/libshoopdaloop/crashhandling/BuildBreakpad.cmake
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/post_build_linux/action.yml
Due: none

Fix bug with toggling global buttons by mouse
  src/shoopdaloop/lib/qml/AppControls.qml
Due: none

Fix bug related to adding new loops to existing tracks
  src/shoopdaloop/lib/lua/lib/shoop_format.lua
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: none

Fix bugs in autoconnect
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControlPort.qml
Due: Python

Fix syntax bug in QML
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: none

Add cargo build wrapper
  .gitignore
  Cargo.toml
  build.rs
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/main.rs
  src/shoopdaloop/__init__.py
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: Python, C(++)

wip
  build.rs
  scripts/list_dependencies.sh
  src/bin/build_shoop_package.rs
  src/main.rs
Due: none

wip
  Cargo.toml
  distribution/appimage/shoopdaloop.desktop
  distribution/appimage/shoopdaloop.png
  src/bin/build_appdir.rs
  src/main.rs
Due: none

wip
  Cargo.toml
  build.rs
  pyproject.toml
  src/CMakeLists.txt
  src/add_lib_search_path.rs
  src/bin/build_appdir.rs
  src/bin/shoopdaloop_in_cargo.rs
  src/lib.rs
  src/libshoopdaloop/BuildLV2Projects.cmake
  src/libshoopdaloop/BuildZitaResampler.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/crashhandling/CMakeLists.txt
  src/libshoopdaloop/test/CMakeLists.txt
  src/main.rs
  src/rust/CMakeLists.txt
  src/rust/Cargo.toml
  src/rust/shoop_rs_backend/Cargo.toml
  src/rust/shoop_rs_common/Cargo.toml
  src/rust/shoop_rs_frontend/CMakeLists.txt
  src/rust/shoop_rs_frontend/Cargo.toml
  src/rust/shoop_rs_frontend/build.rs
  src/rust/shoop_rs_macros/Cargo.toml
  src/rust/shoop_rs_test/Cargo.toml
  src/rust/shoop_rs_test/src/main.rs
  src/shoop_app_info.rs
  src/shoop_rust.rs
  src/shoopdaloop/__init__.py
  src/shoopdaloop/lib/directories.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/lib/shoop_rust.py.old
Due: Python

Update README.md
  README.md
Due: none

bugfix
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
Due: C(++)

bugfix (#454)
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
Due: C(++)

wip
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_audio.cpp
Due: C(++)

wip
  src/rust/shoop_rs_frontend/Cargo.toml
  src/rust/shoop_rs_frontend/build.rs
  src/rust/shoop_rs_frontend/src/cxx_qt_lib_shoop/cxx/qlinef.cpp
  src/rust/shoop_rs_frontend/src/cxx_qt_lib_shoop/cxx/qpen.cpp
  src/rust/shoop_rs_frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qlinef.h
  src/rust/shoop_rs_frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qpen.h
  src/rust/shoop_rs_frontend/src/cxx_qt_lib_shoop/rust/mod.rs
  src/rust/shoop_rs_frontend/src/cxx_qt_lib_shoop/rust/qlinef.rs
  src/rust/shoop_rs_frontend/src/cxx_qt_lib_shoop/rust/qpen.rs
  src/rust/shoop_rs_frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform.rs
  src/rust/shoop_rs_frontend/src/cxx_qt_shoop/rust/qobj_render_audio_waveform_bridge.rs
Due: C(++)

wip
  .gitmodules
Due: none

wip
  .github/actions/install_package/action.yml
  src/backend/BuildLV2Projects.cmake
  src/backend/BuildZitaResampler.cmake
  src/backend/CMakeLists.txt
  src/backend/CMakeLists.txt.old
  src/backend/crashhandling/BuildBreakpad.cmake
  src/backend/test/CMakeLists.txt
  src/backend/third_party/lv2_evbuf/lv2_evbuf.c
  src/backend/third_party/lv2_evbuf/lv2_evbuf.h
  src/backend/third_party/lv2_evbuf/source.txt
  src/backend/third_party/lv2_external_ui/lv2_external_ui.h
  src/backend/third_party/lv2_external_ui/source.txt
  src/backend/third_party/nlohmann_json/README.txt
  src/backend/third_party/nlohmann_json/nlohmann/json.hpp
  src/backend/third_party/nlohmann_json/nlohmann/json_fwd.hpp
  src/python/shoopdaloop/lib/shoop_rust.py.old
  src/rust/backend/Cargo.toml
  src/rust/backend/build.rs
  src/rust/common/Cargo.toml
  src/rust/frontend/Cargo.toml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_port_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/type_external_port_descriptor.rs
  src/rust/frontend/src/init.rs
  src/rust/frontend/src/lib.rs
  src/rust/frontend/src/shoop_rs_macros_tests/mod.rs
  src/rust/frontend/src/shoop_rs_macros_tests/shoop_rs_macros_test.rs
  src/rust/macros/Cargo.toml
  src/rust/shoopdaloop/src/shoop_rust.rs
Due: C(++)

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qvariant_helpers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/fn_qvariantmap_helpers.rs
  src/rust/shoopdaloop/src/bin/build_appdir.rs
  src/rust/shoopdaloop/src/bin/shoopdaloop_in_cargo.rs
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/main.rs
  src/rust/shoopdaloop/src/shoop_rust.rs
Due: none

wip
  src/python/pyproject.toml
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/python/shoopdaloop/third_party/__init__.py
  src/python/shoopdaloop/third_party/pynsm/LICENSE
  src/python/shoopdaloop/third_party/pynsm/SOURCE
  src/python/shoopdaloop/third_party/pynsm/__init__.py
  src/python/shoopdaloop/third_party/pynsm/nsmclient.py
Due: Python

wip
  src/rust/shoopdaloop/Cargo.toml
  src/rust/shoopdaloop/build.rs
Due: none

wip
  src/rust/shoopdaloop/src/shoop_app_info.rs
Due: none

wip
  src/python/shoopdaloop/__init__.py
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/directories.py
  src/python/shoopdaloop/lib/init_dynlibs.py
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/python/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
  src/python/shoopdaloop/lib/q_objects/FileIO.py
  src/python/shoopdaloop/lib/q_objects/LuaEngine.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/python/shoopdaloop/qml_tests.py
  src/qml/SettingsDialog.qml
  src/rust/shoopdaloop/src/bin/shoopdaloop_dev.rs
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/main.rs
  src/rust/shoopdaloop/src/shoop_app_info.rs
  src/session_schemas/session_schemas.py
Due: Python

wip
  src/backend/CMakeLists.txt
Due: none

wip
  .gitignore
  TODO.txt
  distribution/pyinstaller/.gitignore
  distribution/pyinstaller/README
  distribution/pyinstaller/hook-lupa.py
  distribution/pyinstaller/hook-shoopdaloop.py
  distribution/pyinstaller/shoopdaloop.spec
  src/python/pyproject.toml
  src/python/shoopdaloop/__init__.py
  src/python/shoopdaloop/lib/backend_wrappers.py
  src/python/shoopdaloop/lib/crash_handling.py
  src/python/shoopdaloop/lib/init_dynlibs.py
  src/python/shoopdaloop/lib/logging.py
  src/python/shoopdaloop/lib/q_objects/Application.py
  src/python/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
  src/python/shoopdaloop/lib/q_objects/FileIO.py
  src/python/shoopdaloop/lib/q_objects/LuaEngine.py
  src/python/shoopdaloop/lib/q_objects/SchemaValidator.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/python/shoopdaloop/lib/session_schemas.py
  src/python/shoopdaloop/qml_tests.py
  src/rust/shoopdaloop/Cargo.toml
  src/rust/shoopdaloop/build.rs
  src/rust/shoopdaloop/src/bin/shoopdaloop_dev.rs
  src/rust/shoopdaloop/src/lib.rs
  src/rust/shoopdaloop/src/main.rs
  src/rust/shoopdaloop/src/shoop_app_info.rs
Due: Python

wip
  INSTALL.md
  README.md
Due: none

wip
  src/rust/shoopdaloop/src/bin/build_appdir.rs
Due: none

wip
  .gitignore
  src/python/codegen/__init__.py
  src/python/pyproject.toml
  src/rust/shoopdaloop/build.rs
  src/rust/shoopdaloop/src/bin/build_appdir.rs
  src/rust/shoopdaloop/src/main.rs
  src/session_schemas/__init__.py
Due: Python
