Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/test_qml/action.yml
  junit.xml
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python

wip
  .gitmodules
  src/CMakeLists.txt
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/LoggingEnabled.h
Due: C(++)

wip
  src/CMakeLists.txt
  src/shoopdaloop/lib/logging.py
  src/shoopdaloop/lib/q_objects/Logger.py
Due: Python

wip
  .gitmodules
  src/CMakeLists.txt
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/integration/CMakeLists.txt
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/libshoopdaloop/test/integration/test_libshoopdaloop_if.cpp
  src/libshoopdaloop/test/integration/test_synced_BasicLoops.cpp
  src/libshoopdaloop/test/test_runner.cpp
  src/libshoopdaloop/test/unit/CMakeLists.txt
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_audio.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
  src/libshoopdaloop/test/unit/test_BasicLoop.cpp
  src/libshoopdaloop/test/unit/test_DummyAudioSystem.cpp
  src/libshoopdaloop/test/unit/test_ObjectPool.cpp
Due: C(++)

wip
  .github/actions/test_backend/action.yml
  junit.xml
Due: none

wip
  src/shoopdaloop/lib/logging.py
  src/shoopdaloop/lib/q_objects/Logger.py
Due: Python

wip
  .github/workflows/build_and_test.yml
  junit.xml
  src/libshoopdaloop/internal/DummyAudioSystem.cpp
  src/shoopdaloop/lib/logging.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
Due: Python, C(++)

Update README.md
  README.md
Due: none

wip
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
Due: C(++)

WIP
  src/shoopdaloop/lib/q_objects/LuaEngine.py
  src/shoopdaloop/lib/qml/ConnectionsDialog.qml
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
  src/shoopdaloop/lib/qml/LuaScriptWithEngine.qml
Due: Python

WIP
  .gitmodules
  overrides/windows_debug_overrides.toml
  pyproject.toml
  src/libshoopdaloop/BuildStaticDependencies.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/LoadDynamicLibrary.cpp
  src/libshoopdaloop/internal/LoadDynamicLibrary.h
  src/libshoopdaloop/internal/channel_mode_helpers.cpp
  src/libshoopdaloop/internal/jack/jack_wrappers.cpp
  src/libshoopdaloop/internal/jack/jack_wrappers.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/random_string.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/libshoopdaloop/test/integration/test_libshoopdaloop_if.cpp
  src/libshoopdaloop/test/integration/test_synced_BasicLoops.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_audio.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
  src/libshoopdaloop/test/unit/test_BasicLoop.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/LoadDynamicLibrary.cpp
Due: C(++)

WIP
  overrides/windows_debug_overrides.toml
  overrides/windows_release_overrides.toml
  src/libshoopdaloop/BuildLV2Projects.cmake
  src/libshoopdaloop/BuildStaticDependencies.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/LV2.cpp
  src/shoopdaloop/lib/backend_wrappers.py
Due: Python, C(++)

WIP
  .github/actions/prepare_build_macos/action.yml
  src/libshoopdaloop/BuildLV2Projects.cmake
  src/libshoopdaloop/internal/ObjectPool.h
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: C(++)

WIP
  src/libshoopdaloop/CMakeLists.txt
Due: none

WIP
  src/shoopdaloop/lib/qml/AudioLevelMeterModel.qml
Due: none

wip
  .github/actions/prepare_build_windows/action.yml
Due: none

wip
  src/libshoopdaloop/BuildLV2Projects.cmake
Due: none

wip
  src/libshoopdaloop/internal/ObjectPool.h
Due: C(++)

wip
  src/libshoopdaloop/BuildLV2Projects.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/accelerate/CMakeLists.txt
  src/libshoopdaloop/test/CMakeLists.txt
Due: none

wip
  scripts/replace_symlink_by_target.py
  src/libshoopdaloop/BuildLV2Projects.cmake
Due: none

wip
  scripts/replace_symlink_by_target.py
  scripts/run_with_env_from_files.py
  src/libshoopdaloop/BuildLV2Projects.cmake
Due: none

WIP
  src/libshoopdaloop/BuildLV2Projects.cmake
Due: none

wip
  src/shoopdaloop/run_qml_tests.py
Due: Python

wip
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/test/CMakeLists.txt
Due: none

wip
  src/libshoopdaloop/CMakeLists.txt
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  src/libshoopdaloop/BuildLV2Projects.cmake
  src/libshoopdaloop/CMakeLists.txt
Due: none

wip
  .github/actions/prepare_build_manylinux_2_28/action.yml
  .github/workflows/build_and_test.yml
  .github/workflows/tmate_manylinux.yml
  distribution/dependencies/build_base_manylinux_2_28
  distribution/dockerfiles/build_base_manylinux_2_28.Dockerfile
Due: none

WIP
  distribution/dependencies/run_base_arch
  distribution/dependencies/run_base_debian
Due: none

wip
  .github/workflows/build_ci_containers.yml
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
