Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

Fix another MacOS issue
  src/libshoopdaloop/internal/MidiStateTracker.cpp
Due: C(++)

Fix screenshots stage in coverage build
  .github/actions/test_screenshots/action.yml
  .github/actions/test_toplevel/action.yml
Due: none

Fix screenshots stage in coverage build (#314)
  .github/actions/test_screenshots/action.yml
  .github/actions/test_toplevel/action.yml
Due: none

Fix InnoSetup versioning
  .github/actions/build_innosetup/action.yml
  distribution/innosetup/shoopdaloop.iss
Due: none

wip
  .github/actions/build_package/action.yml
Due: none

Fix InnoSetup versioning (#315)
  .github/actions/build_innosetup/action.yml
  .github/actions/build_package/action.yml
  distribution/innosetup/shoopdaloop.iss
Due: none

Test for play solo
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
Due: none

wip
  src/libshoopdaloop/internal/jack/JackAudioPort.h
Due: C(++)

Update docs theme color
  docs/source/conf.py
Due: none

Update docs.yml
  .github/workflows/docs.yml
Due: none

Update docs.yml (#317)
  .github/workflows/docs.yml
Due: none

wip
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/GraphAudioPort.cpp
  src/libshoopdaloop/internal/InternalAudioPort.cpp
  src/libshoopdaloop/internal/jack/JackAudioPort.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.h
  src/libshoopdaloop/test/integration/test_graph_construction.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/js_constants.py
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/DebugInspectionItemWindow.qml
  src/shoopdaloop/lib/qml/MidiPort.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_track_controls.qml
  src/shoopdaloop/lib/session_schemas/schemas/audioport.1.json
  src/shoopdaloop/lib/session_schemas/schemas/midiport.1.json
Due: Python, C(++)

Update build_and_test.yml
  .github/workflows/build_and_test.yml
Due: none

Fix crash collection in re-started builds (#318)
  .github/workflows/build_and_test.yml
Due: none

wip
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/GraphAudioPort.cpp
  src/libshoopdaloop/internal/GraphPort.cpp
  src/libshoopdaloop/internal/graph_processing_order.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/qml/DebugInspectionItemWindow.qml
Due: Python, C(++)

Explicit composite loop documentation
  .vscode/settings.json
  docs/source/concept.rst
  docs/source/usage.composite.rst
  docs/source/usage.rst
Due: none

wip
  docs/source/concept.rst
Due: none

Update composite loop docs (#302)
  .vscode/settings.json
  docs/source/concept.rst
  docs/source/usage.composite.rst
  docs/source/usage.rst
Due: none

Fix details pane
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
Due: none

wip
  src/shoopdaloop/lib/qml/Session.qml
Due: none

Fix details pane (#319)
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
Due: none

Start of back-end changes for always-on recording
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BufferQueue.cpp
  src/libshoopdaloop/internal/BufferQueue.h
  src/libshoopdaloop/internal/ChannelInterface.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiMessage.h
  src/libshoopdaloop/internal/MidiRingbuffer.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/unit/test_AudioChannel.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_audio.cpp
  src/libshoopdaloop/test/unit/test_BufferQueue.cpp
  src/libshoopdaloop/test/unit/test_MidiStorage.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python, C(++)

Start of back-end changes for always-on recording (#320)
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/AudioMidiLoop.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BufferQueue.cpp
  src/libshoopdaloop/internal/BufferQueue.h
  src/libshoopdaloop/internal/ChannelInterface.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiMessage.h
  src/libshoopdaloop/internal/MidiRingbuffer.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/unit/test_AudioChannel.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_audio.cpp
  src/libshoopdaloop/test/unit/test_BufferQueue.cpp
  src/libshoopdaloop/test/unit/test_MidiStorage.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
Due: Python, C(++)

CNAME fix for shoopdaloop.com
  .github/workflows/docs.yml
Due: none

Retroactive recording
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

MacOS build error
  src/libshoopdaloop/internal/AudioChannel.cpp
Due: C(++)

MacOS build fix
  src/libshoopdaloop/test/unit/test_MidiStorage.cpp
Due: C(++)

Disable auto-pushing of docs for the time being
  .github/workflows/docs.yml
Due: none

Docs go to subdir in pages site.
  .github/workflows/docs.yml
Due: none

Enable Jekyll on Pages
  .github/workflows/docs.yml
Due: none

Find docs in Jekyll pages
  docs/source/conf.py
Due: none

Docs fix
  .github/workflows/docs.yml
  docs/source/conf.py
Due: none

Another docs attempt
  .github/workflows/docs.yml
Due: none

Another docs fix
  .github/workflows/docs.yml
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
