Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

wip
  src/shoopdaloop/lib/qml/CompositeLoop.qml
Due: none

wip
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: none

WIP
  src/libshoopdaloop/test/integration/test_chains.cpp
Due: C(++)

WIP
  src/shoopdaloop/lib/q_objects/ApplicationMetadata.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/DictTreeModel.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/KeyModifiers.py
  src/shoopdaloop/lib/q_objects/OSUtils.py
  src/shoopdaloop/lib/q_objects/ReleaseFocusNotifier.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/q_objects/SchemaValidator.py
  src/shoopdaloop/lib/q_objects/SettingsIO.py
  src/shoopdaloop/lib/q_objects/TestCase.py
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/q_objects/TestScreenGrabber.py
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/resolve_qjsvalue.py
Due: Python

Start adding thread protections
  src/shoopdaloop/lib/lua_qobject_interface_test.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/ApplicationMetadata.py
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/DictTreeModel.py
  src/shoopdaloop/lib/q_objects/DummyProcessHelper.py
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/JackControlClient.py
  src/shoopdaloop/lib/q_objects/KeyModifiers.py
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/q_objects/LuaEngine.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/q_objects/OSUtils.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/q_objects/QoverageCollectorFactory.py
  src/shoopdaloop/lib/q_objects/ReleaseFocusNotifier.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/q_objects/SchemaValidator.py
  src/shoopdaloop/lib/q_objects/SettingsIO.py
  src/shoopdaloop/lib/q_objects/ShoopPyObject.py
  src/shoopdaloop/lib/q_objects/Task.py
  src/shoopdaloop/lib/q_objects/Tasks.py
  src/shoopdaloop/lib/q_objects/TestCase.py
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/q_objects/TestScreenGrabber.py
  src/shoopdaloop/lib/qt_thread_protected.py
Due: Python

it runs
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/q_objects/ShoopPyObject.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  test.shl
Due: Python

Remove test.shl
  test.shl
Due: none

Tighter control over signal and slot threads in Python
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/q_objects/ShoopPyObject.py
  src/shoopdaloop/lib/qml/test/ShoopSessionTestCase.qml
Due: Python

wip
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/q_objects/ShoopPyObject.py
Due: Python

wip
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/ApplicationMetadata.py
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/DummyProcessHelper.py
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/JackControlClient.py
  src/shoopdaloop/lib/q_objects/KeyModifiers.py
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/q_objects/ReleaseFocusNotifier.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/q_objects/ShoopPyObject.py
  src/shoopdaloop/lib/q_objects/Task.py
  src/shoopdaloop/lib/q_objects/Tasks.py
  src/shoopdaloop/lib/q_objects/TestCase.py
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/qml/LuaControlInterface.qml
  src/shoopdaloop/lib/qml/LuaScriptWithEngine.qml
  src/shoopdaloop/lib/qml/Registry.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: Python

wip
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/ApplicationMetadata.py
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/DummyProcessHelper.py
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/JackControlClient.py
  src/shoopdaloop/lib/q_objects/KeyModifiers.py
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/q_objects/ReleaseFocusNotifier.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/q_objects/ShoopPyObject.py
  src/shoopdaloop/lib/q_objects/Task.py
  src/shoopdaloop/lib/q_objects/Tasks.py
  src/shoopdaloop/lib/q_objects/TestCase.py
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/qml/LuaControlInterface.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_actions.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_filters.qml
Due: Python

WIP
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: none

WIP
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: C(++)

wip
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/CustomProcessingChain.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/LoggingEnabled.h
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/GraphFXChain.h
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/internal/GraphLoop.h
  src/libshoopdaloop/internal/GraphLoopChannel.h
  src/libshoopdaloop/internal/GraphNode.h
  src/libshoopdaloop/internal/GraphPort.h
  src/libshoopdaloop/internal/ObjectPool.h
  src/libshoopdaloop/internal/graph_processing_order.cpp
  src/libshoopdaloop/internal/process_loops.h
  src/libshoopdaloop/internal/shoop_globals.h
  src/libshoopdaloop/test/integration/test_synced_BasicLoops.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_audio.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
  src/libshoopdaloop/test/unit/test_ObjectPool.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/qml/MonkeyTester.qml
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/qml/MonkeyTester.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: none

WIP
  src/libshoopdaloop/internal/GraphLoop.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/graph_processing_order.cpp
Due: C(++)

Async plugin UI start
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
Due: C(++)

WIP
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/TrackControlLogic.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
Due: none

Don't show audio dial on composites
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

Attempt to fix coverage again
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Loop.py
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
Due: Python

wip
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
Due: Python

Fix more python-side signalling issues (#274)
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/Loop.py
Due: Python

Bring back coverage gathering and uploading
  .github/actions/test_python/action.yml
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/qoverage_generate_report/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  distribution/dependencies/run_base_arch
Due: none

wip
  distribution/dependencies/run_base_arch
  distribution/dependencies/run_base_debian
Due: none

WIP
  .github/workflows/build_ci_containers.yml
  distribution/dependencies/base_manylinux_2_28
  distribution/dockerfiles/base_manylinux_2_28.Dockerfile
Due: none

wip
  .github/actions/prepare_build_manylinux_2_28/action.yml
  distribution/dockerfiles/base_manylinux_2_28.Dockerfile
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
