Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

wip
  src/backend/internal/BasicLoop.cpp
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
Due: C(++)

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/FXChain.py
  src/python/shoopdaloop/lib/q_objects/FindParentBackend.py
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/Backend.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/FXChain.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/python/shoopdaloop/lib/q_objects/Port.py
  src/qml/Backend.qml
  src/qml/MidiControlPort.qml
  src/qml/Session.qml
  src/qml/SessionControlInterface.qml
  src/qml/test/tst_Backend.qml
  src/qml/test/tst_Backend_jack.qml
  src/qml/test/tst_MidiControlPort.qml
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qjsonobject.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qmap_qstring_qvariant.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qjsonobject.rs
  src/rust/frontend/src/cxx_qt_shoop/include/cxx-qt-shoop/cast_ptr.h
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/shoopdaloop/src/shoop_py_backend/audio_port.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python, C(++)

wip
  src/python/shoopdaloop/lib/q_objects/MidiPort.py
  src/qml/test/ShoopTestCase.qml
  src/qml/test/tst_Backend_jack.qml
  src/qml/test/tst_CompositeLoop_running.qml
  src/qml/test/tst_ControlInterface_lua.qml
  src/qml/test/tst_Jack_ports.qml
  src/qml/test/tst_LoopReorder.qml
  src/qml/test/tst_LuaScriptWithEngine.qml
  src/qml/test/tst_Midi.qml
  src/qml/test/tst_MidiControlPort.qml
  src/qml/test/tst_Resample.qml
  src/qml/test/tst_SessionDescriptor_default.qml
  src/qml/test/tst_SessionDescriptor_track_controls.qml
  src/qml/test/tst_Session_channels.qml
  src/qml/test/tst_Session_save_load.qml
  src/qml/test/tst_ThreeLoops.qml
  src/qml/test/tst_TrackControlAndLoop_direct.qml
  src/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/qml/test/tst_TrackControl_direct.qml
  src/qml/test/tst_TrackControl_drywet.qml
  src/qml/test/tst_TwoLoops.qml
Due: Python

wip
  src/backend/internal/AudioMidiDriver.h
  src/backend/internal/ObjectPool.h
  src/backend/internal/jack/JackApi.h
  src/backend/internal/jack/JackAudioMidiDriver.cpp
  src/backend/internal/jack/JackAudioMidiDriver.h
  src/backend/internal/jack/JackTestApi.h
  src/backend/internal/shoop_globals.h
  src/backend/libshoopdaloop_backend.cpp
  src/python/shoopdaloop/lib/q_objects/Backend.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/FXChain.py
  src/qml/CompositeLoop.qml
  src/qml/LoopWidget.qml
  src/qml/ProfilingWindow.qml
  src/qml/test/ShoopSessionTestCase.qml
  src/qml/test/tst_Backend.qml
  src/qml/test/tst_Backend_jack.qml
  src/qml/test/tst_CompositeLoop_scheduling.qml
  src/qml/test/tst_Jack_ports.qml
  src/qml/test/tst_LuaScriptWithEngine.qml
  src/qml/test/tst_MidiControlPort.qml
  src/qml/test/tst_Session_save_load.qml
  src/rust/backend_bindings/src/audio_driver.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qtimer.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qtimer.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
Due: Python, C(++)

wip
  src/python/shoopdaloop/lib/q_objects/AudioPort.py
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/FXChain.py
  src/python/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/python/shoopdaloop/lib/q_objects/MidiPort.py
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/qml/TrackWidget.qml
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/FXChain.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
Due: Python

feat: Create Rust signature file for DummyProcessHelper with signals and properties
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper_bridge.rs
Due: none

feat: Implement DummyProcessHelper in Rust as qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
Due: none

wip
  aqtinstall.log
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/DummyProcessHelper.py
  src/python/shoopdaloop/lib/qquickitem_stack.py
  src/rust/frontend/src/cxx_qt_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
Due: Python

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper_bridge.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/python/shoopdaloop/lib/q_objects/DummyProcessHelper.py
  src/python/shoopdaloop/lib/qml_helpers.py
  src/qml/test/tst_CompositeLoop_running.qml
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/invoke.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qvariant_helpers.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qvariant_helpers.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper_bridge.rs
  src/rust/frontend/src/init.rs
Due: Python, C(++)

wip
  src/backend/internal/AudioChannel.cpp
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/test/qobj_test_backend_wrapper_bridge.rs
Due: C(++)

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
Due: none

wip
  src/backend/internal/AudioPort.cpp
  src/backend/internal/BasicLoop.cpp
  src/backend/internal/BufferQueue.cpp
  src/backend/internal/DummyAudioMidiDriver.cpp
  src/backend/internal/GraphLoop.cpp
  src/backend/internal/MidiChannel.cpp
  src/backend/internal/MidiRingbuffer.cpp
  src/backend/internal/Resample.cpp
  src/backend/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/backend/internal/process_loops.h
  src/backend/test/integration/test_chain_single_direct_loop.cpp
  src/backend/test/unit/test_MidiRingbuffer.cpp
Due: C(++)

wip
  src/backend/internal/BackendSession.cpp
  src/backend/internal/InternalAudioPort.cpp
  src/backend/internal/MidiStateTracker.cpp
  src/backend/internal/Resample.cpp
  src/backend/internal/jack/JackAudioPort.cpp
  src/backend/internal/jack/JackTestApi.h
  src/backend/test/integration/test_graph_construction.cpp
Due: C(++)

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper.rs
Due: Python

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/invoke.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qobject.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_backend_wrapper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_backend_wrapper.rs
Due: C(++)

wip
  src/python/shoopdaloop/lib/q_objects/Loop.py
  src/qml/ClickTrackDialog.qml
  src/qml/CompositeLoop.qml
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/qml/LoopWidget.qml
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/Loop.py
Due: Python

wip
  src/python/shoopdaloop/lib/q_objects/Loop.py
  src/qml/TrackControlWidget.qml
Due: Python

fix: Ensure proper error handling for CString creation in audio_driver.rs
  src/rust/backend_bindings/src/audio_driver.rs
Due: none

fix: Ensure proper null-termination for FFI Rust strings in audio_port.rs
  src/rust/backend_bindings/src/audio_port.rs
Due: none

fix: Ensure CString creation handles errors for non-null-terminated strings
  src/rust/backend_bindings/src/backend_session.rs
Due: none

fix: Ensure null-terminated strings for FFI in decoupled_midi_port.rs
  src/rust/backend_bindings/src/decoupled_midi_port.rs
Due: none

fix: Ensure CString conversion checks for errors in restore_state function
  src/rust/backend_bindings/src/fx_chain.rs
Due: none

fix: Ensure null-terminated strings for FFI in midi_port.rs
  src/rust/backend_bindings/src/midi_port.rs
Due: none

fix: Ensure null-termination of Rust strings in FFI conversion method
  src/rust/backend_bindings/src/port.rs
Due: none

wip
  src/qml/MonkeyTester.qml
  src/qml/RequireBackend.qml
  src/qml/TracksWidget.qml
Due: none

wip
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/invoke.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/invokable.rs
Due: C(++)

wip
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/invokable.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_compositeloop_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_dummy_process_helper_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_backend_wrapper.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_signature_port.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/Port.py
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/invoke.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/invokable.rs
Due: Python, C(++)

wip
  src/qml/Loop.qml
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/LoopChannel.py
  src/qml/Loop.qml
  src/qml/LoopAudioChannel.qml
  src/qml/LoopMidiChannel.qml
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qquickitem.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/qquickitem.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
Due: Python, C(++)

wip
  src/qml/BackendLoopWithChannels.qml
  src/qml/Loop.qml
  src/qml/LoopWidget.qml
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
Due: none

wip
  src/python/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/python/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/shoopdaloop/src/shoop_rust_py/mod.rs
  src/rust/shoopdaloop/src/shoop_rust_py/objects.rs
Due: Python

wip
  src/rust/frontend/build.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/connect.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qthread.h
  src/rust/frontend/src/cxx_qt_lib_shoop/include/cxx-qt-lib-shoop/qtimer.h
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/connect.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/connection_types.rs
  src/rust/frontend/src/cxx_qt_lib_shoop/rust/mod.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_autoconnect_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_find_parent_item_bridge.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
Due: C(++)

wip
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop.rs
  src/rust/frontend/src/cxx_qt_shoop/rust/qobj_loop_bridge.rs
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
