Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

wip
  .github/actions/prepare_build_windows/action.yml
Due: none

wip
  src/shoopdaloop/lib/backend_wrappers.py
Due: Python

wip
  overrides/windows_debug_overrides.toml
Due: none

wip
  src/libshoopdaloop/BuildLV2Projects.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/test/CMakeLists.txt
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

WIP
  src/libshoopdaloop/internal/jack/jack_wrappers.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/lv2/LV2.cpp
  src/libshoopdaloop/internal/lv2/lv2_lilv_wrappers.cpp
  src/libshoopdaloop/internal/lv2/lv2_lilv_wrappers.h
Due: C(++)

WIP
  src/libshoopdaloop/BuildLV2Projects.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/jack/jack_wrappers.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/lv2/LV2.cpp
  src/libshoopdaloop/internal/lv2/LV2.h
  src/libshoopdaloop/internal/lv2/lilv_wrappers.cpp
  src/libshoopdaloop/internal/lv2/lilv_wrappers.h
  src/libshoopdaloop/libshoopdaloop.cpp
  third_party/lv2_evbuf/CMakeLists.txt
Due: C(++)

checkpoint
  overrides/windows_debug_overrides.toml
  src/CMakeLists.txt
  src/libshoopdaloop/internal/lv2/LV2.cpp
Due: C(++)

wip
  src/CMakeLists.txt
  src/libshoopdaloop/BuildLV2Projects.cmake
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/LoadDynamicLibrary.cpp
  src/libshoopdaloop/internal/lv2/LV2.cpp
  third_party/lv2_evbuf/CMakeLists.txt
Due: C(++)

WIP
  src/libshoopdaloop/internal/lv2/lilv_wrappers.cpp
  src/libshoopdaloop/internal/lv2/lilv_wrappers.h
Due: C(++)

WIP
  .github/workflows/build_and_test.yml
  overrides/asan_overrides.toml
  overrides/barebones_debug_overrides.toml
  overrides/barebones_overrides.toml
  overrides/coverage_overrides.toml
  overrides/debug_overrides.toml
  overrides/linux_release_overrides.toml
  overrides/macos_release_overrides.toml
  overrides/release_overrides.toml
  overrides/windows_debug_overrides.toml
  overrides/windows_release_overrides.toml
  src/libshoopdaloop/internal/LoadDynamicLibrary.cpp
  src/libshoopdaloop/internal/lv2/LV2.cpp
Due: C(++)

wip
  src/libshoopdaloop/BuildLV2Projects.cmake
Due: none

Start using an Animation for audio meter instead of a Timer
  src/shoopdaloop/lib/qml/AudioLevelMeterModel.qml
Due: none

WIP
  .vscode/tasks.json
  src/libshoopdaloop/internal/jack/JackAudioSystem.cpp
  src/libshoopdaloop/internal/run_in_thread_with_timeout.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/libshoopdaloop/test/integration/test_libshoopdaloop_if.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/lua_qobject_interface_test.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/ApplicationMetadata.py
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/DictTreeModel.py
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/shoopdaloop/lib/q_objects/JackControlClient.py
  src/shoopdaloop/lib/q_objects/KeyModifiers.py
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/LuaEngine.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/q_objects/QoverageCollectorFactory.py
  src/shoopdaloop/lib/q_objects/ReleaseFocusNotifier.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/SchemaValidator.py
  src/shoopdaloop/lib/q_objects/SettingsIO.py
  src/shoopdaloop/lib/q_objects/ShoopPyObject.py
  src/shoopdaloop/lib/q_objects/Task.py
  src/shoopdaloop/lib/q_objects/Tasks.py
  src/shoopdaloop/lib/q_objects/TestCase.py
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/q_objects/TestScreenGrabber.py
  src/shoopdaloop/lib/qml/AudioLevelMeterModel.qml
Due: Python, C(++)

Fix a bunch of deinitialization issues.
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/CommandQueue.cpp
  src/libshoopdaloop/internal/CommandQueue.h
  src/libshoopdaloop/internal/ConnectedDecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/Backend.h
  src/libshoopdaloop/internal/lv2/LV2.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/lua_qobject_interface_test.py
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/Backend.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/qml/Session.qml
Due: Python, C(++)

WIP
  pyproject.toml
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
Due: Python

sounddevice
  pyproject.toml
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
Due: Python

wip
  src/shoopdaloop/lib/q_objects/ClickTrackGenerator.py
Due: Python

portaudio
  distribution/dependencies/run_base_arch
  distribution/dependencies/run_base_debian
Due: none

WIP
  distribution/dependencies/run_base_arch
  distribution/dependencies/run_base_debian
Due: none

wip
  scripts/repeat_run_app.py
Due: none

WIP
  .github/workflows/build_and_test.yml
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/run_qml_tests.py
Due: Python

WIP
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/actions/test_run_app/action.yml
Due: none

wip
  scripts/repeat_run_app.py
  src/shoopdaloop/lib/q_objects/Application.py
Due: Python

Application icon display on window and in taskbar (Windows).
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/resources/favicon.32.png
  src/shoopdaloop/resources/favicon.xcf
  src/shoopdaloop/resources/icon.xcf
  src/shoopdaloop/resources/icon/icon-128.png
  src/shoopdaloop/resources/icon/icon-256.png
  src/shoopdaloop/resources/icon/icon-32.png
  src/shoopdaloop/resources/icon/icon-64.png
Due: Python

WIP
  src/libshoopdaloop/internal/rtaudiomidi/RtAudioApi.h
  src/libshoopdaloop/internal/rtaudiomidi/RtAudioDeviceSystem.h
Due: C(++)

WIP
  src/libshoopdaloop/internal/rtaudiomidi/RtAudioApi.h
  src/libshoopdaloop/internal/rtaudiomidi/RtAudioDeviceSystem.h
  src/libshoopdaloop/internal/rtaudiomidi/RtAudioSystem.h
Due: C(++)

WIP
  src/libshoopdaloop/internal/rtaudiomidi/RtAudioApi.h
  src/libshoopdaloop/internal/rtaudiomidi/RtAudioSystem.cpp
  src/libshoopdaloop/internal/rtaudiomidi/RtAudioSystem.h
Due: C(++)
