Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  .github/actions/prepare_build_windows/action.yml
  src/libshoopdaloop/BuildZitaResampler.cmake
Due: none

wip
  .github/actions/prepare_build_windows/action.yml
Due: none

Bring back tests
  .github/workflows/build_and_test.yml
Due: none

Fix PThreads DLL inclusion on Windows. (#223)
  .github/actions/prepare_build_windows/action.yml
  src/libshoopdaloop/BuildZitaResampler.cmake
Due: none

Remove ASAN test run
  .github/workflows/build_and_test.yml
Due: none

Fix some MIDI issues and add tests
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/MidiBufferingInputPort.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/shoopdaloop/lib/midi.js
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
Due: C(++)

WIP
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
Due: none

WIP
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
Due: C(++)

Fix some MIDI issues and add tests (#230)
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/MidiBufferingInputPort.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
  src/shoopdaloop/lib/midi.js
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
Due: C(++)

Change audio meter animation to use QML animation constructs
  src/shoopdaloop/lib/qml/AudioLevelMeterModel.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/AudioLevelMeterModel.qml
Due: none

Improve audio meter animation (#126)
  src/shoopdaloop/lib/qml/AudioLevelMeterModel.qml
Due: none

Small fixes
  src/shoopdaloop/lib/qml/AudioLevelMeterModel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

Fix typo
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
Due: none

Add drag-n-drop reordering for loops within the same track
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
Due: none

Add drag-n-drop reordering for loops within the same track (#233)
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
Due: none

WIP
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
Due: Python

WIP
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

wip
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  test.shl
  test2.shl
Due: none

wip
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
Due: none

WIP
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
Due: Python

wip
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/MonkeyTester.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
Due: Python, C(++)

wip
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

wip
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  test.shl
  test2.shl
Due: none

wip
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

Change test pipeline to focus on MacOS debug version
  .github/workflows/build_and_test.yml
Due: none

Details pane / editor for composite loops (#236)
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/DetailsPane.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/Loop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/MonkeyTester.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/StateRegistry.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python, C(++)

Update README.md
  README.md
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

T toggles targeting (#234)
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

Composite loop will play after recording + add test
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
Due: Python

Composite loop will play after recording + add test (#239)
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
Due: Python

Allow parallel loops in composite playlist
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/EditCompositeLoop.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
