Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
Due: none

wip
  .github/actions/install_package/action.yml
  .github/actions/test_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/test_toplevel/action.yml
Due: none

wip
  .github/actions/build_pyinstaller/action.yml
Due: none

No QML tests on ARM (too slow)
  .github/actions/test_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

Optimize with more dynamic loading
  src/shoopdaloop/lib/qml/FirstTimeLoader.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

wip
  .github/actions/test_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/workflows/build_and_test.yml
  src/shoopdaloop/lib/qml/FirstTimeLoader.qml
Due: none

wip
  src/shoopdaloop/lib/qml/DynamicToolTip.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

Update run_base_ubuntu_latest.Dockerfile
  distribution/dockerfiles/run_base_ubuntu_latest.Dockerfile
Due: none

No QML tests on ARM (too slow) (#421)
  .github/actions/test_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

Use sudo on debian ARM container
  .github/actions/install_package/action.yml
  .github/actions/test_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/workflows/build_and_test.yml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: none

wip
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
Due: none

wip
  src/libshoopdaloop/internal/MidiBufferingInputPort.cpp
  src/libshoopdaloop/internal/MidiBufferingInputPort.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: Python, C(++)

Fix false positive tests (#419)
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/internal/MidiBufferingInputPort.cpp
  src/libshoopdaloop/internal/MidiBufferingInputPort.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: Python, C(++)

Fix windows installer script
  .github/actions/install_package/action.yml
Due: none

wip
  src/shoopdaloop/lib/q_objects/Logger.py
  src/shoopdaloop/lib/q_objects/SchemaValidator.py
  src/shoopdaloop/lib/qml/DynamicToolTip.qml
  src/shoopdaloop/lib/qml/OldLoopWidget.qml
  src/shoopdaloop/lib/qml/SchemaCheck.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/Settings.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: Python

Optimize data getting, setting, loading, saving
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/SerializeableStateInterface.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/qml/RenderChannelData.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
Due: C(++)

wip
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
Due: C(++)

Optimize data getting, setting, loading, saving (#424)
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/SerializeableStateInterface.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/q_objects/RenderMidiSequence.py
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/RenderChannelData.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_ThreeLoops.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: Python, C(++)

Upload release assets on tag push
  .github/actions/build_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

wip
  .github/actions/build_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

Upload release assets on tag push (#426)
  .github/actions/build_toplevel/action.yml
  .github/workflows/build_and_test.yml
Due: none

Allow workflow to create release
  .github/workflows/build_and_test.yml
Due: none

Fix path in build script
  .github/actions/build_toplevel/action.yml
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
