Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

codecov.yml:

ignore:
  - ".github"
  - "docs"
  - "dist"
  - "distribution"
  - "scripts"
  - "third_party"
  - "build"
  - "src/shoopdaloop/third_party"

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: python
      name: Python
      paths:
        - "**/*.py"
    - component_id: cpp
      name: C(++)
      paths:
        - "**/*.cpp"
        - "**/*.h"
        - "**/*.hpp"
        - "**/*.c"

coverage:
  status:
    project:
      default:
        branches:
          - master
        informational: true

Zita resampler
  .gitmodules
  pyproject.toml
  src/libshoopdaloop/BuildZitaResampler.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/q_objects/FileIO.py
Due: Python, C(++)

wip
  src/shoopdaloop/lib/q_objects/FileIO.py
Due: Python

wip
  .github/actions/prepare_build_macos/action.yml
  .github/actions/prepare_build_manylinux_2_28/action.yml
  distribution/dependencies/run_base_arch
  distribution/dependencies/run_base_debian
Due: none

WIP
  .gitmodules
  src/libshoopdaloop/BuildZitaResampler.cmake
  src/libshoopdaloop/internal/Resample.cpp
  src/libshoopdaloop/internal/Resample.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/FileIO.py
Due: Python, C(++)

Working on zita-resampler static linkage
  .gitmodules
  src/libshoopdaloop/BuildZitaResampler.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/Resample.cpp
  src/libshoopdaloop/internal/Resample.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/crash_handling.py
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/Resample.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: Python, C(++)

WIP
  src/libshoopdaloop/BuildZitaResampler.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/shoopdaloop/lib/directories.py
Due: Python

WIP
  pyproject.toml
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/crash_handling.py
  src/shoopdaloop/lib/directories.py
  src/shoopdaloop/lib/init_dynlibs.py
  src/shoopdaloop/lib/logging.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
Due: Python

WIP
  src/shoopdaloop/lib/init_dynlibs.py
Due: Python

wip
  .github/actions/prepare_build_windows/action.yml
Due: none

Zita resampler (#211)
  .github/actions/prepare_build_macos/action.yml
  .github/actions/prepare_build_manylinux_2_28/action.yml
  .github/actions/prepare_build_windows/action.yml
  .gitmodules
  distribution/dependencies/run_base_arch
  distribution/dependencies/run_base_debian
  pyproject.toml
  src/libshoopdaloop/BuildZitaResampler.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/Resample.cpp
  src/libshoopdaloop/internal/Resample.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/crash_handling.py
  src/shoopdaloop/lib/directories.py
  src/shoopdaloop/lib/init_dynlibs.py
  src/shoopdaloop/lib/logging.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/RenderAudioWaveform.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/Resample.cpp
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
Due: C(++)

wip
  .github/workflows/build_and_test.yml
Due: none

wip
  src/libshoopdaloop/internal/BackendSession.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/Resample.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/jack/JackPort.cpp
  src/shoopdaloop/lib/qml/RegistryLookup.qml
  src/shoopdaloop/lib/qml/RegistryLookups.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: C(++)

Fix segfault (#210)
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/Resample.cpp
  src/libshoopdaloop/internal/jack/JackPort.cpp
  src/shoopdaloop/lib/qml/RegistryLookup.qml
  src/shoopdaloop/lib/qml/RegistryLookups.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: C(++)

Fix PThreads DLL inclusion on Windows.
  src/libshoopdaloop/BuildZitaResampler.cmake
Due: none

Fix details pane
  src/shoopdaloop/lib/qml/Session.qml
Due: none

Fix sync loop load
  src/shoopdaloop/lib/qml/Session.qml
Due: none

WIP
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/GraphAudioPort.cpp
  src/libshoopdaloop/internal/GraphLoopChannel.cpp
  src/libshoopdaloop/internal/GraphMidiPort.cpp
  src/libshoopdaloop/internal/LoadDynamicLibrary.cpp
  src/libshoopdaloop/internal/LoggingBackend.cpp
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/LoggingEnabled.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiStateTracker.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/logging.py
Due: Python, C(++)

Fixes (#225)
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/GraphAudioPort.cpp
  src/libshoopdaloop/internal/GraphLoopChannel.cpp
  src/libshoopdaloop/internal/GraphMidiPort.cpp
  src/libshoopdaloop/internal/LoadDynamicLibrary.cpp
  src/libshoopdaloop/internal/LoggingBackend.cpp
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/LoggingEnabled.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiStateTracker.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/logging.py
  src/shoopdaloop/lib/qml/Session.qml
Due: Python, C(++)

Add TMate Ubuntu session
  .github/workflows/tmate_ubuntu.yml
Due: none

Fix coverage build
  .github/actions/install_qoverage/action.yml
Due: none

WIP
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/actions/install_qoverage/action.yml
  .github/actions/qoverage_generate_report/action.yml
  .github/actions/qoverage_instrument/action.yml
Due: none

wip
  .github/actions/qoverage_instrument/action.yml
  src/libshoopdaloop/internal/MidiChannel.cpp
Due: C(++)

wip
  .github/actions/qoverage_instrument/action.yml
Due: none

WIP
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/internal/MidiChannel.cpp
Due: C(++)

Fix coverage generation (#228)
  .github/actions/qoverage_generate_report/action.yml
  .github/actions/qoverage_instrument/action.yml
Due: none

Isolate windows build
  .github/workflows/build_and_test.yml
Due: none
