Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  .github/actions/prepare_build_windows/action.yml
Due: none

WIP
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/actions/prepare_build_windows/action.yml
  .github/actions/test_qml/action.yml
  .github/actions/test_run_app/action.yml
  .github/actions/test_screenshots/action.yml
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/actions/prepare_build_windows/action.yml
  .github/actions/test_backend/action.yml
Due: none

WIP
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/integration/test_libshoopdaloop_if.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

WIP
  .github/actions/test_backend/action.yml
Due: none

WIP
  src/CMakeLists.txt
  src/libshoopdaloop/internal/ObjectPool.h
Due: C(++)

WIP
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

WIP
  overrides/windows_release_overrides.toml
Due: none

WIP
  .github/actions/test_qml/action.yml
  .github/workflows/build_and_test.yml
Due: none

WIP
  .github/actions/test_qml/action.yml
Due: none

WIP
  .github/actions/test_backend/action.yml
  .github/actions/test_python/action.yml
  .github/actions/test_qml/action.yml
  .github/workflows/build_and_test.yml
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/Backend.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
Due: Python, C(++)

WIP
  overrides/macos_release_overrides.toml
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/LoggingBackend.h
Due: C(++)

WIP
  overrides/macos_release_overrides.toml
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
Due: none

Logging refactor
  src/libshoopdaloop/custom_qt_msg_handler/custom_qt_msg_handler.cpp
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/AudioChannel.h
  src/libshoopdaloop/internal/Backend.cpp
  src/libshoopdaloop/internal/Backend.h
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/BasicLoop.h
  src/libshoopdaloop/internal/ConnectedPort.cpp
  src/libshoopdaloop/internal/ConnectedPort.h
  src/libshoopdaloop/internal/CustomProcessingChain.cpp
  src/libshoopdaloop/internal/CustomProcessingChain.h
  src/libshoopdaloop/internal/DummyAudioSystem.cpp
  src/libshoopdaloop/internal/DummyAudioSystem.h
  src/libshoopdaloop/internal/LoggingBackend.cpp
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/LoggingEnabled.h
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiStateDiffTracker.h
  src/libshoopdaloop/internal/MidiStateTracker.cpp
  src/libshoopdaloop/internal/MidiStateTracker.h
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/internal/jack/JackAudioSystem.cpp
  src/libshoopdaloop/internal/jack/JackAudioSystem.h
  src/libshoopdaloop/internal/jack/JackPort.cpp
  src/libshoopdaloop/internal/jack/JackPort.h
  src/libshoopdaloop/internal/jack/JackTestApi.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/internal/libshoopdaloop_test_if.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.h
  src/libshoopdaloop/internal/stream_format.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/integration/test_chains.cpp
Due: C(++)

WIP
  .gitmodules
  src/cmake/Findfmt.cmake
  src/cmake/Findspdlog.cmake
  src/libshoopdaloop/custom_qt_msg_handler/CMakeLists.txt
  src/libshoopdaloop/custom_qt_msg_handler/custom_qt_msg_handler.cpp
  src/libshoopdaloop/internal/DummyAudioSystem.cpp
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/LoggingEnabled.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/logging.py
Due: Python, C(++)

WIP
  .vscode/settings.json
  src/libshoopdaloop/BuildStaticDependencies.cmake
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/LoggingBackend.cpp
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/LoggingEnabled.h
Due: C(++)

WIP
  src/libshoopdaloop/internal/ConnectedChannel.h
  src/libshoopdaloop/internal/ConnectedDecoupledMidiPort.h
  src/libshoopdaloop/internal/ConnectedFXChain.h
  src/libshoopdaloop/internal/ConnectedLoop.h
  src/libshoopdaloop/internal/ConnectedPort.h
  src/libshoopdaloop/internal/LoggingBackend.cpp
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/shoop_globals.h
Due: C(++)

WIP
  src/libshoopdaloop/test/unit/test_DummyAudioSystem.cpp
Due: C(++)

WIP
  .github/actions/prepare_build_windows/action.yml
  overrides/linux_debug_overrides.toml
  src/CMakeLists.txt
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/custom_qt_msg_handler/CMakeLists.txt
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/CMakeLists.txt
Due: C(++)

WIP
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/custom_qt_msg_handler/CMakeLists.txt
  src/libshoopdaloop/custom_qt_msg_handler/custom_qt_msg_handler.h
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/internal/export.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
Due: C(++)

WIP
  src/libshoopdaloop/custom_qt_msg_handler/CMakeLists.txt
  src/libshoopdaloop/internal/LoggingBackend.h
Due: C(++)

WIP
  .github/workflows/build_and_test.yml
  overrides/linux_debug_overrides.toml
  overrides/macos_debug_overrides.toml
  overrides/windows_debug_overrides.toml
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/custom_qt_msg_handler/CMakeLists.txt
  src/libshoopdaloop/test/qt/CMakeLists.txt
Due: none

WIP
  .github/workflows/build_and_test.yml
  a.out
  build_qt_test/.qt/QtDeploySupport.cmake
  build_qt_test/CMakeCache.txt
  build_qt_test/CMakeFiles/3.27.7/CMakeCCompiler.cmake
  build_qt_test/CMakeFiles/3.27.7/CMakeCXXCompiler.cmake
  build_qt_test/CMakeFiles/3.27.7/CMakeDetermineCompilerABI_C.bin
  build_qt_test/CMakeFiles/3.27.7/CMakeDetermineCompilerABI_CXX.bin
  build_qt_test/CMakeFiles/3.27.7/CMakeSystem.cmake
  build_qt_test/CMakeFiles/3.27.7/CompilerIdC/CMakeCCompilerId.c
  build_qt_test/CMakeFiles/3.27.7/CompilerIdC/a.out
  build_qt_test/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
  build_qt_test/CMakeFiles/3.27.7/CompilerIdCXX/a.out
  build_qt_test/CMakeFiles/CMakeConfigureLog.yaml
  build_qt_test/CMakeFiles/CMakeDirectoryInformation.cmake
  build_qt_test/CMakeFiles/Makefile.cmake
  build_qt_test/CMakeFiles/Makefile2
  build_qt_test/CMakeFiles/TargetDirectories.txt
  build_qt_test/CMakeFiles/cmake.check_cache
  build_qt_test/CMakeFiles/progress.marks
  build_qt_test/Makefile
  build_qt_test/cmake_install.cmake
  docs/source/developers.software.rst
  overrides/windows_release_overrides.toml
  src/libshoopdaloop/custom_qt_msg_handler/CMakeLists.txt
  src/shoopdaloop/lib/logging.py
  windows_command
Due: Python

WIP
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/test/qt/CMakeLists.txt
Due: none

WIP
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/custom_qt_msg_handler/custom_qt_msg_handler.h
  src/libshoopdaloop/internal/export.h
  src/libshoopdaloop/libshoopdaloop.h
Due: C(++)

wip
  .github/workflows/build_and_test.yml
  src/CMakeLists.txt
  src/libshoopdaloop/CMakeLists.txt
Due: none

wip
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/custom_qt_msg_handler/CMakeLists.txt
  src/libshoopdaloop/custom_qt_msg_handler/custom_qt_msg_handler.cpp
  src/libshoopdaloop/custom_qt_msg_handler/custom_qt_msg_handler.h
  src/shoopdaloop/find_qt_lib.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/run_qml_tests.py
Due: Python, C(++)

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
