Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
Due: Python

WIP
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/mode_helpers.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/DummyProcessHelper.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/CompositeLoop.qml
Due: Python

WIP
  src/shoopdaloop/lib/delay.js
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/DummyProcessHelper.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
Due: Python

WIP
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
Due: none

WIP
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/Backend.qml
  src/shoopdaloop/lib/qml/test/ShoopTestFile.qml
  src/shoopdaloop/lib/qml/test/tst_Backend.qml
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_actions.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_filters.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
  src/shoopdaloop/run_qml_tests.py
Due: Python

WIP
  src/shoopdaloop/lib/backend_wrappers.py
Due: Python

Composite loops still operate if GUI frozen (#163)
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/delay.js
  src/shoopdaloop/lib/mode_helpers.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/DummyProcessHelper.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/Backend.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/ShoopMenuItem.qml
  src/shoopdaloop/lib/qml/test/ShoopTestFile.qml
  src/shoopdaloop/lib/qml/test/tst_Backend.qml
  src/shoopdaloop/lib/qml/test/tst_Backend_jack.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_actions.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_filters.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/run_qml_tests.py
Due: Python

WIP
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: none

WIP
  src/libshoopdaloop/internal/AudioPort.h
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/GraphAudioPort.cpp
  src/libshoopdaloop/internal/GraphLoopChannel.cpp
  src/libshoopdaloop/internal/GraphLoopChannel.h
  src/libshoopdaloop/internal/GraphMidiPort.cpp
  src/libshoopdaloop/internal/GraphPort.h
  src/libshoopdaloop/internal/LoggingEnabled.h
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiPort.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/CMakeLists.txt
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/libshoopdaloop/test/unit/test_DummyPorts.cpp
  src/libshoopdaloop/test/unit/test_InternalAudioPort.cpp
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/DebugInspectionItemWindow.qml
  src/shoopdaloop/lib/qml/MidiPort.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/session_schemas/schemas/audioport.1.json
  src/shoopdaloop/lib/session_schemas/schemas/midiport.1.json
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/BackendSession.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioChannel.cpp
  src/libshoopdaloop/internal/BackendSession.cpp
  src/libshoopdaloop/internal/BackendSession.h
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/GraphLoop.cpp
  src/libshoopdaloop/internal/GraphLoopChannel.cpp
  src/libshoopdaloop/internal/GraphPort.cpp
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/libshoopdaloop/test/integration/test_graph_construction.cpp
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/DebugInspectionItemWindow.qml
Due: Python, C(++)

WIP
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/MidiPort.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_Jack_ports.qml
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/lib/session_schemas/schemas/audioport.1.json
  src/shoopdaloop/lib/session_schemas/schemas/midiport.1.json
Due: Python, C(++)

WIP
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/session_schemas/schemas/track.1.json
Due: none

Track width adjustable (#165)
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/session_schemas/schemas/track.1.json
Due: none

WIP
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
Due: none

WIP
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/MidiMessage.h
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/helpers.h
  src/libshoopdaloop/test/integration/test_chains.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/AudioMidiLoop.cpp
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/GraphPort.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/test/helpers.h
  src/libshoopdaloop/test/integration/test_chains.cpp
Due: C(++)

WIP
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/GraphLoopChannel.cpp
  src/libshoopdaloop/internal/GraphMidiPort.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiPort.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
  src/libshoopdaloop/internal/MidiStorage.h
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
Due: C(++)

WIP
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
Due: C(++)

WIP
  src/libshoopdaloop/internal/graph_processing_order.cpp
Due: C(++)

WIP
  src/shoopdaloop/lib/StatesAndActions.py
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
Due: Python

WIP
  src/libshoopdaloop/test/CMakeLists.txt
Due: none

WIP
  src/CMakeLists.txt
  src/libshoopdaloop/test/CMakeLists.txt
Due: none

wip
  src/libshoopdaloop/test/CMakeLists.txt
Due: none

Bugfixes (#168)
  src/CMakeLists.txt
  src/libshoopdaloop/test/CMakeLists.txt
  src/shoopdaloop/lib/StatesAndActions.py
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
Due: Python

wip
  .gitignore
  .vscode/tasks.json
Due: none

wip
  .github/workflows/build_and_test.yml
Due: none

Change editable install command (#169)
  .github/workflows/build_and_test.yml
  .gitignore
  .vscode/tasks.json
Due: none

WIP
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/FXChain.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/Mapper.qml
  src/shoopdaloop/lib/qml/MapperWithLoadedDetection.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
Due: none

Drag 'n drop tracks (#170)
  src/shoopdaloop/lib/qml/BackendLoopWithChannels.qml
  src/shoopdaloop/lib/qml/FXChain.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/Mapper.qml
  src/shoopdaloop/lib/qml/MapperWithLoadedDetection.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
Due: none

wip
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

WIP
  src/shoopdaloop/lib/qml/ShoopTextField.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: none

WIP (#172)
  src/shoopdaloop/lib/qml/ShoopTextField.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: none

master loop -> sync loop
  README.md
  docs/source/concept.rst
  docs/source/developers.software.rst
  docs/source/resources/syncloop.gif
  docs/source/usage.loopcontrols.rst
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/lua/builtins/keyboard.lua
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/qml/AppRegistries.qml
  src/shoopdaloop/lib/qml/CompositeLoop.qml
  src/shoopdaloop/lib/qml/LoopContentWidget.qml
  src/shoopdaloop/lib/qml/LoopDetailsWindow.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
  src/shoopdaloop/lib/qml/applications/shoopdaloop_main.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_running.qml
  src/shoopdaloop/lib/qml/test/tst_CompositeLoop_scheduling.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Resample.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
  src/shoopdaloop/lib/qml/test/tst_Session_channels.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TwoLoops.qml
  src/shoopdaloop/lib/session_schemas/schemas/loop.1.json
Due: Python

WIP
  src/libshoopdaloop/internal/LoopInterface.h
  src/shoopdaloop/lib/qml/NewTrackDialog.qml
  src/shoopdaloop/lib/qml/ShoopComboBox.qml
  src/shoopdaloop/lib/qml/ShoopDialog.qml
  src/shoopdaloop/lib/qml/ShoopTextField.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
Due: C(++)

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
