Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

WIP
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/Session.qml
Due: none

WIP
  src/shoopdaloop/lib/midi.js
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/LuaControlInterface.qml
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/MidiControlConfiguration.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/test/testDeepEqual.js
  src/shoopdaloop/lib/qml/test/tst_MidiControl.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/EditMidiControl.qml
Due: none

WIP
  src/shoopdaloop/lib/midi.js
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/EditMidiMessageFilter.qml
Due: none

WIP
  src/shoopdaloop/lib/midi.js
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/EditMidiMessageFilter.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: none

WIP
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/EditMidiMessageFilter.qml
Due: none

WIP
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/MidiControl.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/LuaUserScript.qml
  src/shoopdaloop/lib/qml/ScriptingWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_actions.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_filters.qml
Due: none

WIP
  src/shoopdaloop/lib/qml/MidiControlConfiguration.qml
  src/shoopdaloop/lib/qml/Settings.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_actions.qml
  src/shoopdaloop/lib/session_schemas/schemas/midi_control_configuration.1.json
  src/shoopdaloop/lib/session_schemas/schemas/midi_settings.1.json
Due: none

WIP
  pyproject.toml
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/SettingsIO.py
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

WIP
  src/shoopdaloop/lib/midi.js
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/q_objects/AppRegistries.py
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/SchemaValidator.py
  src/shoopdaloop/lib/q_objects/SettingsIO.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/AppRegistries.qml
  src/shoopdaloop/lib/qml/AudioPort.qml
  src/shoopdaloop/lib/qml/DebugInspectionItemWindow.qml
  src/shoopdaloop/lib/qml/DebugInspectionMainWindow.qml
  src/shoopdaloop/lib/qml/EditMidiMessageFilter.qml
  src/shoopdaloop/lib/qml/FXChain.qml
  src/shoopdaloop/lib/qml/LoopAudioChannel.qml
  src/shoopdaloop/lib/qml/LoopMidiChannel.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/MidiControlConfiguration.qml
  src/shoopdaloop/lib/qml/MidiPort.qml
  src/shoopdaloop/lib/qml/ScenesWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/Settings.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/qml/applications/tracks.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControl_drywet.qml
  src/shoopdaloop/lib/qml_helpers.py
  src/shoopdaloop/lib/session_schemas/schemas/midi_settings.1.json
  src/shoopdaloop/lib/session_schemas/schemas/settings.1.json
  src/shoopdaloop/lib/session_schemas/session_schemas.py
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/SchemaValidator.py
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: Python

WIP
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

WIP
  docs/source/_ext/shoop_function_docstrings.py
  docs/source/conf.py
  docs/source/developers_scripting.rst
  src/shoopdaloop/lib/q_objects/ControlHandler.py
Due: Python

WIP
  docs/source/_ext/shoop_function_docstrings.py
  docs/source/developers_scripting.rst
  src/shoopdaloop/lib/q_objects/ControlHandler.py
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/ControlHandler.py
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/ControlInterface.py
Due: Python

WIP
  src/libshoopdaloop/internal/LoggingBackend.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: C(++)

WIP
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/session_schemas/schemas/midi_control_configuration.1.json
Due: none

WIP
  src/shoopdaloop/lib/lua/lib/shoop_helpers.lua
  src/shoopdaloop/lib/midi.js
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/EditMidiMessageFilter.qml
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/TrackWidget.qml
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
Due: Python

WIP
  docs/source/developers_scripting.rst
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/lua_qobject_interface_test.py
  src/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
  src/shoopdaloop/lib/q_objects/ControlInterface.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine_test.py
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/Session.qml
Due: Python

WIP
  .vscode/settings.json
  src/shoopdaloop/lib/lua_qobject_interface.py
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/MidiControlPort.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_actions.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControl_filters.qml
  src/shoopdaloop/lib/qml/test/tst_SessionDescriptor_default.qml
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
Due: Python

WIP
  src/shoopdaloop/lib/lua_qobject_interface_test.py
  src/shoopdaloop/lib/q_objects/ScriptingEngine.py
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/ControlHandler_lua_test.py
Due: Python

WIP
  src/shoopdaloop/lib/generate_session.js
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

WIP
  .github/actions/backend_test/action.yml
  .github/actions/python_test/action.yml
  .github/actions/qml_test/action.yml
Due: none

WIP
  src/shoopdaloop/lib/q_objects/AppRegistries.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/AppRegistries.qml
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/EditMidiMessageFilter.qml
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/TracksWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml_helpers.py
Due: Python

WIP
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/RegisterInRegistry.qml
  src/shoopdaloop/lib/qml/RegistryLookup.qml
  src/shoopdaloop/lib/qml/RegistryLookups.qml
  src/shoopdaloop/lib/qml/RegistrySelects.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/session_schemas/schemas/script_settings.1.json
  src/shoopdaloop/lib/session_schemas/schemas/settings.1.json
Due: none

WIP
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/LuaScript.qml
  src/shoopdaloop/lib/qml/LuaScripts.qml
  src/shoopdaloop/lib/qml/ScriptSettings.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
  src/shoopdaloop/lib/qml/test/tst_Lua.qml
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

WIP
  src/shoopdaloop/lib/q_objects/ControlHandler.py
  src/shoopdaloop/lib/qml/AppControls.qml
  src/shoopdaloop/lib/qml/AudioSlider.qml
  src/shoopdaloop/lib/qml/Session.qml
  src/shoopdaloop/lib/qml/SessionControlInterface.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
  src/shoopdaloop/lib/qml/TrackControlWidget.qml
  src/shoopdaloop/lib/qml/applications/shoopdaloop_main.qml
  src/shoopdaloop/lib/qml/test/tst_ControlInterface_lua.qml
Due: Python

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
