Repository SanderVocke/shoopdaloop: changes, and which Codecov flags are due for each by the changed paths.
All: Python, C(++)

Update INSTALL.md
  INSTALL.md
Due: none

Fix creation of MIDI control ports
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/MidiControlPort.qml
Due: Python

Refine and test MIDI corner cases
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiStateTracker.cpp
  src/libshoopdaloop/internal/MidiStateTracker.h
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
Due: C(++)

Fix creation of MIDI control ports (#297)
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/MidiControlPort.qml
Due: Python

Make sure there is no timeout on crash
  src/shoopdaloop/lib/crash_handling.py
Due: Python

Fix crash attachment upload
  .github/workflows/build_and_test.yml
Due: none

WIP
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
Due: C(++)

Refine and test MIDI corner cases around loop start (#298)
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiStateTracker.cpp
  src/libshoopdaloop/internal/MidiStateTracker.h
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
Due: C(++)

Better crash timeout
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/shoopdaloop/lib/crash_handling.py
Due: Python, C(++)

Better crash timeout (#300)
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/shoopdaloop/lib/crash_handling.py
Due: Python, C(++)

wip
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
  src/shoopdaloop/lib/crash_handling.py
Due: Python, C(++)

Another crash timeout fix.
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
Due: C(++)

Another crash handling fix.
  src/libshoopdaloop/crashhandling/shoop_crashhandling.cpp
Due: C(++)

Bugfixes for MIDI and CI builds
  src/libshoopdaloop/internal/AudioMidiDriver.h
  src/libshoopdaloop/internal/CustomProcessingChain.cpp
  src/libshoopdaloop/internal/DecoupledMidiPort.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/internal/GraphLoopChannel.cpp
  src/libshoopdaloop/internal/jack/JackAllPorts.cpp
  src/libshoopdaloop/internal/jack/JackAllPorts.h
  src/libshoopdaloop/internal/jack/JackApi.h
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.cpp
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.h
  src/libshoopdaloop/internal/jack/JackMidiPort.cpp
  src/libshoopdaloop/internal/jack/JackMidiPort.h
  src/libshoopdaloop/internal/jack/JackPort.cpp
  src/libshoopdaloop/internal/jack/JackPort.h
  src/libshoopdaloop/internal/jack/JackTestApi.cpp
  src/libshoopdaloop/internal/jack/JackTestApi.h
  src/libshoopdaloop/internal/lv2/CarlaLV2ProcessingChain.cpp
  src/libshoopdaloop/internal/lv2/InternalLV2MidiOutputPort.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/libshoopdaloop/test/integration/test_chains.cpp
  src/libshoopdaloop/test/unit/test_DummyAudioMidiDriver.cpp
  src/libshoopdaloop/test/unit/test_DummyPorts.cpp
  src/libshoopdaloop/test/unit/test_JackPorts.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/__main__.py
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/CompositeLoop.py
  src/shoopdaloop/lib/q_objects/FXChain.py
  src/shoopdaloop/lib/q_objects/FindParentBackend.py
  src/shoopdaloop/lib/q_objects/Loop.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/Port.py
  src/shoopdaloop/qml_tests.py
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
Due: C(++)

WIP
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/DummyAudioMidiDriver.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/libshoopdaloop.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/js_constants.py
  src/shoopdaloop/lib/q_objects/AudioPort.py
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/MidiPort.py
  src/shoopdaloop/lib/qml/test/tst_MidiControlPort.qml
Due: Python, C(++)

WIP
  src/libshoopdaloop/internal/DummyAudioMidiDriver.cpp
  src/libshoopdaloop/internal/jack/JackAudioMidiDriver.cpp
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/MidiControlPort.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControlPort.qml
  src/shoopdaloop/qml_tests.py
Due: Python, C(++)

wip
  src/shoopdaloop/lib/midi_control.js
  src/shoopdaloop/lib/q_objects/Application.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/qml/EditMidiControl.qml
  src/shoopdaloop/lib/qml/MidiControl.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/session_schemas/schemas/midi_control_configuration.1.json
Due: Python

Expand tests
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
Due: C(++)

WIP
  src/shoopdaloop/lib/lua/builtins/akai_apc_mini_mk1.lua
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
  src/shoopdaloop/lib/qml/SettingsDialog.qml
Due: Python

WIP
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/shoopdaloop/lib/midi.js
  src/shoopdaloop/lib/q_objects/AutoConnect.py
  src/shoopdaloop/lib/q_objects/Backend.py
  src/shoopdaloop/lib/q_objects/MidiControlPort.py
  src/shoopdaloop/lib/q_objects/TestRunner.py
  src/shoopdaloop/lib/qml/MidiControlPort.qml
  src/shoopdaloop/lib/qml/test/ShoopSessionTestCase.qml
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_MidiControlPort.qml
Due: Python, C(++)

wip
  src/shoopdaloop/lib/q_objects/AutoConnect.py
Due: Python

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/libshoopdaloop/internal/MidiStateDiffTracker.cpp
  src/libshoopdaloop/internal/MidiStateDiffTracker.h
  src/libshoopdaloop/internal/MidiStateTracker.cpp
  src/libshoopdaloop/internal/MidiStateTracker.h
  src/libshoopdaloop/internal/libshoopdaloop_test_if.h
  src/libshoopdaloop/internal/midi_helpers.cpp
  src/libshoopdaloop/internal/midi_helpers.h
  src/libshoopdaloop/libshoopdaloop.cpp
  src/libshoopdaloop/test/helpers.h
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
  src/libshoopdaloop/types.h
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_Session_save_load.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_drywet.qml
  src/shoopdaloop/lib/smf.py
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiStateDiffTracker.cpp
  src/libshoopdaloop/internal/MidiStateTracker.cpp
  src/libshoopdaloop/internal/MidiStateTracker.h
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
Due: C(++)

wip
  src/libshoopdaloop/CMakeLists.txt
  src/libshoopdaloop/internal/MidiStateDiffTracker.cpp
  src/libshoopdaloop/internal/MidiStateTracker.cpp
  src/libshoopdaloop/internal/MidiStateTracker.h
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiStateTracker.cpp
  src/shoopdaloop/lib/backend_wrappers.py
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/qml/test/ShoopTestCase.qml
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
  src/shoopdaloop/lib/qml/test/tst_TrackControlAndLoop_direct.qml
Due: Python, C(++)

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/test/unit/test_AudioMidiLoop_midi.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiChannel.h
  src/shoopdaloop/lib/q_objects/FileIO.py
  src/shoopdaloop/lib/qml/test/tst_Midi.qml
Due: Python, C(++)

MIDI looping documentation
  docs/source/usage.loopcontrols.rst
Due: none

Bugfixes on MIDI loading and displaying
  src/shoopdaloop/lib/q_objects/FetchChannelData.py
  src/shoopdaloop/lib/q_objects/LoopAudioChannel.py
  src/shoopdaloop/lib/q_objects/LoopChannel.py
  src/shoopdaloop/lib/q_objects/LoopMidiChannel.py
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: Python

Fix MacOS build issue
  src/libshoopdaloop/internal/MidiChannel.cpp
Due: C(++)

MacOS Boost::Stacktrace
  src/libshoopdaloop/CMakeLists.txt
Due: none

Fix MIDI CPU issues
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
Due: C(++)

wip
  src/libshoopdaloop/internal/MidiChannel.cpp
Due: C(++)

Fix MIDI CPU issues (#310)
  src/libshoopdaloop/internal/BasicLoop.cpp
  src/libshoopdaloop/internal/MidiChannel.cpp
  src/libshoopdaloop/internal/MidiStorage.cpp
Due: C(++)

Remove option to save audio/midi for uninitialized loops
  src/shoopdaloop/lib/qml/LoopWidget.qml
Due: none

Path conditions:
  Python: any of: **/*.py, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
  C(++): any of: **/*.cpp, **/*.h, **/*.hpp, **/*.c, but not: .github, docs, dist, distribution, scripts, third_party, build, src/shoopdaloop/third_party
